/**
 * Scalar Tailwind Config
 *
 * This config provides a base theme for Scalar Tailwind projects.
 */

/*
 * Tailwind Base Theme
 *
 * We build our theme on top of the Tailwind base theme variables.
 */
@import "tailwindcss/theme.css" layer(scalar-base);

/*
 * Scalar Tailwind Theme
 *
 * @see https://tailwindcss.com/docs/theme#overriding-the-default-theme
 */
@import "./tailwind/theme.css" layer(scalar-base);

/*
 * Scalar Tailwind Variants
 *
 * @see https://tailwindcss.com/docs/adding-custom-styles#using-variants
 */
@import "./tailwind/variants.css";

/*
 * Scalar Tailwind Utilities
 *
 * @see https://tailwindcss.com/docs/adding-custom-styles#adding-custom-utilities
 */
@import "./tailwind/utilities.css";

/*
 * Tailwind Shadow DOM Preflight
 *
 * This initializes the Tailwind variables for the shadow DOM because @property is not supported in shadow DOM.
 *
 * @see https://github.com/tailwindlabs/tailwindcss/pull/15975#issuecomment-2650130010
 */
@import "./tailwind/shadow-dom.css" layer(scalar-base);
