{
  "openapi": "3.1.0",
  "info": {
    "title": "AuthBasic",
    "version": "1.0.0",
    "description": "Collection to test authorization global"
  },
  "paths": {
    "/users": {
      "post": {
        "summary": "Create new User Copy",
        "description": "Create a new user into your amazing API",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "examples": {
                "Default example": {
                  "value": "{\n    \"example\": \"field\",\n    \"other\": {\n        \"data1\": \"yes\",\n        \"data2\": \"no\"\n    }\n}"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get list of users",
        "description": "Obtain a list of users that fullfill the conditions of the filters",
        "parameters": [
          {
            "name": "age",
            "in": "query",
            "description": "Filter by age",
            "examples": {
              "Default example": {
                "value": "45",
                "x-disabled": false
              }
            },
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name",
            "examples": {
              "Default example": {
                "value": "Jhon",
                "x-disabled": false
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "review",
            "in": "query",
            "description": "Indicate if should be reviewed or not",
            "examples": {
              "Default example": {
                "value": "true",
                "x-disabled": false
              }
            },
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "number",
            "in": "query",
            "description": "This is a number",
            "examples": {
              "Default example": {
                "value": "23.56",
                "x-disabled": false
              }
            },
            "schema": {
              "type": "number"
            }
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "servers": [
    {
      "url": "https://api.io"
    }
  ]
}