{
  "openapi": "3.1.0",
  "info": {
    "title": "License and Contact",
    "version": "1.0.0",
    "description": "Collection to test license as variable",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "contact": {
      "name": "API Support",
      "url": "http://www.example.com/support",
      "email": "support@example.com"
    }
  },
  "paths": {
    "/users": {
      "get": {
        "summary": "Get list of users",
        "description": "Obtain a list of users that fullfill the conditions of the filters",
        "parameters": [
          {
            "name": "age",
            "in": "query",
            "description": "Filter by age",
            "examples": {
              "Default example": {
                "value": "45",
                "x-disabled": false
              }
            },
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name",
            "examples": {
              "Default example": {
                "value": "Jhon",
                "x-disabled": false
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "review",
            "in": "query",
            "description": "Indicate if should be reviewed or not",
            "examples": {
              "Default example": {
                "value": "true",
                "x-disabled": false
              }
            },
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "number",
            "in": "query",
            "description": "This is a number",
            "examples": {
              "Default example": {
                "value": "23.56",
                "x-disabled": false
              }
            },
            "schema": {
              "type": "number"
            }
          }
        ]
      }
    }
  },
  "servers": [
    {
      "url": "https://api.io"
    }
  ]
}