{
  "openapi": "3.1.0",
  "info": {
    "title": "MultipleServers",
    "version": "1.1.0",
    "description": "Collection to test multiples server parsing."
  },
  "paths": {
    "/users": {
      "post": {
        "summary": "Create new User",
        "description": "Create a new user into your amazing API",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "examples": {
                "Default example": {
                  "value": "{\n    \"example\": \"field\",\n    \"other\": {\n        \"data1\": \"yes\",\n        \"data2\": \"no\"\n    }\n}"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update User",
        "description": "Update an existing user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "examples": {
                "Default example": {
                  "value": "{\n    \"example\": \"field\",\n    \"other\": {\n        \"data1\": \"yes\",\n        \"data2\": \"no\"\n    }\n}"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://api.io"
        }
      ]
    },
    "/posts": {
      "post": {
        "summary": "Create a post",
        "requestBody": {
          "content": {
            "text/plain": {}
          }
        },
        "servers": [
          {
            "url": "https://api.dev.io"
          }
        ]
      }
    },
    "/note": {
      "post": {
        "summary": "Create a note",
        "description": "Just an example of text raw body",
        "requestBody": {
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "examples": [
                  "This is an example Note"
                ]
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.pre.io"
          }
        ]
      }
    }
  }
}