{
  "openapi": "3.1.0",
  "info": {
    "title": "No Path",
    "version": "1.0.0",
    "description": "API to manage GET methods"
  },
  "paths": {
    "/": {
      "get": {
        "summary": "Get list of users",
        "description": "Obtain a list of users that fullfill the conditions of the filters",
        "parameters": [
          {
            "name": "age",
            "in": "query",
            "description": "Filter by age",
            "examples": {
              "Default example": {
                "value": "45",
                "x-disabled": false
              }
            },
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by name",
            "examples": {
              "Default example": {
                "value": "Jhon",
                "x-disabled": false
              }
            },
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "review",
            "in": "query",
            "description": "Indicate if should be reviewed or not",
            "examples": {
              "Default example": {
                "value": "true",
                "x-disabled": false
              }
            },
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "number",
            "in": "query",
            "description": "This is a number",
            "examples": {
              "Default example": {
                "value": "23.56",
                "x-disabled": false
              }
            },
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "required",
            "in": "query",
            "description": "mandatory paraemeter",
            "examples": {
              "Default example": {
                "value": "my value",
                "x-disabled": false
              }
            },
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  },
  "servers": [
    {
      "url": "https://api.io"
    }
  ]
}