{
  "openapi": "3.1.0",
  "info": {
    "title": "Path Params",
    "version": "1.0.0",
    "description": "Collection to test path parameters"
  },
  "paths": {
    "/users/{user_id}": {
      "get": {
        "summary": "Get one users info",
        "description": "Obtain a list of users that fullfill the conditions of the filters",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/customer/{customer-id}": {
      "get": {
        "summary": "Get one customer",
        "description": "Obtain one customer info",
        "parameters": [
          {
            "name": "customer-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/desc/{user_id}": {
      "get": {
        "summary": "Get one users with description",
        "description": "Obtain a list of users descriptions",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "This is just a user identifier",
            "required": true,
            "schema": {
              "type": "number"
            },
            "example": "476587598"
          }
        ]
      }
    },
    "/desc/{user_id}/{type}": {
      "get": {
        "summary": "Get one users with path params with type",
        "description": "Obtain a list of users descriptions",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "This is just a user identifier",
            "examples": {
              "Default example": {
                "value": "476587598",
                "x-disabled": false
              }
            },
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "This is just a user type",
            "examples": {
              "Default example": {
                "value": "user",
                "x-disabled": false
              }
            },
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/desc/{user_id}/{type}/all": {
      "get": {
        "summary": "Get all users with description and params with type",
        "description": "Obtain a list of users descriptions",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "This is just a user identifier",
            "required": true,
            "schema": {
              "type": "number"
            },
            "example": "476587598"
          },
          {
            "name": "type",
            "in": "path",
            "description": "This is just a user type",
            "examples": {
              "Default example": {
                "value": "user",
                "x-disabled": false
              }
            },
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  },
  "servers": [
    {
      "url": "https://api.io"
    }
  ]
}