annotated-types==0.6.0
anyio==4.3.0
click==8.1.7
fastapi==0.121.3
h11==0.16.0
httptools==0.7.1
idna==3.7
pydantic==2.8.0
pydantic_core==2.20.0
python-dotenv==1.0.1
PyYAML==6.0.1
scalar-fastapi==1.0.1
sniffio==1.3.1
starlette==0.49.1
typing_extensions==4.12.2
uvicorn==0.29.0
uvloop==0.22.1
watchfiles==0.21.0
websockets==12.0
