annotated-types==0.7.0
anyio==4.13.0
click==8.3.2
fastapi==0.135.3
h11==0.16.0
httptools==0.7.1
idna==3.11
pydantic==2.13.0
pydantic_core==2.46.0
python-dotenv==1.2.2
PyYAML==6.0.3
scalar-fastapi==1.8.2
sniffio==1.3.1
starlette==1.0.0
typing_extensions==4.15.0
uvicorn==0.44.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
