.cm-scroller,
.custom-scroll {
  overflow-y: scroll;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
  -webkit-overflow-scrolling: touch;
}
.custom-scroll-self-contain-overflow {
  overscroll-behavior: contain;
}
.custom-scroll-extra-padding-right {
  padding-right: 12px !important;
}
@supports (-moz-appearance: none) {
  .cm-scroller,
  .custom-scroll {
    padding-right: 12px;
  }
  .custom-scroll-extra-padding-right {
    padding-right: 24px !important;
  }
}
.cm-scroller:hover,
.custom-scroll:hover {
  scrollbar-color: var(--theme-scrollbar-color) transparent;
}
.cm-scroller:hover::-webkit-scrollbar-thumb,
.custom-scroll:hover::-webkit-scrollbar-thumb {
  background: var(--theme-scrollbar-color);
  background-clip: content-box;
  border: 3px solid transparent;
}
.cm-scroller::-webkit-scrollbar-thumb:active,
.custom-scroll::-webkit-scrollbar-thumb:active {
  background: var(--theme-scrollbar-color-active);
  background-clip: content-box;
  border: 3px solid transparent;
}
.cm-scroller::-webkit-scrollbar-corner,
.custom-scroll::-webkit-scrollbar-corner {
  background: transparent;
}
.cm-scroller::-webkit-scrollbar,
.custom-scroll::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
.cm-scroller::-webkit-scrollbar-track,
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.cm-scroller::-webkit-scrollbar-thumb,
.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: transparent;
  background-clip: content-box;
  border: 3px solid transparent;
}
@media (pointer: coarse) {
  .cm-scroller,
  .custom-scroll {
    padding-right: 12px;
  }
  .custom-scroll-extra-padding-right {
    padding-right: 24px !important;
  }
}
