VITE_DASHBOARD_URL=http://localhost:3560
# Note: The electron node context cannot leverage the Vite proxy plugin so we need the full URL
VITE_BASE_URL=http://localhost:9999
VITE_PLATFORM_VERSION=1.0.0
