/* Custom Header CSS */
:root {
  --scalar-custom-header-height: 50px;
}
.custom-header {
  height: var(--scalar-custom-header-height);
  background-color: var(--scalar-background-1);
  border-bottom: var(--scalar-border-width) solid var(--scalar-border-color);
  color: var(--scalar-color-1);
  font-size: var(--scalar-font-size-2);
  padding: 0 18px;
  position: sticky;
  justify-content: space-between;
  top: 0;
  z-index: 100;
}
.custom-header,
.custom-header nav {
  display: flex;
  align-items: center;
  gap: 18px;
}
.custom-header a:hover {
  color: var(--scalar-color-2);
}
