/**
 * Components Specific Tailwind Theme
 */

@theme inline {
  /* Header Colors */
  --color-b-header-1: var(--scalar-header-background-1, var(--scalar-background-1));
  --color-b-header-2: var(--scalar-header-background-2, var(--scalar-background-2));
  --color-c-header-1: var(--scalar-header-color-1, var(--scalar-color-1));
  --color-c-header-2: var(--scalar-header-color-2, var(--scalar-color-2));

  --color-border-header: var(--scalar-header-border-color, var(--scalar-border-color));

  --color-b-header-cta: var(--scalar-header-call-to-action-color, var(--scalar-button-1));
  --color-h-header-cta: color-mix(
    in srgb,
    var(--scalar-header-call-to-action-color, var(--scalar-button-1)),
    var(--scalar-header-background-1, var(--scalar-background-1)) 15%
  );
  --color-c-header-cta: var(--scalar-button-1-color);

  /* Easing Functions */
  --ease-spring: linear(
    0,
    0.008 1.1%,
    0.034 2.3%,
    0.134 4.9%,
    0.264 7.3%,
    0.683 14.3%,
    0.797 16.5%,
    0.89 18.6%,
    0.967 20.7%,
    1.027 22.8%,
    1.073 25%,
    1.104 27.3%,
    1.123 30.6%,
    1.119 34.3%,
    1.018 49.5%,
    0.988 58.6%,
    0.985 65.2%,
    1 84.5%,
    1
  );
}
