node_modules/
dist/
.env
.turbo
*.tgz
tsconfig.tsbuildinfo

# Testing data
test-*.json
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Temporary Vite/Vitest config files
*.config.ts.timestamp-*.mjs
