node_modules/
dist/
.history/
.env
.next
.turbo
*.tgz
*.tsbuildinfo
__pycache__/

# Testing data
test-*.json
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Temporary Vite/Vitest config files
*.config.ts.timestamp-*.mjs
rollup.config-*.mjs

.DS_Store

# Svelte
.svelte-kit