node_modules/
dist/
.env
.turbo
*.tgz
tsconfig.tsbuildinfo

# Testing data
test-*.json
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Temporary Vite/Vitest config files
*.config.ts.timestamp-*.mjs


.DS_Store

# ANGULAR IGNORES ----------------------------------------------------------
/dist/
/bazel-out
/integration/bazel/bazel-*
*.log

# Don't check in secret files
*secret.js

# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log

# build-analytics
.build-analytics

# rollup-test output
/modules/rollup-test/dist/

# User specific bazel settings
.bazelrc.user

# User specific ng-dev settings
.ng-dev.user*

.notes.md
baseline.json

# Ignore .history for the xyz.local-history VSCode extension
.history

# Husky
.husky/_
aio/content/examples/.DS_Store

# Ignore cache created with the Angular CLI.
.angular/
