# Needed to install npm version of our workspace packages
# https://pnpm.io/npmrc#link-workspace-packages
link-workspace-packages=false

# You can generate provenance statements for the packages you publish.
#
# This allows you to publicly establish where a package was built and who published a package,
# which can increase supply-chain security for your packages.
provenance=true