**/.git
**/.svn
**/.hg
**/node_modules
**/dist/**
**/.turbo/**
**/.docusaurus/**
**/build/**
**/.next/**
**/.nuxt/**

/venv/
**/venv
/.venv/
**/.venv

pnpm-lock.yaml
.changeset/*.md
cdn


.vite-ssg-temp
.next

examples/docusaurus/**/*.mdx
integrations/nuxt/src/runtime/plugins/hydrateClient.d.mts
packages/openapi-parser/tests/**/*.yaml
packages/snippetz/src/httpsnippet-lite/**/*
packages/components/storybook-static/**/*

cloudbuild.json
