*.css
*.scss
*.js
*.ts
*.tsx
*.json
!package.json
*.jsonc
*.mov
*.cjs

# TODO: [error] [prettier-plugin-sort-imports]: import sorting aborted due to babel parsing error.
*.md
*.mdx

.git
.venv
**/.nuxt/**
**/.next/**
**/.turbo/**
**/dist/**
**/.vscode/**
**/.output/**
**/.docusaurus/**
**/obj/**
**/bin/**
**/target/**
**/.vite-ssg-temp/**
**/vite.config.ts.timestamp-*.mjs

fixtures
node_modules
playwright-report

scalar.config.json

pnpm-lock.yaml

cdn
cloudbuild.json

.changeset/*.md

integrations/docusaurus/**/*.mdx
integrations/docusaurus/playground/build/**

integrations/docker/assets/**
integrations/nuxt/src/runtime/plugins/hydrateClient.d.mts

packages/components/storybook-static/**/*
packages/openapi-parser/tests/**/*.yaml
