*.css
*.scss
*.js
*.ts
*.json
!package.json
*.jsonc
*.mov

.git
.venv
**/.nuxt/**
**/.next/**
**/.turbo/**
**/.vscode/**
**/.output/**
**/.vite-ssg-temp/**
**/.docusaurus/**

dist
fixtures
node_modules
playwright-report

scalar.config.json

pnpm-lock.yaml

.changeset/*.md
cdn
cloudbuild.json
examples/docusaurus/**/*.mdx
integrations/nuxt/src/runtime/plugins/hydrateClient.d.mts
packages/components/storybook-static/**/*
packages/openapi-parser/tests/**/*.yaml
packages/snippetz/src/httpsnippet-lite/**/*
