{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "trailingComma": "all",
  "quoteProps": "consistent",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "bracketSameLine": true,
  "importOrder": ["^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
