# Scalar OSS Codeowners
#
# By default most of the repository only requires review from a
# member of the Scalar Engineering team. We want to keep this
# open where possible to avoid blocking PRs unnecessarily.

# Base owners (overwritten by more specific entries)
* @scalar/engineers

# Changesets - no special review required
/.changeset

# Important repo & ci changes must be approved by Hans
/.github/ @hanspagel
/*.md @hanspagel

# Project & Package Specific Owners
#
# These should be added sparingly for portions of the
# codebase where a small group of devs have specific
# domain knowledge and need to be consulted on changes.
/packages/api-client @amritk @hanspagel @DemonHa
/packages/api-client-react @amritk
/packages/api-reference @hanspagel
/packages/api-reference-react @amritk
/packages/components @hwkr
/packages/core @hanspagel
/packages/json-magic @DemonHa
/packages/icons @hwkr
/packages/mock-server @hanspagel
/packages/oas-utils @amritk @hanspagel
/packages/openapi-parser @hanspagel @DemonHa
/packages/pre-post-request-scripts @amritk @hanspagel @DemonHa
/packages/sidebar @hwkr @hanspagel
/packages/themes @hwkr @cameronrohani
/packages/use-hooks @hwkr
/packages/void-server @hanspagel
/packages/workspace-store @DemonHa @amritk
