# Default code owners (overwritten by more specific entries)
* @marclave @hanspagel @amritk

# Amrit + Redis
/packages/api-client @marclave @hanspagel @amritk @DemonHa
/packages/json-diff @marclave @hanspagel @amritk @DemonHa
/packages/json-magic @marclave @hanspagel @amritk @DemonHa
/packages/pre-post-request-scripts @marclave @hanspagel @amritk @DemonHa
/packages/schemas @marclave @hanspagel @amritk @DemonHa
/packages/types @marclave @hanspagel @amritk @DemonHa
/packages/validation @marclave @hanspagel @amritk @DemonHa
/packages/workspace-store @marclave @hanspagel @amritk @DemonHa

# Brynn + Cam
/packages/components @marclave @hanspagel @amritk @hwkr @cameronrohani
/packages/icons @marclave @hanspagel @amritk @hwkr @cameronrohani
/packages/sidebar @marclave @hanspagel @amritk @hwkr @cameronrohani
/packages/themes @marclave @hanspagel @amritk @hwkr @cameronrohani
/packages/use-hooks @marclave @hanspagel @amritk @hwkr @cameronrohani
/packages/use-toasts @marclave @hanspagel @amritk @hwkr @cameronrohani
/documentation @marclave @hanspagel @hwkr @cameronrohani
/*.md @marclave @hanspagel @hwkr @cameronrohani
