{
  "openapi": "3.0.3",
  "info": {
    "title": "DefiLlama Pro - OpenAPI 3.0",
    "version": "1.0.0",
    "description": "Docs for DefiLlama's Pro API \n\n\n Coding with AI? Paste this link to LLM-specific docs for best results \n<a href='/llms.txt'>llms.txt</a>"
  },
  "servers": [
    {
      "url": "https://pro-api.llama.fi"
    }
  ],
  "tags": [
    {
      "name": "TVL",
      "description": "Retrieve TVL data - pro"
    },
    {
      "name": "stablecoins",
      "description": "Data from our stablecoins dashboard - pro"
    },
    {
      "name": "active users",
      "description": "Data about active users on our chains and protocols dashboards"
    },
    {
      "name": "Unlocks",
      "description": "Data about token unlocks from our Unlocks dashboard"
    },
    {
      "name": "main page",
      "description": "Data from dashboards on our side menu"
    },
    {
      "name": "token liquidity",
      "description": "Provides the available liquidity for swapping from one token to another on a specific chain"
    },
    {
      "name": "yields",
      "description": "Data from our yields/APY dashboard"
    },
    {
      "name": "ETFs",
      "description": "Tradfi ETFs"
    },
    {
      "name": "meta",
      "description": "Get information about your API Key"
    },
    {
      "name": "narratives",
      "description": "Track performance of narratives"
    },
    {
      "name": "DAT",
      "description": "Digital Asset Treasury"
    }
  ],
  "paths": {
    "/api/tokenProtocols/{symbol}": {
      "get": {
        "tags": ["TVL"],
        "x-api-plan-only": true,
        "summary": "Lists the amount of a certain token within all protocols. Data for the Token Usage page",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "token slug",
            "required": true,
            "schema": {
              "type": "string",
              "example": "usdt"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "Portal"
                      },
                      "category": {
                        "type": "string",
                        "example": "Bridge"
                      },
                      "amountUsd": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "number"
                        },
                        "example": {
                          "coingecko:tether-avalanche-bridged-usdt-e": 6485.2310529788765,
                          "coingecko:xcusdt": 45.514624238131,
                          "coingecko:layerzero-bridged-usdt-aptos": 7312.740629193999
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/inflows/{protocol}/{timestamp}": {
      "get": {
        "tags": ["TVL"],
        "x-api-plan-only": true,
        "summary": "Lists the amount of inflows and outflows for a protocol at a given date",
        "parameters": [
          {
            "name": "protocol",
            "in": "path",
            "description": "protocol slug",
            "required": true,
            "schema": {
              "type": "string",
              "example": "compound-v3"
            }
          },
          {
            "name": "timestamp",
            "in": "path",
            "description": "unix timestamp",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1767139200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "outflows": {
                      "type": "number",
                      "example": -160563462.23474675
                    },
                    "oldTokens": {
                      "type": "object",
                      "properties": {
                        "date": {
                          "type": "number",
                          "example": 1700005031
                        },
                        "tvl": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "number"
                          },
                          "example": {
                            "POLYGONUSDC": 2800590.050521,
                            "STMATIC": 5910852.971103674,
                            "USDC.E": 213182.234023,
                            "WETH": 138751.92261049704,
                            "WSTETH": 21205.858768287606,
                            "COMP": 899912.2484411557,
                            "ARB": 5191395.55706979,
                            "UNI": 3276947.8126982865,
                            "WBTC": 15237.12702489,
                            "WMATIC": 4316699.376111328,
                            "USDBC": 1567657.999816,
                            "GMX": 44027.42587184711,
                            "CBETH": 10011.824096757742,
                            "LINK": 2915041.329272804,
                            "USDC": 27302168.767972,
                            "MATICX": 5999572.681088426
                          }
                        }
                      }
                    },
                    "currentTokens": {
                      "type": "object",
                      "properties": {
                        "date": {
                          "type": "number",
                          "example": 1752771743
                        },
                        "tvl": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "number"
                          },
                          "example": {
                            "SKY": 1839111.3665808514,
                            "WSUPEROETHB": 610.1258731272615,
                            "RETH": 335.9162918778323,
                            "WEETH": 21264.320107593303,
                            "STMATIC": 43248.612454883136,
                            "TETH": 7537.467077317422,
                            "USDT": 23936602.852221,
                            "USDC.E": 457484.93217,
                            "USDS": 986286.7461886762,
                            "FBTC": 7.88084468,
                            "WUSDM": 9912.583708525639,
                            "COMP": 199962.19982196926,
                            "UNI": 748399.6623864435,
                            "WRON": 48676.91287257022,
                            "WBTC": 8346.44481716,
                            "EZETH": 9378.908917279387,
                            "SDEUSD": 4476349.521512799,
                            "OSETH": 1751.011747340086,
                            "USDT0": 4807642.14842,
                            "LINK": 629790.4518594383,
                            "DEUSD": 14779291.40757071,
                            "MATICX": 239292.60540364735,
                            "ETHX": 7.643953648e-9,
                            "POLYGONUSDC": 1130561.097829,
                            "OP": 474055.27558234957,
                            "RSWETH": 0.7588296185577288,
                            "SFRAX": 32550977.989188965,
                            "METH": 1256.0286269578846,
                            "WETH": 106772.79955793211,
                            "WSTETH": 127030.77547884149,
                            "ARB": 8082828.497277849,
                            "RSETH": 13198.88264941232,
                            "WMATIC": 1192273.6401273129,
                            "GMX": 6408.6736121308695,
                            "USDBC": 200217.562935,
                            "CBETH": 2094.7317932368333,
                            "USDE": 1660443.2086449957,
                            "ETH": 657.5898609775202,
                            "SUSDS": 2360827.122683512,
                            "USDC": 67152880.13345899,
                            "TBTC": 297.109236856541,
                            "AXS": 156.95240126041227,
                            "CBBTC": 722.70428829,
                            "WRSETH": 208.78735872239974,
                            "AERO": 3582072.5610455093
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/chainAssets": {
      "get": {
        "tags": ["TVL"],
        "summary": "Get assets of all chains",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chain": {
                      "type": "object",
                      "properties": {
                        "canonical": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "string",
                              "example": "4482065428.82707789718257509123"
                            },
                            "breakdown": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "string"
                              },
                              "example": {
                                "AGLD": "8.25709",
                                "STPT": "263726.9847408758",
                                "APU": "43899.14483171882",
                                "CTX": "595333.6768847435",
                                "APW": "37727.892544515686"
                              }
                            }
                          }
                        },
                        "native": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "string",
                              "example": "10848868127.0093572327157505031494340578574406321858"
                            },
                            "breakdown": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "string"
                              },
                              "example": {
                                "BENI": "1322294.3731837485",
                                "ANIME": "10.7583162713828217314035397949084",
                                "SACA": "114132.47631920826",
                                "HOKK": "4966.3804669563400723148947324498025",
                                "TOSHI": "91927630.6839119443580116994151258714"
                              }
                            }
                          }
                        },
                        "thirdParty": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "string",
                              "example": "3182802062.49398527398560408906"
                            },
                            "breakdown": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "string"
                              },
                              "example": {
                                "BRZ": "1810685.01887618296911",
                                "BOBA": "0",
                                "BURN": "0",
                                "GGTK": "0.6545695",
                                "GYFI": "2618437.7978"
                              }
                            }
                          }
                        },
                        "total": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "string",
                              "example": "18513735618.330420403"
                            },
                            "breakdown": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "string"
                              },
                              "example": {
                                "AGLD": "8.25709",
                                "STPT": "263726.9847408758",
                                "APU": "43899.14483171882",
                                "CTX": "595333.6768847435",
                                "APW": "37727.892544515686"
                              }
                            }
                          }
                        }
                      }
                    },
                    "timestamp": {
                      "type": "number",
                      "example": 1752843956
                    }
                  }
                }
              }
            }
          }
        },
        "x-api-plan-only": true
      }
    },
    "/stablecoins/stablecoindominance/{chain}": {
      "get": {
        "tags": ["stablecoins"],
        "summary": "Get stablecoin dominance per chain along with the info about the larges coin in a chain",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "description": "chain slug, you can get these from /chains or the chains property on /protocols",
            "schema": {
              "type": "string",
              "example": "Ethereum"
            }
          },
          {
            "name": "stablecoin",
            "in": "query",
            "required": false,
            "description": "stablecoin ID, you can get these from /stablecoins",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "example": "1752796800"
                      },
                      "totalCirculatingUSD": {
                        "type": "object",
                        "properties": {
                          "peggedUSD": {
                            "type": "number",
                            "example": 129531632690.44954
                          },
                          "peggedVAR": {
                            "type": "number",
                            "example": 100466426.71408615
                          },
                          "peggedEUR": {
                            "type": "number",
                            "example": 286714265.91542196
                          }
                        }
                      },
                      "greatestMcap": {
                        "type": "object",
                        "properties": {
                          "gecko_id": {
                            "type": "string",
                            "example": "tether"
                          },
                          "symbol": {
                            "type": "string",
                            "example": "USDT"
                          },
                          "mcap": {
                            "type": "number",
                            "example": 65836754910.17763
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-api-plan-only": true
      }
    },
    "/api/emissions": {
      "get": {
        "tags": ["Unlocks"],
        "summary": "List of all tokens along with basic info for each",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "token": {
                        "type": "string",
                        "example": "coingecko:whitebit"
                      },
                      "sources": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "example": ["https://cdn.whitebit.com/wbt/whitepaper-en.pdf"]
                      },
                      "protocolId": {
                        "type": "string",
                        "example": "6143"
                      },
                      "name": {
                        "type": "string",
                        "example": "WhiteBIT"
                      },
                      "circSupply": {
                        "type": "number",
                        "example": 293500000
                      },
                      "circSupply30d": {
                        "type": "number",
                        "example": 293500000
                      },
                      "totalLocked": {
                        "type": "number",
                        "example": 81500000
                      },
                      "maxSupply": {
                        "type": "number",
                        "example": 375000000
                      },
                      "gecko_id": {
                        "type": "string",
                        "example": "whitebit"
                      },
                      "events": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "description": {
                              "type": "string",
                              "example": "A cliff of {tokens[0]} tokens was unlocked from Funds 1 on {timestamp}"
                            },
                            "timestamp": {
                              "type": "number",
                              "example": 1659657600
                            },
                            "noOfTokens": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              },
                              "example": [120000000]
                            },
                            "category": {
                              "type": "string",
                              "example": "noncirculating"
                            },
                            "unlockType": {
                              "type": "string",
                              "example": "cliff"
                            }
                          }
                        }
                      },
                      "nextEvent": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "number",
                            "example": 1773360001
                          },
                          "toUnlock": {
                            "type": "number",
                            "example": 81500000
                          }
                        }
                      },
                      "unlocksPerDay": {
                        "type": "number",
                        "example": 0
                      },
                      "mcap": {
                        "type": "number",
                        "example": 6577845629.249915
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-api-plan-only": true
      }
    },
    "/api/emission/{protocol}": {
      "get": {
        "tags": ["Unlocks"],
        "summary": "Unlocks data for a given token/protocol. You can find a list of available slugs to query by querying /emissions and then extracting the key `gecko_id`",
        "parameters": [
          {
            "name": "protocol",
            "in": "path",
            "description": "protocol slug",
            "required": true,
            "schema": {
              "type": "string",
              "example": "hyperliquid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "object",
                      "properties": {
                        "documentedData": {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string",
                                    "example": "Hyper Foundation Budget"
                                  },
                                  "data": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "timestamp": {
                                          "type": "number",
                                          "example": 1732838400
                                        },
                                        "unlocked": {
                                          "type": "number",
                                          "example": 60000000
                                        },
                                        "rawEmission": {
                                          "type": "number",
                                          "example": 60000000
                                        },
                                        "burned": {
                                          "type": "number",
                                          "example": 0
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "tokenAllocation": {
                              "type": "object",
                              "properties": {
                                "current": {
                                  "type": "object",
                                  "properties": {
                                    "insiders": {
                                      "type": "number",
                                      "example": 16
                                    },
                                    "noncirculating": {
                                      "type": "number",
                                      "example": 0.8
                                    },
                                    "publicSale": {
                                      "type": "number",
                                      "example": 0
                                    },
                                    "airdrop": {
                                      "type": "number",
                                      "example": 82.5
                                    },
                                    "farming": {
                                      "type": "number",
                                      "example": 0.7
                                    }
                                  }
                                },
                                "final": {
                                  "type": "object",
                                  "properties": {
                                    "insiders": {
                                      "type": "number",
                                      "example": 45.8
                                    },
                                    "noncirculating": {
                                      "type": "number",
                                      "example": 0.5
                                    },
                                    "publicSale": {
                                      "type": "number",
                                      "example": 0
                                    },
                                    "airdrop": {
                                      "type": "number",
                                      "example": 47.7
                                    },
                                    "farming": {
                                      "type": "number",
                                      "example": 6
                                    }
                                  }
                                },
                                "progress": {
                                  "type": "object",
                                  "properties": {
                                    "insiders": {
                                      "type": "number",
                                      "example": 20.1
                                    },
                                    "noncirculating": {
                                      "type": "number",
                                      "example": 100
                                    },
                                    "publicSale": {
                                      "type": "number",
                                      "example": 100
                                    },
                                    "airdrop": {
                                      "type": "number",
                                      "example": 100
                                    },
                                    "farming": {
                                      "type": "number",
                                      "example": 6.5
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "metadata": {
                          "type": "object",
                          "properties": {
                            "notes": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "example": [
                                "The Community Rewards schedule has been linearly extrapolated using the rate of unlocks as of 4 March 2025.",
                                "The remaining allocation, not shown on the chart, belongs to Community Rewards. It has been excluded here to avoid obscuring the remaining data.",
                                "Most vesting schedules will complete between 2027–2028; some will continue after 2028. Here we have used an end date of end of 2027.",
                                "Although the full allocations for Hyper Foundation Budget and Community Grants were unlocked at TGE it is unclear what their spend rate is."
                              ]
                            },
                            "token": {
                              "type": "string",
                              "example": "coingecko:hyperliquid"
                            },
                            "sources": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "example": ["https://hyperfnd.medium.com/hype-genesis-1830a4dc2e3f"]
                            },
                            "protocolIds": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "example": ["4481", "5448", "5507", "5761"]
                            },
                            "total": {
                              "type": "number",
                              "example": 1000000000
                            },
                            "chain": {
                              "type": "string",
                              "example": "hyperliquid"
                            },
                            "name": {
                              "type": "string",
                              "example": "Hyperliquid"
                            },
                            "gecko_id": {
                              "type": "string",
                              "example": "hyperliquid"
                            },
                            "defillamaIds": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "example": ["4481"]
                            },
                            "categories": {
                              "type": "object",
                              "properties": {
                                "insiders": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "example": ["Core Contributors", "Hyper Foundation Budget"]
                                },
                                "noncirculating": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "example": ["Community Grants"]
                                },
                                "publicSale": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "example": ["HIP-2"]
                                },
                                "airdrop": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "example": ["Genesis Distribution"]
                                },
                                "farming": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "example": ["Community Rewards"]
                                }
                              }
                            },
                            "protocolCategory": {
                              "type": "string",
                              "example": "Bridge"
                            },
                            "chainName": {
                              "type": "string",
                              "example": "Hyperliquid L1"
                            },
                            "pId": {
                              "type": "string",
                              "example": "4481"
                            }
                          }
                        }
                      }
                    },
                    "lastModified": {
                      "type": "string",
                      "example": "2025-07-18T13:30:56.000Z"
                    }
                  }
                }
              }
            }
          }
        },
        "x-api-plan-only": true
      }
    },
    "/api/categories": {
      "get": {
        "tags": ["main page"],
        "summary": "Overview of all categories accross all protocols",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chart": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "object",
                          "properties": {
                            "tvl": {
                              "type": "number",
                              "example": 45997965191.323425
                            },
                            "staking": {
                              "type": "number",
                              "example": 117946591.34734812
                            },
                            "pool2": {
                              "type": "number",
                              "example": 4467.975298299099
                            },
                            "doublecounted": {
                              "type": "number",
                              "example": 1259137973.0377812
                            },
                            "borrowed": {
                              "type": "number",
                              "example": 714082.8186222482
                            },
                            "offers": {
                              "type": "number",
                              "example": 0
                            },
                            "vesting": {
                              "type": "number",
                              "example": 0.0009596433739281769
                            },
                            "treasury": {
                              "type": "number",
                              "example": 11142.746348986766
                            },
                            "liquidstaking": {
                              "type": "number",
                              "example": 20838772668.74201
                            },
                            "dcAndLsOverlap": {
                              "type": "number",
                              "example": 24954437702.556156
                            }
                          }
                        }
                      },
                      "example": {
                        "1747440000": {
                          "Bridge": {
                            "tvl": 45997965191.323425,
                            "staking": 117946591.34734812,
                            "pool2": 4467.975298299099,
                            "doublecounted": 1259137973.0377812,
                            "borrowed": 714082.8186222482,
                            "offers": 0,
                            "vesting": 0.0009596433739281769
                          }
                        }
                      }
                    },
                    "categories": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "example": {
                        "Bridge": [
                          "WBTC",
                          "RenVM",
                          "The Tokenized Bitcoin",
                          "hBTC",
                          "Rhino.fi",
                          "Strudel Finance",
                          "Connext",
                          "Injective Bridge",
                          "pNetwork",
                          "Allbridge Classic",
                          "Multichain"
                        ],
                        "Risk Curators": [
                          "9Summits",
                          "Alphaping",
                          "Apostro",
                          "B.Protocol Curator",
                          "Block Analitica",
                          "Clearstar",
                          "Euler DAO",
                          "Fence Finance",
                          "Gauntlet",
                          "Hakutora",
                          "Hyperithm",
                          "K3 Capital",
                          "LlamaRisk",
                          "M11 Credit",
                          "MEV Capital",
                          "Ouroboros Capital",
                          "Re7 Labs",
                          "Relend Network",
                          "Steakhouse Financial",
                          "Tulipa Capital",
                          "Alterscope",
                          "Yearn Curating",
                          "CIAN Curating",
                          "Vault Bridge"
                        ],
                        "DAO Service Provider": ["CreateDAO"]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-api-plan-only": true
      }
    },
    "/api/forks": {
      "get": {
        "tags": ["main page"],
        "x-api-plan-only": true,
        "summary": "Overview of all forks accross all protocols",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chart": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "object",
                          "properties": {
                            "staking": {
                              "type": "number",
                              "example": 712008453.6943725
                            },
                            "tvl": {
                              "type": "number",
                              "example": 2580053162.908216
                            },
                            "pool2": {
                              "type": "number",
                              "example": 146782.46894897142
                            },
                            "doublecounted": {
                              "type": "number",
                              "example": 3013724.782369083
                            },
                            "borrowed": {
                              "type": "number",
                              "example": 925950.5791909688
                            },
                            "vesting": {
                              "type": "number",
                              "example": 0.0033932788318303733
                            },
                            "liquidstaking": {
                              "type": "number",
                              "example": 1184348.1365500058
                            },
                            "dcAndLsOverlap": {
                              "type": "number",
                              "example": 1184348.1365500058
                            }
                          }
                        }
                      },
                      "example": {
                        "1752624000": {
                          "Uniswap V2": {
                            "staking": 712008453.6943725,
                            "tvl": 2580053162.908216,
                            "pool2": 146782.46894897142,
                            "doublecounted": 3013724.782369083,
                            "borrowed": 925950.5791909688,
                            "vesting": 0.0033932788318303733
                          }
                        }
                      }
                    },
                    "forks": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "example": {
                        "Uniswap V2": [
                          "SushiSwap",
                          "Varen",
                          "PancakeSwap AMM",
                          "Defi Swap",
                          "Energiswap",
                          "Pangolin",
                          "Cometh",
                          "Honeyswap",
                          "0.exchange",
                          "YetiSwap",
                          "Swapr V2",
                          "Lydia",
                          "Levinswap",
                          "SpookySwap V2",
                          "Quickswap Dex",
                          "SpiritSwap AMM",
                          "ViperSwap",
                          "HyperJump",
                          "Dfyn Network",
                          "Unicly"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/oracles": {
      "get": {
        "tags": ["main page"],
        "summary": "Overview of all oracles accross all protocols",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chart": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "object",
                          "properties": {
                            "tvl": {
                              "type": "number",
                              "example": 48896114862.57202
                            },
                            "staking": {
                              "type": "number",
                              "example": 1564643922.8114228
                            },
                            "pool2": {
                              "type": "number",
                              "example": 107245076.47312777
                            },
                            "borrowed": {
                              "type": "number",
                              "example": 25132031822.258495
                            },
                            "treasury": {
                              "type": "number",
                              "example": 52.078623852211784
                            },
                            "vesting": {
                              "type": "number",
                              "example": 3347.9893057455306
                            }
                          }
                        }
                      },
                      "example": {
                        "1752624000": {
                          "Chainlink": {
                            "tvl": 48896114862.57202,
                            "staking": 1564643922.8114228,
                            "pool2": 107245076.47312777,
                            "borrowed": 25132031822.258495,
                            "treasury": 52.078623852211784,
                            "vesting": 3347.9893057455306
                          }
                        }
                      }
                    },
                    "oracles": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "example": {
                        "Chainlink": ["AAVE V2", "Compound V2", "Synthetix v1+v2", "CREAM Lending"]
                      }
                    },
                    "chainsByOracle": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "example": {
                        "Chainlink": [
                          "Ethereum",
                          "Arbitrum",
                          "BSC",
                          "Avalanche",
                          "Base",
                          "Solana",
                          "Polygon",
                          "OP Mainnet",
                          "Linea"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-api-plan-only": true
      }
    },
    "/api/hacks": {
      "get": {
        "tags": ["main page"],
        "summary": "Overview of all hacks on our Hacks dashboard",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "number",
                        "example": 1711065600
                      },
                      "name": {
                        "type": "string",
                        "example": "Super Sushi Samurai"
                      },
                      "classification": {
                        "type": "string",
                        "example": "Protocol Logic"
                      },
                      "technique": {
                        "type": "string",
                        "example": "Infinite Mint and Dump"
                      },
                      "amount": {
                        "type": "number",
                        "example": 4800000
                      },
                      "chain": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "example": ["Blast"]
                      },
                      "bridgeHack": {
                        "type": "boolean",
                        "example": false
                      },
                      "targetType": {
                        "type": "string",
                        "example": "Gaming"
                      },
                      "source": {
                        "type": "string",
                        "example": "https://rekt.news/sss-rekt/"
                      },
                      "returnedFunds": {
                        "type": ["number", "null"],
                        "example": null
                      },
                      "defillamaId": {
                        "type": ["number", "null"],
                        "example": null
                      },
                      "language": {
                        "type": ["string", "null"],
                        "example": "Solidity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-api-plan-only": true
      }
    },
    "/api/raises": {
      "get": {
        "tags": ["main page"],
        "summary": "Overview of all raises on our Raises dashboard",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "raises": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "number",
                            "example": 1740528000
                          },
                          "name": {
                            "type": "string",
                            "example": "Ethena Labs"
                          },
                          "round": {
                            "type": "string",
                            "example": "Strategic"
                          },
                          "amount": {
                            "type": "number",
                            "example": 16
                          },
                          "chains": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "example": ["Ethereum"]
                          },
                          "sector": {
                            "type": "string",
                            "example": "Ethena is a synthetic dollar protocol built on Ethereum"
                          },
                          "category": {
                            "type": "string",
                            "example": "DeFi"
                          },
                          "categoryGroup": {
                            "type": "string",
                            "example": "DeFi & CeFi"
                          },
                          "source": {
                            "type": "string",
                            "example": "https://www.benzinga.com/pressreleases/25/02/g43966782/mexc-invests-20-million-in-usde-to-drive-stablecoin-adoption-launches-1-000-000-reward-event"
                          },
                          "leadInvestors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "example": ["MEXC Ventures"]
                          },
                          "otherInvestors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "example": []
                          },
                          "valuation": {
                            "type": ["number", "null"],
                            "example": null
                          },
                          "defillamaId": {
                            "type": "string",
                            "example": "parent#ethena"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-api-plan-only": true
      }
    },
    "/api/treasuries": {
      "get": {
        "tags": ["main page"],
        "summary": "List all protocols on our Treasuries dashboard",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "6355-treasury"
                      },
                      "name": {
                        "type": "string",
                        "example": "SharpLink Gaming (treasury)"
                      },
                      "address": {
                        "type": ["string", "null"],
                        "example": null
                      },
                      "symbol": {
                        "type": "string",
                        "example": "-"
                      },
                      "url": {
                        "type": "string",
                        "example": "https://www.sharplink.com/"
                      },
                      "description": {
                        "type": "string",
                        "example": "SharpLink is one of the first Nasdaq-listed companies to develop a treasury strategy centered on ETH"
                      },
                      "chain": {
                        "type": "string",
                        "example": "Ethereum"
                      },
                      "logo": {
                        "type": "string",
                        "example": "https://icons.llama.fi/sharplink-gaming.jpg"
                      },
                      "audits": {
                        "type": "string",
                        "example": "0"
                      },
                      "audit_note": {
                        "type": ["string", "null"],
                        "example": null
                      },
                      "gecko_id": {
                        "type": ["string", "null"],
                        "example": null
                      },
                      "cmcId": {
                        "type": ["string", "null"],
                        "example": null
                      },
                      "category": {
                        "type": "string",
                        "example": "Treasury Manager"
                      },
                      "chains": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "example": ["Ethereum"]
                      },
                      "module": {
                        "type": "string",
                        "example": "treasury/sharplink-gaming.js"
                      },
                      "treasury": {
                        "type": "string",
                        "example": "sharplink-gaming.js"
                      },
                      "forkedFromIds": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "example": []
                      },
                      "twitter": {
                        "type": "string",
                        "example": "SharpLinkGaming"
                      },
                      "slug": {
                        "type": "string",
                        "example": "sharplink-gaming-(treasury)"
                      },
                      "tvl": {
                        "type": "number",
                        "example": 976150507.157045
                      },
                      "chainTvls": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "number"
                        },
                        "example": {
                          "Ethereum": 976150507.157045
                        }
                      },
                      "change_1h": {
                        "type": "number",
                        "example": -1.1231970563777622
                      },
                      "change_1d": {
                        "type": "number",
                        "example": 15.845546813803097
                      },
                      "change_7d": {
                        "type": "number",
                        "example": 75.57040101595928
                      },
                      "tokenBreakdowns": {
                        "type": "object",
                        "properties": {
                          "ownTokens": {
                            "type": "number",
                            "example": 0
                          },
                          "stablecoins": {
                            "type": "number",
                            "example": 0.003
                          },
                          "majors": {
                            "type": "number",
                            "example": 67481592.5634468
                          },
                          "others": {
                            "type": "number",
                            "example": 908668914.5905982
                          }
                        }
                      },
                      "mcap": {
                        "type": ["number", "null"],
                        "example": null
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-api-plan-only": true
      }
    },
    "/api/entities": {
      "get": {
        "tags": ["main page"],
        "summary": "List all entities",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "entity-8"
                      },
                      "name": {
                        "type": "string",
                        "example": "Blockchain Capital"
                      },
                      "url": {
                        "type": "string",
                        "example": "https://blockchain.capital"
                      },
                      "description": {
                        "type": "string",
                        "example": "Blockchain Capital is a leading venture firm in the blockchain industry. In the last 9 years we have made over 160 investments in companies and protocols in the sector, across different stages, geographies and asset types."
                      },
                      "logo": {
                        "type": "string",
                        "example": "https://icons.llama.fi/blockchain-capital.jpg"
                      },
                      "category": {
                        "type": "string",
                        "example": "VC"
                      },
                      "module": {
                        "type": "string",
                        "example": "entities/blockchain-capital.js"
                      },
                      "twitter": {
                        "type": "string",
                        "example": "blockchaincap"
                      },
                      "symbol": {
                        "type": "string",
                        "example": ""
                      },
                      "chain": {
                        "type": "string",
                        "example": "Ethereum"
                      },
                      "gecko_id": {
                        "type": ["string", "null"],
                        "example": null
                      },
                      "cmcId": {
                        "type": ["string", "null"],
                        "example": null
                      },
                      "chains": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "example": ["Ethereum"]
                      },
                      "slug": {
                        "type": "string",
                        "example": "blockchain-capital"
                      },
                      "tvl": {
                        "type": "number",
                        "example": 131402986.1539898
                      },
                      "chainTvls": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "number"
                        },
                        "example": {
                          "Ethereum": 131402986.1539898
                        }
                      },
                      "change_1h": {
                        "type": "number",
                        "example": 0.5368786705972184
                      },
                      "change_1d": {
                        "type": "number",
                        "example": 5.632604890674784
                      },
                      "change_7d": {
                        "type": "number",
                        "example": 11.27548502629729
                      },
                      "tokenBreakdowns": {
                        "type": "object",
                        "properties": {
                          "ownTokens": {
                            "type": "number",
                            "example": 0
                          },
                          "stablecoins": {
                            "type": "number",
                            "example": 0.06493662312
                          },
                          "majors": {
                            "type": "number",
                            "example": 29628575.4114822
                          },
                          "others": {
                            "type": "number",
                            "example": 101774410.67757098
                          }
                        }
                      },
                      "mcap": {
                        "type": ["number", "null"],
                        "example": null
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-api-plan-only": true
      }
    },
    "/api/historicalLiquidity/{token}": {
      "get": {
        "tags": ["token liquidity"],
        "summary": "Provides the name of contracts on a determined chain",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "description": "token slug",
            "required": true,
            "schema": {
              "type": "string",
              "example": "usdt"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "x-api-plan-only": true
      }
    },
    "/yields/pools": {
      "get": {
        "tags": ["yields"],
        "summary": "Retrieve the latest data for all pools, including enriched information such as predictions",
        "responses": {
          "200": {
            "description": "Array of all yield farming pools with their data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chain": {
                            "type": "string",
                            "example": "Ethereum"
                          },
                          "project": {
                            "type": "string",
                            "example": "lido"
                          },
                          "symbol": {
                            "type": "string",
                            "example": "STETH"
                          },
                          "tvlUsd": {
                            "type": "number",
                            "example": 32493036117
                          },
                          "apyBase": {
                            "type": "number",
                            "example": 2.84
                          },
                          "apyReward": {
                            "type": ["number", "null"],
                            "example": null
                          },
                          "apy": {
                            "type": "number",
                            "example": 2.84
                          },
                          "rewardTokens": {
                            "type": ["array", "null"],
                            "items": {
                              "type": "string"
                            },
                            "example": null
                          },
                          "pool": {
                            "type": "string",
                            "example": "747c1d2a-c668-4682-b9f9-296708a3dd90"
                          },
                          "apyPct1D": {
                            "type": "number",
                            "example": -0.04
                          },
                          "apyPct7D": {
                            "type": "number",
                            "example": -0.056
                          },
                          "apyPct30D": {
                            "type": ["number", "null"],
                            "example": null
                          },
                          "stablecoin": {
                            "type": "boolean",
                            "example": false
                          },
                          "ilRisk": {
                            "type": "string",
                            "example": "no"
                          },
                          "exposure": {
                            "type": "string",
                            "example": "single"
                          },
                          "predictions": {
                            "type": "object",
                            "properties": {
                              "predictedClass": {
                                "type": "string",
                                "example": "Stable/Up"
                              },
                              "predictedProbability": {
                                "type": "number",
                                "example": 74
                              },
                              "binnedConfidence": {
                                "type": "number",
                                "example": 2
                              }
                            }
                          },
                          "poolMeta": {
                            "type": ["string", "null"],
                            "example": null
                          },
                          "mu": {
                            "type": "number",
                            "example": 3.7747
                          },
                          "sigma": {
                            "type": "number",
                            "example": 0.05236
                          },
                          "count": {
                            "type": "number",
                            "example": 1141
                          },
                          "outlier": {
                            "type": "boolean",
                            "example": false
                          },
                          "underlyingTokens": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "example": ["0x0000000000000000000000000000000000000000"]
                          },
                          "il7d": {
                            "type": ["number", "null"],
                            "example": null
                          },
                          "apyBase7d": {
                            "type": ["number", "null"],
                            "example": null
                          },
                          "apyMean30d": {
                            "type": "number",
                            "example": 2.73539
                          },
                          "volumeUsd1d": {
                            "type": ["number", "null"],
                            "example": null
                          },
                          "volumeUsd7d": {
                            "type": ["number", "null"],
                            "example": null
                          },
                          "apyBaseInception": {
                            "type": ["number", "null"],
                            "example": null
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/yields/poolsOld": {
      "get": {
        "tags": ["yields"],
        "summary": "Same as /pools but it also includes a new parameter `pool_old` which usually contains pool address (but not guaranteed)",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "pool": {
                            "type": "string",
                            "example": "747c1d2a-c668-4682-b9f9-296708a3dd90"
                          },
                          "timestamp": {
                            "type": "string",
                            "example": "2025-07-18T16:01:37.482Z"
                          },
                          "project": {
                            "type": "string",
                            "example": "lido"
                          },
                          "chain": {
                            "type": "string",
                            "example": "Ethereum"
                          },
                          "symbol": {
                            "type": "string",
                            "example": "STETH"
                          },
                          "poolMeta": {
                            "type": ["string", "null"],
                            "example": null
                          },
                          "underlyingTokens": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "example": ["0x0000000000000000000000000000000000000000"]
                          },
                          "rewardTokens": {
                            "type": ["array", "null"],
                            "items": {
                              "type": "string"
                            },
                            "example": null
                          },
                          "tvlUsd": {
                            "type": "number",
                            "example": 32414496934
                          },
                          "apy": {
                            "type": "number",
                            "example": 2.84
                          },
                          "apyBase": {
                            "type": "number",
                            "example": 2.84
                          },
                          "apyReward": {
                            "type": ["number", "null"],
                            "example": null
                          },
                          "il7d": {
                            "type": ["number", "null"],
                            "example": null
                          },
                          "apyBase7d": {
                            "type": ["number", "null"],
                            "example": null
                          },
                          "volumeUsd1d": {
                            "type": ["number", "null"],
                            "example": null
                          },
                          "volumeUsd7d": {
                            "type": ["number", "null"],
                            "example": null
                          },
                          "apyBaseInception": {
                            "type": ["number", "null"],
                            "example": null
                          },
                          "url": {
                            "type": "string",
                            "example": "https://lido.fi/#networks"
                          },
                          "apyPct1D": {
                            "type": "number",
                            "example": -0.04
                          },
                          "apyPct7D": {
                            "type": "number",
                            "example": -0.056
                          },
                          "apyPct30D": {
                            "type": ["number", "null"],
                            "example": null
                          },
                          "apyMean30d": {
                            "type": "number",
                            "example": 2.73524
                          },
                          "stablecoin": {
                            "type": "boolean",
                            "example": false
                          },
                          "ilRisk": {
                            "type": "string",
                            "example": "no"
                          },
                          "exposure": {
                            "type": "string",
                            "example": "single"
                          },
                          "return": {
                            "type": "number",
                            "example": 0.00008
                          },
                          "count": {
                            "type": "number",
                            "example": 1141
                          },
                          "apyMeanExpanding": {
                            "type": "number",
                            "example": 3.77993
                          },
                          "apyStdExpanding": {
                            "type": "number",
                            "example": 1.04969
                          },
                          "mu": {
                            "type": "number",
                            "example": 3.7747
                          },
                          "sigma": {
                            "type": "number",
                            "example": 0.05236
                          },
                          "outlier": {
                            "type": "boolean",
                            "example": false
                          },
                          "project_factorized": {
                            "type": "number",
                            "example": -1
                          },
                          "chain_factorized": {
                            "type": "number",
                            "example": 0
                          },
                          "predictions": {
                            "type": "object",
                            "properties": {
                              "predictedClass": {
                                "type": "string",
                                "example": "Stable/Up"
                              },
                              "predictedProbability": {
                                "type": "number",
                                "example": 74
                              },
                              "binnedConfidence": {
                                "type": "number",
                                "example": 2
                              }
                            }
                          },
                          "pool_old": {
                            "type": "string",
                            "example": "0xae7ab96520de3a18e5e111b5eaab095312d7fe84-ethereum"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-api-plan-only": true
      }
    },
    "/yields/chart/{pool}": {
      "get": {
        "tags": ["yields"],
        "summary": "Get historical APY and TVL of a pool",
        "parameters": [
          {
            "name": "pool",
            "in": "path",
            "required": true,
            "description": "pool id, can be retrieved from /pools (property is called pool)",
            "schema": {
              "type": "string",
              "example": "747c1d2a-c668-4682-b9f9-296708a3dd90"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "example": "2022-05-03T00:00:00.000Z"
                          },
                          "tvlUsd": {
                            "type": "number",
                            "example": 11074372760
                          },
                          "apy": {
                            "type": "number",
                            "example": 3.6
                          },
                          "apyBase": {
                            "type": "number",
                            "example": 3.6
                          },
                          "apyReward": {
                            "type": ["number", "null"],
                            "example": null
                          },
                          "il7d": {
                            "type": ["number", "null"],
                            "example": null
                          },
                          "apyBase7d": {
                            "type": ["number", "null"],
                            "example": null
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/yields/poolsBorrow": {
      "get": {
        "tags": ["yields"],
        "summary": "Borrow costs APY of assets from lending markets",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chain": {
                            "type": "string",
                            "example": "Ethereum"
                          },
                          "project": {
                            "type": "string",
                            "example": "aave-v3"
                          },
                          "symbol": {
                            "type": "string",
                            "example": "WETH"
                          },
                          "tvlUsd": {
                            "type": "number",
                            "example": 604781668
                          },
                          "apyBase": {
                            "type": "number",
                            "example": 3.98975
                          },
                          "apyReward": {
                            "type": ["number", "null"],
                            "example": null
                          },
                          "apy": {
                            "type": "number",
                            "example": 3.98975
                          },
                          "rewardTokens": {
                            "type": ["array", "null"],
                            "items": {
                              "type": "string"
                            },
                            "example": null
                          },
                          "pool": {
                            "type": "string",
                            "example": "e880e828-ca59-4ec6-8d4f-27182a4dc23d"
                          },
                          "apyPct1D": {
                            "type": "number",
                            "example": 0.54117
                          },
                          "apyPct7D": {
                            "type": "number",
                            "example": 1.93811
                          },
                          "apyPct30D": {
                            "type": "number",
                            "example": 2.08545
                          },
                          "stablecoin": {
                            "type": "boolean",
                            "example": false
                          },
                          "ilRisk": {
                            "type": "string",
                            "example": "no"
                          },
                          "exposure": {
                            "type": "string",
                            "example": "single"
                          },
                          "predictions": {
                            "type": "object",
                            "properties": {
                              "predictedClass": {
                                "type": "string",
                                "example": "Stable/Up"
                              },
                              "predictedProbability": {
                                "type": "number",
                                "example": 72
                              },
                              "binnedConfidence": {
                                "type": "number",
                                "example": 2
                              }
                            }
                          },
                          "poolMeta": {
                            "type": ["string", "null"],
                            "example": null
                          },
                          "sigma": {
                            "type": "number",
                            "example": 0.02094
                          },
                          "count": {
                            "type": "number",
                            "example": 891
                          },
                          "outlier": {
                            "type": "boolean",
                            "example": false
                          },
                          "underlyingTokens": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "example": ["0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2"]
                          },
                          "il7d": {
                            "type": ["number", "null"],
                            "example": null
                          },
                          "apyBase7d": {
                            "type": ["number", "null"],
                            "example": null
                          },
                          "apyMean30d": {
                            "type": "number",
                            "example": 2.15424
                          },
                          "volumeUsd1d": {
                            "type": ["number", "null"],
                            "example": null
                          },
                          "volumeUsd7d": {
                            "type": ["number", "null"],
                            "example": null
                          },
                          "apyBaseInception": {
                            "type": ["number", "null"],
                            "example": null
                          },
                          "apyBaseBorrow": {
                            "type": "number",
                            "example": 5.0324
                          },
                          "apyRewardBorrow": {
                            "type": ["number", "null"],
                            "example": null
                          },
                          "totalSupplyUsd": {
                            "type": "number",
                            "example": 8988967658
                          },
                          "totalBorrowUsd": {
                            "type": "number",
                            "example": 8384185990
                          },
                          "debtCeilingUsd": {
                            "type": ["number", "null"],
                            "example": null
                          },
                          "ltv": {
                            "type": "number",
                            "example": 0.805
                          },
                          "borrowable": {
                            "type": "boolean",
                            "example": true
                          },
                          "mintedCoin": {
                            "type": ["string", "null"],
                            "example": null
                          },
                          "borrowFactor": {
                            "type": ["number", "null"],
                            "example": null
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-api-plan-only": true
      }
    },
    "/yields/chartLendBorrow/{pool}": {
      "get": {
        "tags": ["yields"],
        "summary": "Historical borrow cost APY from a pool on a lending market, pool ids should be obtained from /poolsBorrow",
        "parameters": [
          {
            "name": "pool",
            "in": "path",
            "required": true,
            "description": "pool id, can be retrieved from /poolsBorrow (property is called pool)",
            "schema": {
              "type": "string",
              "example": "e880e828-ca59-4ec6-8d4f-27182a4dc23d"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "example": "2023-02-06T23:01:24.670Z"
                          },
                          "totalSupplyUsd": {
                            "type": ["number", "null"],
                            "example": 60767153
                          },
                          "totalBorrowUsd": {
                            "type": ["number", "null"],
                            "example": 33150230
                          },
                          "debtCeilingUsd": {
                            "type": ["number", "null"],
                            "example": null
                          },
                          "apyBase": {
                            "type": ["number", "null"],
                            "example": 1.66533
                          },
                          "apyReward": {
                            "type": ["number", "null"],
                            "example": null
                          },
                          "apyBaseBorrow": {
                            "type": ["number", "null"],
                            "example": 3.59132
                          },
                          "apyRewardBorrow": {
                            "type": ["number", "null"],
                            "example": null
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-api-plan-only": true
      }
    },
    "/yields/perps": {
      "get": {
        "tags": ["yields"],
        "summary": "Funding rates and Open Interest of perps across exchanges, including both Decentralized and Centralized",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "perp_id": {
                            "type": "string",
                            "example": "61533906-1626-45fc-b3ed-9a1103705373"
                          },
                          "timestamp": {
                            "type": "string",
                            "example": "2025-07-18T18:01:44.811Z"
                          },
                          "marketplace": {
                            "type": "string",
                            "example": "Binance"
                          },
                          "market": {
                            "type": "string",
                            "example": "1000000BOBUSDT"
                          },
                          "baseAsset": {
                            "type": "string",
                            "example": "1000000BOT"
                          },
                          "fundingRate": {
                            "type": "number",
                            "example": 0.00005
                          },
                          "fundingRatePrevious": {
                            "type": "number",
                            "example": 0.00045224
                          },
                          "fundingTimePrevious": {
                            "type": "number",
                            "example": 1752854400000
                          },
                          "openInterest": {
                            "type": "number",
                            "example": 51144394
                          },
                          "indexPrice": {
                            "type": "number",
                            "example": 0.05108
                          },
                          "fundingRate7dAverage": {
                            "type": ["number", "null"],
                            "example": null
                          },
                          "fundingRate7dSum": {
                            "type": ["number", "null"],
                            "example": null
                          },
                          "fundingRate30dAverage": {
                            "type": ["number", "null"],
                            "example": null
                          },
                          "fundingRate30dSum": {
                            "type": ["number", "null"],
                            "example": null
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-api-plan-only": true
      }
    },
    "/yields/lsdRates": {
      "get": {
        "tags": ["yields"],
        "summary": "APY rates of multiple LSDs",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the LSD token"
                      },
                      "symbol": {
                        "type": "string",
                        "description": "The symbol of the LSD token"
                      },
                      "address": {
                        "type": "string",
                        "description": "The contract address of the LSD token"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type of the LSD token (e.g., accruing)"
                      },
                      "expectedRate": {
                        "type": "number",
                        "description": "The expected rate of the LSD token"
                      },
                      "marketRate": {
                        "type": "number",
                        "description": "The current market rate of the LSD token"
                      },
                      "ethPeg": {
                        "type": "number",
                        "description": "The ETH peg value"
                      },
                      "fee": {
                        "type": "number",
                        "description": "The fee percentage"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "name": "Dinero (pxETH)",
                    "symbol": "APXETH",
                    "address": "0x04c154b66cb340f3ae24111cc767e0184ed00cc6",
                    "type": "accruing",
                    "expectedRate": 1,
                    "marketRate": 0.9976125452932897,
                    "ethPeg": -0.23874547067103125,
                    "fee": 0.1
                  }
                ]
              }
            }
          }
        },
        "x-api-plan-only": true
      }
    },
    "/etfs/snapshot": {
      "get": {
        "tags": ["ETFs"],
        "summary": "Get ETFs and their metrics (aum, flows, fees...)",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ticker": {
                        "type": "string",
                        "description": "ETF ticker symbol"
                      },
                      "timestamp": {
                        "type": "integer",
                        "description": "Current timestamp"
                      },
                      "asset": {
                        "type": "string",
                        "description": "Asset name"
                      },
                      "issuer": {
                        "type": "string",
                        "description": "ETF issuer name"
                      },
                      "etf_name": {
                        "type": "string",
                        "description": "Full ETF name"
                      },
                      "custodian": {
                        "type": "string",
                        "description": "Custodian name"
                      },
                      "pct_fee": {
                        "type": "number",
                        "description": "Percentage fee"
                      },
                      "url": {
                        "type": "string",
                        "description": "ETF URL"
                      },
                      "flows": {
                        "type": "number",
                        "description": "Net flows"
                      },
                      "aum": {
                        "type": "number",
                        "description": "Assets under management"
                      },
                      "volume": {
                        "type": "number",
                        "description": "Trading volume"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "ticker": "IBIT",
                    "timestamp": 1755612389,
                    "asset": "bitcoin",
                    "issuer": "Blackrock",
                    "etf_name": "iShares Bitcoin Trust",
                    "custodian": "Coinbase",
                    "pct_fee": 0.25,
[...]
