@import "tailwindcss/base" layer(scalar-base);

.scalar-client {
  @tailwind components;
  @tailwind utilities;
  @tailwind variants;

  line-height: 1.5;
  color: var(--scalar-color-1);

  @layer utilities {
    /**
     * App Drag Region Utility Classes
     * @see https://www.electronjs.org/docs/latest/tutorial/window-customization#set-custom-draggable-region
     */
    /** Enable dragging for a region (e.g. for the window title bar) */
    .app-drag-region {
      -webkit-app-region: drag;
    }
    /**
     * Disable dragging for a region (e.g. for clickable elements)
     */
    .app-no-drag-region {
      -webkit-app-region: no-drag;
    }
  }

  /**
   * Custom utilities to make life easier
   * For some reason it was bugging on apply so I just used css for now
   * Replicated in components until we figure out how to share
   */
  @layer components {
    .row {
      /* @apply flex flex-row; */
      display: flex;
      flex-direction: row;
    }
    .scalar-row {
      /* @apply flex flex-row; */
      display: flex;
      flex-direction: row;
    }
    .row-1 {
      /* @apply flex flex-1 flex-row; */
      display: flex;
      flex-direction: row;
      flex: 1 1 0%;
    }
    .col {
      /* @apply flex flex-col; */
      display: flex;
      flex-direction: column;
    }
    .col-1 {
      /* @apply flex flex-1 flex-col; */
      display: flex;
      flex-direction: column;
      flex: 1 1 0%;
    }
    .flex-center {
      /* @apply flex items-center justify-center; */
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .centered-x {
      /* @apply left-1/2 -translate-x-1/2; */
      left: 50%;
      --tw-translate-x: -50%;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
        skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
    .centered-y {
      /* @apply top-1/2 -translate-y-1/2; */
      top: 50%;
      --tw-translate-y: -50%;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
        skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
    .centered {
      /* @apply centered-x centered-y; */
      left: 50%;
      --tw-translate-x: -50%;
      top: 50%;
      --tw-translate-y: -50%;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
        skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
    /**
     * Floating background (e.g. for hoverable auth flows)
     */
    .floating-bg::before {
      background-color: var(--scalar-background-2);
      border-radius: var(--scalar-radius);
      content: "";
      height: calc(100% - 4px);
      left: -4px;
      opacity: 0;
      position: absolute;
      top: 2.5px;
      transition: opacity 0.2s ease-in-out;
      width: calc(100% + 8px);
      z-index: 1;
    }
    .floating-bg:hover::before {
      opacity: 1;
    }
  }
}
