swagger: '2.0'
schemes:
  - https
host: rms.api.bbc.co.uk
basePath: /
info:
  description: We encapsulate Radio & Music business logic for iPlayer Radio and BBC Music products on all platforms. We add value by reliably providing the right blend of metadata needed by clients.
  title: Radio & Music Services
  version: 1.0.0
  x-apisguru-categories:
    - media
  x-logo:
    backgroundColor: '#FFFFFF'
    url: https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_thumb_6_63_BBC_Radio_logo.svg_140px-BBC_Radio_logo.svg.png
  x-origin:
    - format: swagger
      url: https://rms.api.bbc.co.uk/docs/swagger.json
      version: '2.0'
  x-providerName: bbc.co.uk
consumes:
  - application/json
produces:
  - application/json
parameters:
  Authorization:
    default: Bearer OAUTH_TOKEN
    description: Bearer OAUTH_TOKEN
    in: header
    name: Authorization
    required: true
    type: string
  X-API-Key:
    description: API_KEY
    in: header
    name: X-API-Key
    required: true
    type: string
  X-Authentication-Provider:
    default: idv5
    description: Authentication type
    in: header
    name: X-Authentication-Provider
    required: true
    type: string
  artist:
    description: MusicBrainz artist ID
    in: query
    name: artist
    required: false
    type: string
  category:
    description: Category ID
    in: query
    name: category
    required: false
    type: string
  coverage:
    description: Local, National or Regional Coverage
    enum:
      - local
      - national
      - regional
    in: query
    name: coverage
    required: false
    type: string
  decomposed:
    description: In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days
    in: query
    name: decomposed
    required: false
    type: boolean
  limit:
    description: Paginated results limit
    in: query
    name: limit
    required: false
    type: integer
  network:
    description: Return items with given Network ID
    in: query
    name: network
    required: false
    type: string
  offset:
    description: Paginated results offset
    in: query
    name: offset
    required: false
    type: integer
  over16:
    description: Boolean age check
    in: query
    name: over16
    required: true
    type: boolean
  pid:
    description: pid
    in: path
    name: pid
    required: true
    type: string
  programme:
    description: Items with given Programme Pid
    in: query
    name: programme
    required: false
    type: string
  q:
    description: Search query String
    in: query
    name: q
    required: false
    type: string
  rights:
    description: Only return available results for the web/mobile.
    enum:
      - web
      - mobile
    in: query
    name: rights
    required: true
    type: string
  since:
    description: ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now
    in: query
    name: since
    required: false
    type: string
  sort:
    description: Sort order for Podcasts results
    enum:
      - title
      - -title
      - available_from_date
      - -available_from_date
    in: query
    name: sort
    required: false
    type: string
  until:
    description: ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params
    in: query
    name: until
    required: false
    type: string
tags:
  - name: Experience
  - description: <a href="https://confluence.dev.bbc.co.uk/display/RMServices/Playspace+API+Client+Documetation">Client Documentation</a>
    name: Playspace
  - name: Categories
  - name: Networks
  - name: Broadcasts
  - name: Collections
  - name: Podcasts
  - name: Programmes
  - name: Personalised Categories
  - name: Personalised Networks
  - name: Personalised Plays
  - name: Radio
  - name: Music
  - name: Music Export
paths:
  /broadcasts:
    get:
      description: |
        All broadcasts
      parameters:
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          type: integer
        - description: Filter by Service ID. E.g. bbc_radio_fourfm
          in: query
          name: service_id
          required: false
          type: string
        - description: Filter by date. E.g. 2016-06-17
          in: query
          name: date
          required: false
          type: string
        - description: Sort by provided query. E.g. 'start_at' sorts in ascending order, and '-start_at' sorts in descending order
          enum:
            - start_at
            - -start_at
            - end_at
            - -end_at
          in: query
          name: sort
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BroadcastsResponse'
        '401':
          description: There was an error with the supplied `Authorization` header.
          schema:
            $ref: '#/definitions/ErrorResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/ErrorResponse'
      schemes:
        - https
      summary: Broadcasts
      tags:
        - Broadcasts
  /broadcasts/latest:
    get:
      description: |
        Broadcasts for the current day
      parameters:
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          type: integer
        - description: Filter by Service ID. E.g. bbc_radio_fourfm
          in: query
          name: service_id
          required: false
          type: string
        - description: Filter what is on air. E.g. 'now' returns current programme being broadcasted.
          enum:
            - now
            - previous
            - next
          in: query
          name: on_air
          required: false
          type: string
        - description: Filter what will be on air next in minutes. E.g. '240' returns programmes broadcasted in the next four hurs
          in: query
          name: next
          required: false
          type: string
        - description: Filter what was on air previously in minutes. E.g. '240' returns programmes broadcasted in the previous four hurs
          in: query
          name: previous
          required: false
          type: string
        - description: Sort by provided query. E.g. 'start_at' sorts in ascending order, and '-start_at' sorts in descending order
          enum:
            - start_at
            - -start_at
            - end_at
            - -end_at
          in: query
          name: sort
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BroadcastsResponse'
        '401':
          description: There was an error with the supplied `Authorization` header.
          schema:
            $ref: '#/definitions/ErrorResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/ErrorResponse'
      schemes:
        - https
      summary: Latest Broadcasts
      tags:
        - Broadcasts
  '/broadcasts/{pid}':
    get:
      description: |
        Find broadcast by PID
      operationId: getBroadcastByPid
      parameters:
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: pid
          in: path
          name: pid
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BroadcastsResponse'
        '401':
          description: There was an error with the supplied `Authorization` header.
          schema:
            $ref: '#/definitions/ErrorResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/ErrorResponse'
      schemes:
        - https
      summary: Broadcasts by PID
      tags:
        - Broadcasts
  /categories:
    get:
      description: |
        Retrieve Categories
      parameters:
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Filter by provided query. E.g. 'promoted' returns promoted categories
          enum:
            - promoted
          in: query
          name: kind
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CategoriesResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/CategoryErrorResponse'
      summary: List of categories
      tags:
        - Categories
  '/categories/{id}':
    get:
      description: |
        Retrieve Categories by ID
      parameters:
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Retrieve information about the category. E.g. 'sport-football-europeanchampionship'
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CategoriesResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/CategoryErrorResponse'
      summary: Category by ID
      tags:
        - Categories
  '/collections/{pid}/members':
    get:
      description: |
        Episodes and Clips from Collection
      operationId: getCollectionMembers
      parameters:
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: pid
          in: path
          name: pid
          required: true
          type: string
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ProgrammesResponse'
        '404':
          description: Collection not found
          schema:
            $ref: '#/definitions/ErrorResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/ErrorResponse'
      schemes:
        - https
      summary: Collection Members
      tags:
        - Collections
  /experience/homepage:
    get:
      description: |
        Homepage Experience
      operationId: getExperienceHomepage
      parameters:
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ExperienceResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/ErrorResponse'
      schemes:
        - https
      summary: Homepage Experience
      tags:
        - Experience
  /music/popular/artists:
    get:
      description: |
        List of Most Popular artists from BBC Music.
      operationId: getMusicPopularArtists
      parameters:
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now
          in: query
          name: since
          required: false
          type: string
        - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params
          in: query
          name: until
          required: false
          type: string
        - description: In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days
          in: query
          name: decomposed
          required: false
          type: boolean
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MusicPopularityArtists'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/MusicPopularityError'
      schemes:
        - http
      summary: Popular Artists
      tags:
        - Music
  '/music/popular/artists/{id}':
    get:
      description: |
        Popularity Artist By Id
      operationId: getMusicPopularArtistById
      parameters:
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now
          in: query
          name: since
          required: false
          type: string
        - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params
          in: query
          name: until
          required: false
          type: string
        - description: In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days
          in: query
          name: decomposed
          required: false
          type: boolean
        - description: MusicBrainz Id - Used to get single resource score
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MusicPopularityArtists'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/MusicPopularityError'
      schemes:
        - http
      summary: Single Artist Popularity
      tags:
        - Music
  /music/popular/playlists:
    get:
      description: |
        List of Most Popular playlists from BBC Music.
      operationId: getMusicPopularPlaylists
      parameters:
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now
          in: query
          name: since
          required: false
          type: string
        - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params
          in: query
          name: until
          required: false
          type: string
        - description: In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days
          in: query
          name: decomposed
          required: false
          type: boolean
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MusicPopularityPlaylists'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/MusicPopularityError'
      schemes:
        - http
      summary: Popular Playlists
      tags:
        - Music
  '/music/popular/playlists/{id}':
    get:
      description: |
        Popular playlist by Id
      operationId: getMusicPopularPlaylistById
      parameters:
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now
          in: query
          name: since
          required: false
          type: string
        - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params
          in: query
          name: until
          required: false
          type: string
        - description: In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days
          in: query
          name: decomposed
          required: false
          type: boolean
        - description: BBC Music Playlist Id - Used to get single resource score
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MusicPopularityPlaylists'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/MusicPopularityError'
      schemes:
        - http
      summary: Single Playlist Popularity
      tags:
        - Music
  /music/popular/tracks:
    get:
      description: |
        List of popular tracks for BBC Music. Filter by time, network, artist, playlist or programme.
      operationId: getMusicPopularTracks
      parameters:
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now
          in: query
          name: since
          required: false
          type: string
        - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params
          in: query
          name: until
          required: false
          type: string
        - description: Return items with given Network ID
          in: query
          name: network
          required: false
          type: string
        - description: Items with given Programme Pid
          in: query
          name: programme
          required: false
          type: string
        - description: MusicBrainz artist ID
          in: query
          name: artist
          required: false
          type: string
        - description: In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days
          in: query
          name: decomposed
          required: false
          type: boolean
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MusicPopularityTracks'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/MusicPopularityError'
      schemes:
        - http
      summary: Popular Tracks
      tags:
        - Music
  '/music/popular/tracks/{id}':
    get:
      description: |
        Popular Track for BBC Music
      operationId: getMusicPopularTrackById
      parameters:
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given time period and now
          in: query
          name: since
          required: false
          type: string
        - description: ISO 8601 Date yyyy-mm-dd.  Returns items between given 'since' and 'until' date params
          in: query
          name: until
          required: false
          type: string
        - description: Return items with given Network ID
          in: query
          name: network
          required: false
          type: string
        - description: Items with given Programme Pid
          in: query
          name: programme
          required: false
          type: string
        - description: MusicBrainz artist ID
          in: query
          name: artist
          required: false
          type: string
        - description: In addition to the overall score, return a list of scores broken down by day N.B Must be used in conjunction with since and/or until and since is >= 31 days
          in: query
          name: decomposed
          required: false
          type: boolean
        - description: BBC Music Track Id - Used to get single resource score
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MusicPopularityTracks'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/MusicPopularityError'
      schemes:
        - http
      summary: Single Track Popularity
      tags:
        - Music
  /my/categories/follows:
    delete:
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - in: body
          name: Body
          required: true
          schema:
            $ref: '#/definitions/Body_1'
      responses:
        '202':
          description: Request successfully sent to UAS.
        '400':
          description: The request was malformed.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: There was an error with the supplied `Authorization` header.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Unfollow category
      tags:
        - Personalised Categories
    get:
      description: |
        List of followed categories for a given user.
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedCategoriesResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: List of followed categories
      tags:
        - Personalised Categories
    post:
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - in: body
          name: Body
          required: true
          schema:
            $ref: '#/definitions/Body'
      responses:
        '202':
          description: Request successfully sent to UAS.
        '400':
          description: The request was malformed.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: There was an error with the supplied `Authorization` header.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Follow category
      tags:
        - Personalised Categories
  /my/music/export:
    get:
      description: |
        Returns status of all previous third party export actions for a given BBC Music user.
      operationId: getMusicExport
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MusicExportJob'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/MusicExportErrorResponse'
      summary: Music Exports
      tags:
        - Music Export
  /my/music/exports/jobs:
    get:
      description: |
        All items associated to a users export request
      operationId: getMusicExportJobs
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Boolean age check
          in: query
          name: over16
          required: true
          type: boolean
        - description: Specify Vendor Jobs
          enum:
            - spotify
            - deezer
            - youtube
            - itunes
          in: query
          name: vendor
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MusicExportJob'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/MusicExportErrorResponse'
      summary: Music Export Jobs
      tags:
        - Music Export
    post:
      description: |
        Create Export Job for a user
      operationId: postMusicExportJob
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Boolean age check
          in: query
          name: over16
          required: true
          type: boolean
        - description: Specify Vendor Jobs
          enum:
            - spotify
            - deezer
            - youtube
            - itunes
          in: query
          name: vendor
          required: false
          type: string
        - description: ''
          in: body
          name: body
          required: true
          schema:
            items:
              $ref: '#/definitions/MusicExportJob'
            type: array
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MusicExportSuccess'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/MusicExportErrorResponse'
      summary: Music Export Jobs
      tags:
        - Music Export
  /my/music/exports/tracks:
    get:
      description: |
        Retrieves vendor and status specific tracks
      operationId: getMusicExportTracks
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Boolean age check
          in: query
          name: over16
          required: true
          type: boolean
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          type: integer
        - description: Specify Vendor Tracks
          enum:
            - spotify
            - deezer
            - youtube
            - itunes
          in: query
          name: vendor
          required: false
          type: string
        - description: Specify Track status
          enum:
            - failed
            - done
            - pending
          in: query
          name: status
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MusicExportJob'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/MusicExportErrorResponse'
      summary: Music Export Tracks
      tags:
        - Music Export
  /my/music/favourites:
    get:
      description: |
        List of favourited tracks and clips for a given user for BBC Music.
      operationId: getPersonalisedMusicFavourites
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          type: integer
        - description: Filters activities based on the type of action
          enum:
            - favourited
            - unfavourited
          in: query
          name: action
          required: false
          type: string
        - description: Omits music data from the response, defaults to true
          in: query
          name: music-data
          required: false
          type: boolean
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedMusicResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/PersonalisedMusicErrorResponse'
      summary: Favourite Tracks or Clips
      tags:
        - Music
    post:
      description: |
        Add multiple tracks and/or clips to a BBC Music user's favourites.

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: postPersonalisedMusicFavouritesBatch
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Action favourited or unfavourited
          in: body
          name: body
          required: true
          schema:
            items:
              $ref: '#/definitions/PersonalisedMusicBatchRequest'
            type: array
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedMusicResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/PersonalisedMusicErrorResponse'
      summary: Favourite Tracks or Clips
      tags:
        - Music
    put:
      description: |
        Update tracks or clips from a BBC Music user favourites.

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: putPersonalisedMusicFavouritesBatch
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Action favourited or unfavourited
          in: body
          name: body
          required: true
          schema:
            items:
              $ref: '#/definitions/PersonalisedMusicBatchRequest'
            type: array
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedMusicSuccess'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/PersonalisedMusicErrorResponse'
      summary: Favourite Tracks or Clips
      tags:
        - Music
  '/my/music/favourites/{type}':
    get:
      description: |
        List of favourited tracks or clips for a given user for BBC Music.
      operationId: getPersonalisedMusicFavouritesByType
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: 'Supported Music favourite types: Clips or Tracks'
          enum:
            - clips
            - tracks
          in: path
          name: type
          required: true
          type: string
        - description: Filters activities based on the type of action
          enum:
            - favourited
            - unfavourited
          in: query
          name: action
          required: false
          type: string
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedMusicResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/PersonalisedMusicErrorResponse'
      summary: Favourite Tracks or Clips by Type
      tags:
        - Music
  '/my/music/favourites/{type}/{id}':
    delete:
      description: |
        Delete track or clip from a BBC Music user favourites.
      operationId: deletePersonalisedMusicFavouritesByTypeById
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: 'Supported Music favourite types: Clips or Tracks'
          enum:
            - clips
            - tracks
          in: path
          name: type
          required: true
          type: string
        - description: Clip PID or Track ID
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedMusicSuccess'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/PersonalisedMusicErrorResponse'
      summary: Favourite Track or Clip
      tags:
        - Music
    get:
      description: |
        Check to see if a single track or clip entity is in a users favourites - determines UX of add button.
      operationId: getPersonalisedMusicFavouritesByTypeById
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: 'Supported Music favourite types: Clips or Tracks'
          enum:
            - clips
            - tracks
          in: path
          name: type
          required: true
          type: string
        - description: Clip PID or Track ID
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedMusicResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/PersonalisedMusicErrorResponse'
      summary: Favourite Track or Clip
      tags:
        - Music
    post:
      description: |
        Add track or clip to a BBC Music user favourites.

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: postPersonalisedMusicFavouritesByTypeById
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: 'Supported Music favourite types: Clips or Tracks'
          enum:
            - clips
            - tracks
          in: path
          name: type
          required: true
          type: string
        - description: Clip PID or Track ID
          in: path
          name: id
          required: true
          type: string
        - description: Action favourited or unfavourited
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PersonalisedMusicRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedMusicResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/PersonalisedMusicErrorResponse'
      summary: Favourite Track or Clip
      tags:
        - Music
    put:
      description: |
        Update tracks or clips from a BBC Music user favourites.

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: putPersonalisedMusicFavouritesByTypeById
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: 'Supported Music favourite types: Clips or Tracks'
          enum:
            - clips
            - tracks
          in: path
          name: type
          required: true
          type: string
        - description: Clip PID or Track ID
          in: path
          name: id
          required: true
          type: string
        - description: Action favourited or unfavourited
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PersonalisedMusicRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedMusicSuccess'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/PersonalisedMusicErrorResponse'
      summary: Favourite Track or Clip
      tags:
        - Music
  /my/music/follows:
    get:
      description: |
        List of followed networks, categories, artists, playlists and genres for a given user for BBC Music.
      operationId: getPersonalisedMusicFollows
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Filters activities based on the type of action
          enum:
            - followed
            - unfollowed
          in: query
          name: action
          required: false
          type: string
        - description: Omits music data from the response, defaults to true
          in: query
          name: music-data
          required: false
          type: boolean
        - description: Specify context to be passed to Music API
          enum:
            - events
            - ivote
            - music
            - musicplaylist
            - programmes
            - radio
            - unknown
          in: query
          name: music_context
          required: false
          type: string
        - description: Specify location to be passed to Music API
          in: query
          name: music_within_uk
          required: false
          type: boolean
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedMusicResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/PersonalisedMusicErrorResponse'
      summary: Followed Networks, Categories, Artists, Playlists and Genres
      tags:
        - Music
    post:
      description: |
        Add networks, categories, artists, playlists, networks, genres or services in a users follows

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: postPersonalisedMusicFollowsBatch
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Filters activities based on the type of action
          enum:
            - followed
            - unfollowed
          in: query
          name: action
          required: false
          type: string
        - description: Omits music data from the response, defaults to true
          in: query
          name: music-data
          required: false
          type: boolean
        - description: Specify context to be passed to Music API
          enum:
            - events
            - ivote
            - music
            - musicplaylist
            - programmes
            - radio
            - unknown
          in: query
          name: music_context
          required: false
          type: string
        - description: Specify location to be passed to Music API
          in: query
          name: music_within_uk
          required: false
          type: boolean
        - description: Action followed or unfollowed
          in: body
          name: body
          required: true
          schema:
            items:
              $ref: '#/definitions/PersonalisedMusicBatchRequest'
            type: array
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedMusicSuccess'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/PersonalisedMusicErrorResponse'
      summary: Followed Networks, Categories, Artists, Playlists and Genres
      tags:
        - Music
    put:
      description: |
        Update networks, categories, artists, playlists, networks, genres or services in a users follows

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: putPersonalisedMusicFollowsBatch
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Filters activities based on the type of action
          enum:
            - followed
            - unfollowed
          in: query
          name: action
          required: false
          type: string
        - description: Omits music data from the response, defaults to true
          in: query
          name: music-data
          required: false
          type: boolean
        - description: Specify context to be passed to Music API
          enum:
            - events
            - ivote
            - music
            - musicplaylist
            - programmes
            - radio
            - unknown
          in: query
          name: music_context
          required: false
          type: string
        - description: Specify location to be passed to Music API
          in: query
          name: music_within_uk
          required: false
          type: boolean
        - description: Action followed or unfollowed
          in: body
          name: body
          required: true
          schema:
            items:
              $ref: '#/definitions/PersonalisedMusicBatchRequest'
            type: array
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedMusicSuccess'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/PersonalisedMusicErrorResponse'
      summary: Followed Networks, Categories, Artists, Playlists and Genres
      tags:
        - Music
  '/my/music/follows/{type}':
    get:
      description: |
        List of followed networks, categories, artists, playlists, networks, genres, categories or services for a given BBC Music user.
      operationId: getPersonalisedMusicFollowsByType
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: 'Supported Music follows types: Playlists, Services, Genres & Artists'
          enum:
            - playlists
            - services
            - networks
            - genres
            - categories
            - artists
          in: path
          name: type
          required: true
          type: string
        - description: Filters activities based on the type of action
          enum:
            - followed
            - unfollowed
          in: query
          name: action
          required: false
          type: string
        - description: Omits music data from the response, defaults to true
          in: query
          name: music-data
          required: false
          type: boolean
        - description: Specify context to be passed to Music API
          enum:
            - events
            - ivote
            - music
            - musicplaylist
            - programmes
            - radio
            - unknown
          in: query
          name: music_context
          required: false
          type: string
        - description: Specify location to be passed to Music API
          in: query
          name: music_within_uk
          required: false
          type: boolean
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedMusicResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/PersonalisedMusicErrorResponse'
      summary: Followed Networks, Categories, Artists, Playlists and Genres by Type
      tags:
        - Music
  '/my/music/follows/{type}/{id}':
    delete:
      description: |
        Remove a single network, category, artist, playlist, network, genre or service entity is in a users follows
      operationId: deletePersonalisedMusicFollowsByTypeById
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: 'Supported Music follows types: Playlists, Services, Genres & Artists'
          enum:
            - playlists
            - services
            - networks
            - genres
            - categories
            - artists
          in: path
          name: type
          required: true
          type: string
        - description: Playlists, Services, Networks, Genres, Categories or Artists ID
          in: path
          name: id
          required: true
          type: string
        - description: Omits music data from the response, defaults to true
          in: query
          name: music-data
          required: false
          type: boolean
        - description: Specify context to be passed to Music API
          enum:
            - events
            - ivote
            - music
            - musicplaylist
            - programmes
            - radio
            - unknown
          in: query
          name: music_context
          required: false
          type: string
        - description: Specify location to be passed to Music API
          in: query
          name: music_within_uk
          required: false
          type: boolean
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedMusicSuccess'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/PersonalisedMusicErrorResponse'
      summary: Followed Network, Category, Artist, Playlist and Genre
      tags:
        - Music
    get:
      description: |
        Check to see if a single network, category, artist, playlist, network, genre or service entity is in a users follows - determines UX of add button.
      operationId: getPersonalisedMusicFollowsByTypeById
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: 'Supported Music follows types: Playlists, Services, Genres & Artists'
          enum:
            - playlists
            - services
            - networks
            - genres
            - categories
            - artists
          in: path
          name: type
          required: true
          type: string
        - description: Playlists, Services, Networks, Genres, Categories or Artists ID
          in: path
          name: id
          required: true
          type: string
        - description: Omits music data from the response, defaults to true
          in: query
          name: music-data
          required: false
          type: boolean
        - description: Specify context to be passed to Music API
          enum:
            - events
            - ivote
            - music
            - musicplaylist
            - programmes
            - radio
            - unknown
          in: query
          name: music_context
          required: false
          type: string
        - description: Specify location to be passed to Music API
          in: query
          name: music_within_uk
          required: false
          type: boolean
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedMusicResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/PersonalisedMusicErrorResponse'
      summary: Followed Network, Category, Artist, Playlist and Genre
      tags:
        - Music
    post:
      description: |
        Add a single network, category, artist, playlist, network, genre or service entity is in a users follows

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: postPersonalisedMusicFollowsByTypeById
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: 'Supported Music follows types: Playlists, Services, Genres & Artists'
          enum:
            - playlists
            - services
            - networks
            - genres
            - categories
            - artists
          in: path
          name: type
          required: true
          type: string
        - description: Playlists, Services, Networks, Genres, Categories or Artists ID
          in: path
          name: id
          required: true
          type: string
        - description: Omits music data from the response, defaults to true
          in: query
          name: music-data
          required: false
          type: boolean
        - description: Specify context to be passed to Music API
          enum:
            - events
            - ivote
            - music
            - musicplaylist
            - programmes
            - radio
            - unknown
          in: query
          name: music_context
          required: false
          type: string
        - description: Specify location to be passed to Music API
          in: query
          name: music_within_uk
          required: false
          type: boolean
        - description: Action followed or unfollowed
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PersonalisedMusicRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedMusicSuccess'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/PersonalisedMusicErrorResponse'
      summary: Followed Network, Category, Artist, Playlist and Genre
      tags:
        - Music
    put:
      description: |
        Update a single network, category, artist, playlist, network, genre or service entity is in a users follows

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: putPersonalisedMusicFollowsByTypeById
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: 'Supported Music follows types: Playlists, Services, Genres & Artists'
          enum:
            - playlists
            - services
            - networks
            - genres
            - categories
            - artists
          in: path
          name: type
          required: true
          type: string
        - description: Playlists, Services, Networks, Genres, Categories or Artists ID
          in: path
          name: id
          required: true
          type: string
        - description: Omits music data from the response, defaults to true
          in: query
          name: music-data
          required: false
          type: boolean
        - description: Specify context to be passed to Music API
          enum:
            - events
            - ivote
            - music
            - musicplaylist
            - programmes
            - radio
            - unknown
          in: query
          name: music_context
          required: false
          type: string
        - description: Specify location to be passed to Music API
          in: query
          name: music_within_uk
          required: false
          type: boolean
        - description: Action followed or unfollowed
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PersonalisedMusicRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedMusicSuccess'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/PersonalisedMusicErrorResponse'
      summary: Followed Network, Category, Artist, Playlist and Genre
      tags:
        - Music
  /my/music/preferences/export:
    delete:
      description: |
        Remove export preferences (e.g. 3rd party vendors, partner id's) for a given BBC Music user.
      operationId: deleteMusicPreferencesExport
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MusicExportSuccess'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/MusicExportErrorResponse'
      summary: Music Export Preferences
      tags:
        - Music Export
    get:
      description: |
        Returns export preferences (e.g. 3rd party vendors, partner id's) for a given BBC Music user.
      operationId: getMusicPreferencesExport
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MusicExportPreferencesResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/MusicExportErrorResponse'
      summary: Music Export Preferences
      tags:
        - Music Export
    post:
      description: |
        Create export preferences (e.g. 3rd party vendors, partner id's) for a given BBC Music user.
      operationId: postMusicPreferencesExport
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: ''
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/MusicExportPreferences'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MusicExportSuccess'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/MusicExportErrorResponse'
      summary: Music Export Preferences
      tags:
        - Music Export
  '/my/music/preferences/export/{vendor}':
    delete:
      description: |
        Remove Vendor specific export preferences (e.g. 3rd party vendors, partner id's) for a given BBC Music user.
      operationId: deleteMusicPreferencesExportVendor
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Supported 3rd Party Vendor
          enum:
            - spotify
            - deezer
            - youtube
            - itunes
          in: path
          name: vendor
          required: true
          type: string
      responses:
        '200':
          description: OK
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/MusicExportErrorResponse'
      summary: Music Export Vendor Preferences
      tags:
        - Music Export
    get:
      description: |
        Returns vendor specific export preferences for a given BBC Music user.
      operationId: getMusicPreferencesExportVendor
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Supported 3rd Party Vendor
          enum:
            - spotify
            - deezer
            - youtube
            - itunes
          in: path
          name: vendor
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MusicExportPreferencesResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/MusicExportErrorResponse'
      summary: Music Export Vendor Preferences
      tags:
        - Music Export
    post:
      description: |
        Create Vendor specific export preferences (e.g. 3rd party vendors, partner id's) for a given BBC Music user.
      operationId: postMusicPreferencesExportVendor
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Supported 3rd Party Vendor
          enum:
            - spotify
            - deezer
            - youtube
            - itunes
          in: path
          name: vendor
          required: true
          type: string
        - description: ''
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/MusicExportPreferences'
      responses:
        '200':
          description: OK
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/MusicExportErrorResponse'
      summary: Music Export Vendor Preferences
      tags:
        - Music Export
    put:
      description: |
        Update vendor specific export preferences for a given BBC Music user.
      operationId: putMusicPreferencesExportVendor
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Supported 3rd Party Vendor
          enum:
            - spotify
            - deezer
            - youtube
            - itunes
          in: path
          name: vendor
          required: true
          type: string
        - description: ''
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/MusicExportPreferences'
      responses:
        '200':
          description: OK
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/MusicExportErrorResponse'
      summary: Music Export Vendor Preferences
      tags:
        - Music Export
  /my/networks/follows:
    delete:
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          type: integer
        - in: body
          name: Body
          required: true
          schema:
            $ref: '#/definitions/Body_3'
      responses:
        '202':
          description: Request successfully sent to UAS.
        '400':
          description: The request was malformed.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: There was an error with the supplied `Authorization` header.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Unfollow network
      tags:
        - Personalised Networks
    get:
      description: |
        List of followed networks for a given user.
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedNetworksResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: List of followed networks
      tags:
        - Personalised Networks
    post:
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          type: integer
        - in: body
          name: Body
          required: true
          schema:
            $ref: '#/definitions/Body_2'
      responses:
        '202':
          description: Request successfully sent to UAS.
        '400':
          description: The request was malformed.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: There was an error with the supplied `Authorization` header.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Follow network
      tags:
        - Personalised Networks
  /my/plays:
    post:
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - in: body
          name: Body
          required: true
          schema:
            $ref: '#/definitions/Body_4'
      responses:
        '202':
          description: Request successfully sent to UAS.
        '400':
          description: The request was malformed.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: There was an error with the supplied `Authorization` header.
          schema:
            $ref: '#/definitions/ErrorResponse'
      schemes:
        - https
      summary: Write Play Event
      tags:
        - Personalised Plays
  /my/playspace/containers/suggested:
    get:
      description: |
        Suggested Playspace Container
      operationId: suggestContainer
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Clip or Episode PID of the previous or first content item in the Playspace stream.
          in: query
          name: previous_pid
          required: true
          type: string
        - description: Container ID of the previous container in the Playspace stream.
          in: query
          name: previous_container
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PlayspaceContainer'
        '401':
          description: There was an error with the supplied `Authorization` header.
          schema:
            $ref: '#/definitions/ErrorResponse'
      schemes:
        - https
      summary: Suggested Playspace Container
      tags:
        - Playspace
  '/my/playspace/containers/{id}':
    get:
      description: |
        Playspace Container by ID
      operationId: getContainer
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Playspace Container ID
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PlayspaceContainer'
        '401':
          description: There was an error with the supplied `Authorization` header.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: No Playspace container with given ID could be found.
          schema:
            $ref: '#/definitions/ErrorResponse'
      schemes:
        - https
      summary: Playspace Container by ID
      tags:
        - Playspace
  /my/programmes/recommendations:
    get:
      description: |
        Recommended Programmes from the Audience Platforms' Recomendations Service
      operationId: getRecommendations
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          type: integer
        - description: Only return available results for the web/mobile.
          enum:
            - web
            - mobile
          in: query
          name: rights
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ProgrammesResponse'
        '401':
          description: There was an error with the supplied `Authorization` header.
          schema:
            $ref: '#/definitions/ErrorResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Recommended Programmes
      tags:
        - Programmes
  /my/radio/favourites:
    get:
      description: |
        List of favourited episodes and clips for a given user for iPlayer Radio.

        N.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode
        and Clip Summaries so we are defining data as a Programme Summary here.  This will be resolved in V3 with full support for
         anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification
      operationId: getPersonalisedRadioFavourites
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          type: integer
        - description: Sort order for Personalised Radio results
          enum:
            - programme_titles
            - available_from_date
            - available_to_date
          in: query
          name: sort
          required: false
          type: string
        - description: Include items which have been 'soft' unfavourited in response. I.e items with UAS type of 'unfavourited'
          in: query
          name: show_all_activity
          required: false
          type: boolean
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedRadioResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/PersonalisedRadioErrorResponse'
      schemes:
        - https
      summary: Favourite Episodes and Clips
      tags:
        - Radio
    post:
      description: |
        Add User favourites

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: postPersonalisedRadioBatch
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Action favourited or unfavourited
          in: body
          name: body
          required: true
          schema:
            items:
              $ref: '#/definitions/PersonalisedRadioBatchRequest'
            type: array
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedRadioSuccessResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/PersonalisedRadioErrorResponse'
      summary: Favourite Episodes and Clips
      tags:
        - Radio
    put:
      description: |
        Update user favourites

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: putPersonalisedRadioBatch
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Action favourited or unfavourited
          in: body
          name: body
          required: true
          schema:
            items:
              $ref: '#/definitions/PersonalisedRadioBatchRequest'
            type: array
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedRadioSuccessResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/PersonalisedRadioErrorResponse'
      summary: Favourite Episodes and Clips
      tags:
        - Radio
  '/my/radio/favourites/{type}':
    get:
      description: |
        List of followed 'clips' or 'episode' items for a given iPlayer Radio user

        N.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode
        and Clip Summaries so we are defining data as a Programme Summary here.  This will be resolved in V3 with full support for
         anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification
      operationId: getPersonalisedRadioFavouritesByType
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: 'Supported Radio favourite types: Clips or Episodes'
          enum:
            - clips
            - episodes
          in: path
          name: type
          required: true
          type: string
        - description: Sort order for Personalised Radio results
          enum:
            - programme_titles
            - available_from_date
            - available_to_date
          in: query
          name: sort
          required: false
          type: string
        - description: Include items which have been 'soft' unfavourited in response. I.e items with UAS type of 'unfavourited'
          in: query
          name: show_all_activity
          required: false
          type: boolean
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedRadioResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/PersonalisedRadioErrorResponse'
      summary: Favourite Episodes and Clips by Type
      tags:
        - Radio
  '/my/radio/favourites/{type}/{pid}':
    delete:
      description: |
        Remove User favourite
      operationId: deletePersonalisedRadioByActivityTypeById
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: 'Supported Radio favourite types: Clips or Episodes'
          enum:
            - clips
            - episodes
          in: path
          name: type
          required: true
          type: string
        - description: pid
          in: path
          name: pid
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedRadioSuccessResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/PersonalisedRadioErrorResponse'
      summary: Favourite Episode or Clip
      tags:
        - Radio
    get:
      description: |
        Check to see if a single clip or episode entity is in a users favourites - determines UX of add button.

        N.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode
        and Clip Summaries so we are defining data as a Programme Summary here.  This will be resolved in V3 with full support for
         anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification
      operationId: getPersonalisedRadioByActivityTypeById
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: 'Supported Radio favourite types: Clips or Episodes'
          enum:
            - clips
            - episodes
          in: path
          name: type
          required: true
          type: string
        - description: pid
          in: path
          name: pid
          required: true
          type: string
        - description: Include items which have been 'soft' unfavourited in response. I.e items with UAS type of 'unfavourited'
          in: query
          name: show_all_activity
          required: false
          type: boolean
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedRadioResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/PersonalisedRadioErrorResponse'
      summary: Favourite Episode or Clip
      tags:
        - Radio
    post:
      description: |
        Add User favourite

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: postPersonalisedRadioByActivityTypeById
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: 'Supported Radio favourite types: Clips or Episodes'
          enum:
            - clips
            - episodes
          in: path
          name: type
          required: true
          type: string
        - description: pid
          in: path
          name: pid
          required: true
          type: string
        - description: Action favourited or unfavourited
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PersonalisedRadioRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedRadioSuccessResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/PersonalisedRadioErrorResponse'
      summary: Favourite Episode or Clip
      tags:
        - Radio
    put:
      description: |
        Update user favourite

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: putPersonalisedRadioByActivityTypeById
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: 'Supported Radio favourite types: Clips or Episodes'
          enum:
            - clips
            - episodes
          in: path
          name: type
          required: true
          type: string
        - description: pid
          in: path
          name: pid
          required: true
          type: string
        - description: Action favourited or unfavourited
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PersonalisedRadioRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedRadioSuccessResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/PersonalisedRadioErrorResponse'
      summary: Favourite Episode or Clip
      tags:
        - Radio
  /my/radio/follows:
    get:
      description: |
        List of favourited brands and series for a given user for iPlayer Radio.

        N.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode
        and Clip Summaries so we are defining data as a Programme Summary here.  This will be resolved in V3 with full support for
         anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification
      operationId: getPersonalisedRadioFollows
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          type: integer
        - description: Sort order for Personalised Radio results
          enum:
            - programme_titles
            - available_from_date
            - available_to_date
          in: query
          name: sort
          required: false
          type: string
        - description: Include items which have been 'soft' unfollowed in response. I.e items with UAS type of 'unfollowed'
          in: query
          name: show_all_activity
          required: false
          type: boolean
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedRadioResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/PersonalisedRadioErrorResponse'
      summary: Followed Brands and Series
      tags:
        - Radio
    post:
      description: |
        Add 'brand' or 'series' items to a users iPlayer Radio follows

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: postPersonalisedRadioFollowsBatch
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Action followed or unfollowed
          in: body
          name: body
          required: true
          schema:
            items:
              $ref: '#/definitions/PersonalisedRadioBatchRequest'
            type: array
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedRadioSuccessResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/PersonalisedRadioErrorResponse'
      summary: Followed Brands and Series
      tags:
        - Radio
    put:
      description: |
        Update 'brands' or 'series' items from a users iPlayer Radio follows

        N.B. Any HTML tags submitted in metadata will be removed
      operationId: putPersonalisedRadioFollowsBatch
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: Action followed or unfollowed
          in: body
          name: body
          required: true
          schema:
            items:
              $ref: '#/definitions/PersonalisedRadioBatchRequest'
            type: array
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedRadioSuccessResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/PersonalisedRadioErrorResponse'
      summary: Followed Brands and Series
      tags:
        - Radio
  '/my/radio/follows/{type}':
    get:
      description: |
        List of followed 'brand' or 'series' items for a given iPlayer Radio user

        N.B.  Swagger schemas cannot currently handle multiple combinations of object in an array i.e. a mix of Episode
        and Clip Summaries so we are defining data as a Programme Summary here.  This will be resolved in V3 with full support for
         anyOf https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification
      operationId: getPersonalisedRadioFollowsByType
      parameters:
        - default: Bearer OAUTH_TOKEN
          description: Bearer OAUTH_TOKEN
          in: header
          name: Authorization
          required: true
          type: string
        - default: idv5
          description: Authentication type
          in: header
          name: X-Authentication-Provider
          required: true
          type: string
        - description: API_KEY
          in: header
          name: X-API-Key
          required: true
          type: string
        - description: 'Supported Radio follows types: Brands or Series'
          enum:
            - brands
            - series
          in: path
          name: type
          required: true
          type: string
        - description: Sort order for Personalised Radio results
          enum:
            - programme_titles
            - available_from_date
            - available_to_date
          in: query
          name: sort
          required: false
          type: string
        - description: Paginated results offset
          in: query
          name: offset
          required: false
          type: integer
        - description: Paginated results limit
          in: query
          name: limit
          required: false
          type: integer
        - description: Include items which have been 'soft' unfollowed in response. I.e items with UAS type of 'unfollowed'
          in: query
          name: show_all_activity
          required: false
          type: boolean
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PersonalisedRadioResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/PersonalisedRadioErrorResponse'
      summary: Followed Brands or Series by Type
      tags:
        - Radio
  '/my/radio/follows/{type}/{pid}':
    delete:
      description: |
        Remove 'brand' or 'series' items from a users iPlayer Radio follows
[...]
