/* basic theme */
.light-mode,
.light-mode .dark-mode {
  --default-theme-background-1: #f9f9f9;
  --default-theme-background-2: #f1f1f1;
  --default-theme-background-3: #e7e7e7;
  --default-theme-background-card: #fff;

  --default-theme-color-1: #2a2f45;
  --default-theme-color-2: #757575;
  --default-theme-color-3: #8e8e8e;

  --default-theme-color-accent: var(--default-theme-color-1);
  --default-theme-background-accent: var(--default-theme-background-3);

  --default-theme-border-color: rgba(0, 0, 0, 0.1);
  --default-theme-code-languages-background-supersede: var(
    --default-theme-background-1
  );
  --default-theme-code-language-color-supersede: var(--default-theme-color-1);
}
.dark-mode {
  --default-theme-background-1: #131313;
  --default-theme-background-2: #1d1d1d;
  --default-theme-background-3: #272727;
  --default-theme-background-card: #1d1d1d;

  --default-theme-color-1: rgba(255, 255, 255, 0.9);
  --default-theme-color-2: rgba(255, 255, 255, 0.62);
  --default-theme-color-3: rgba(255, 255, 255, 0.44);

  --default-theme-color-accent: var(--default-theme-color-1);
  --default-theme-background-accent: var(--default-theme-background-3);

  --default-theme-border-color: rgba(255, 255, 255, 0.1);
  --default-theme-code-languages-background-supersede: var(
    --default-theme-background-3
  );
  --default-theme-code-language-color-supersede: var(--default-theme-color-3);
}
/* Document header */
.light-mode .t-doc__header,
.dark-mode .t-doc__header {
  --header-background-1: var(--default-theme-background-1);
  --header-border-color: var(--default-theme-border-color);
  --header-color-1: var(--default-theme-color-1);
  --header-color-2: var(--default-theme-color-2);
  --header-call-to-action-color: var(--default-theme-color-accent);
}
.download-cta a,
.references-rendered .markdown a {
  color: var(--default-theme-color-1) !important;
  text-decoration: underline !important;
}
/* Document Sidebar */
.light-mode .t-doc__sidebar,
.dark-mode .t-doc__sidebar {
  --sidebar-background-1: var(--default-theme-background-1);
  --sidebar-color-1: var(--default-theme-color-1);
  --sidebar-color-2: var(--default-theme-color-2);
  --sidebar-border-color: var(--default-theme-border-color);

  --sidebar-item-hover-background: var(--default-theme-background-2);
  --sidebar-item-hover-color: currentColor;

  --sidebar-item-active-background: var(--default-theme-background-accent);
  --sidebar-color-active: var(--default-theme-color-accent);

  --sidebar-search-background: transparent;
  --sidebar-search-color: var(--default-theme-color-3);
  --sidebar-search-border-color: var(--default-theme-border-color);
}
/* advanced */
.light-mode {
  --default-theme-color-green: #069061;
  --default-theme-color-red: #ef0006;
  --default-theme-color-yellow: #edbe20;
  --default-theme-color-blue: #0082d0;
  --default-theme-color-orange: #fb892c;
  --default-theme-color-purple: #5203d1;
}
.dark-mode {
  --default-theme-color-green: #00b648;
  --default-theme-color-red: #dd2f2c;
  --default-theme-color-yellow: #ffc90d;
  --default-theme-color-blue: #4eb3ec;
  --default-theme-color-orange: #ff8d4d;
  --default-theme-color-purple: #b191f9;
}

.code-languages-background:before {
  box-shadow: inset 0 0 0 1px var(--default-theme-border-color) !important;
}
.scalar-api-client__item,
.scalar-card,
.dark-mode .dark-mode.scalar-card {
  --default-theme-background-1: var(--default-theme-background-card);
  --default-theme-background-2: var(--default-theme-background-1);
  --default-theme-background-3: var(--default-theme-background-1);
}
.dark-mode .dark-mode.scalar-card {
  --default-theme-background-3: var(--default-theme-background-3);
}
.dark-mode .show-api-client-button span,
.dark-mode .show-api-client-button svg {
  color: var(--default-theme-background-3);
}
.dark-mode .show-api-client-button {
  background: var(--default-theme-color-1) !important;
}
.t-doc__sidebar {
  --default-theme-color-green: var(--default-theme-color-1);
  --default-theme-color-red: var(--default-theme-color-1);
  --default-theme-color-yellow: var(--default-theme-color-1);
  --default-theme-color-blue: var(--default-theme-color-1);
  --default-theme-color-orange: var(--default-theme-color-1);
  --default-theme-color-purple: var(--default-theme-color-1);
}
