/* basic theme */
.light-mode {
  --default-theme-background-1: #fff;
  --default-theme-background-2: #f6f6f6;
  --default-theme-background-3: #e7e7e7;
  --default-theme-background-accent: #8ab4f81f;

  --default-theme-color-1: #2a2f45;
  --default-theme-color-2: #757575;
  --default-theme-color-3: #8e8e8e;

  --default-theme-color-accent: #0099ff;
  --default-theme-border-color: rgba(0, 0, 0, 0.1);
}
.dark-mode {
  --default-theme-background-1: #0f0f0f;
  --default-theme-background-2: #1a1a1a;
  --default-theme-background-3: #272727;

  --default-theme-color-1: rgba(255, 255, 255, 0.9);
  --default-theme-color-2: rgba(255, 255, 255, 0.62);
  --default-theme-color-3: rgba(255, 255, 255, 0.44);

  --default-theme-color-accent: #3ea6ff;
  --default-theme-background-accent: #3ea6ff1f;

  --default-theme-border-color: rgba(255, 255, 255, 0.1);
}

/* Document header */
.light-mode .t-doc__header {
  --header-background-1: var(--default-theme-background-1);
  --header-border-color: var(--default-theme-border-color);
  --header-color-1: var(--default-theme-color-1);
  --header-color-2: var(--default-theme-color-2);
  --header-background-toggle: var(--default-theme-color-3);
  --header-call-to-action-color: var(--default-theme-color-accent);
}
.dark-mode .t-doc__header {
  --header-background-1: var(--default-theme-background-1);
  --header-border-color: var(--default-theme-border-color);
  --header-color-1: var(--default-theme-color-1);
  --header-color-2: var(--default-theme-color-2);
  --header-background-toggle: var(--default-theme-color-3);
  --header-call-to-action-color: var(--default-theme-color-accent);
}

/* Document Sidebar */
.light-mode .t-doc__sidebar,
.dark-mode .t-doc__sidebar {
  --sidebar-background-1: var(--default-theme-background-1);
  --sidebar-color-1: var(--default-theme-color-1);
  --sidebar-color-2: var(--default-theme-color-2);
  --sidebar-border-color: var(--default-theme-border-color);

  --sidebar-item-hover-background: var(--default-theme-background-3);
  --sidebar-item-hover-color: currentColor;

  --sidebar-item-active-background: var(--default-theme-background-accent);
  --sidebar-color-active: var(--default-theme-color-accent);

  --sidebar-search-background: transparent;
  --sidebar-search-color: var(--default-theme-color-3);
  --sidebar-search-border-color: var(--default-theme-border-color);
}

/* advanced */
.light-mode {
  --default-theme-color-green: #069061;
  --default-theme-color-red: #ef0006;
  --default-theme-color-yellow: #edbe20;
  --default-theme-color-blue: #0082d0;
  --default-theme-color-orange: #fb892c;
  --default-theme-color-purple: #5203d1;
}
.dark-mode {
  --default-theme-color-green: #00b648;
  --default-theme-color-red: #dc1b19;
  --default-theme-color-yellow: #ffc90d;
  --default-theme-color-blue: #4eb3ec;
  --default-theme-color-orange: #ff8d4d;
  --default-theme-color-purple: #b191f9;
}
