.light-mode {
  color-scheme: light;
  --default-theme-color-1: #2a2f45;
  --default-theme-color-2: #757575;
  --default-theme-color-3: #8e8e8e;
  --default-theme-color-disabled: #b4b1b1;
  --default-theme-color-ghost: #a7a7a7;
  --default-theme-color-accent: #0099ff;
  --default-theme-background-1: #fff;
  --default-theme-background-2: #f6f6f6;
  --default-theme-background-3: #e7e7e7;
  --default-theme-background-4: rgba(0, 0, 0, 0.06);
  --default-theme-background-accent: #8ab4f81f;

  --default-theme-border-color: rgba(0, 0, 0, 0.1);
  --default-theme-scrollbar-color: rgba(0, 0, 0, 0.18);
  --default-theme-scrollbar-color-active: rgba(0, 0, 0, 0.36);
  --default-theme-lifted-brightness: 1;
  --default-theme-backdrop-brightness: 1;

  --default-theme-shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.11);
  --default-theme-shadow-2: rgba(0, 0, 0, 0.08) 0px 13px 20px 0px,
    rgba(0, 0, 0, 0.08) 0px 3px 8px 0px, #eeeeed 0px 0 0 1px;

  --default-theme-button-1: rgb(49 53 56);
  --default-theme-button-1-color: #fff;
  --default-theme-button-1-hover: rgb(28 31 33);

  /* REST API Client Colors */
  --default-theme-color-green: #069061;
  --default-theme-color-red: #ef0006;
  --default-theme-color-yellow: #edbe20;
  --default-theme-color-blue: #0082d0;
  --default-theme-color-orange: #fb892c;
  --default-theme-color-purple: #5203d1;

  /* Misc Scalar Branding */
  --default-scalar-brand: #faf6e9;
}
.dark-mode {
  color-scheme: dark;
  --default-theme-color-1: rgba(255, 255, 255, 0.9);
  --default-theme-color-2: rgba(255, 255, 255, 0.62);
  --default-theme-color-3: rgba(255, 255, 255, 0.44);
  --default-theme-color-disabled: rgba(255, 255, 255, 0.34);
  --default-theme-color-ghost: rgba(255, 255, 255, 0.26);
  --default-theme-color-accent: #8ab4f8;
  --default-theme-background-1: #1a1a1a;
  --default-theme-background-2: #252525;
  --default-theme-background-3: #323232;
  --default-theme-background-4: rgba(255, 255, 255, 0.06);
  --default-theme-background-accent: #8ab4f81f;

  --default-theme-border-color: rgba(255, 255, 255, 0.1);
  --default-theme-scrollbar-color: rgba(255, 255, 255, 0.24);
  --default-theme-scrollbar-color-active: rgba(255, 255, 255, 0.48);
  --default-theme-lifted-brightness: 1.45;
  --default-theme-backdrop-brightness: 0.5;

  --default-theme-shadow-1: 0 1px 3px 0 rgb(0, 0, 0, 0.1);
  --default-theme-shadow-2: rgba(15, 15, 15, 0.2) 0px 3px 6px,
    rgba(15, 15, 15, 0.4) 0px 9px 24px, 0 0 0 1px rgba(255, 255, 255, 0.1);

  --default-theme-button-1: #f6f6f6;
  --default-theme-button-1-color: #000;
  --default-theme-button-1-hover: #e7e7e7;

  /* REST API Client Colors */
  --default-theme-color-green: #00b648;
  --default-theme-color-red: #dc1b19;
  --default-theme-color-yellow: #ffc90d;
  --default-theme-color-blue: #4eb3ec;
  --default-theme-color-orange: #ff8d4d;
  --default-theme-color-purple: #b191f9;

  /* Misc Scalar Branding */
  --default-scalar-brand: #8b7256;
}
.light-mode .t-doc__sidebar {
  --default-sidebar-background-1: var(--default-theme-background-1);
  --default-sidebar-item-hover-color: currentColor;
  --default-sidebar-item-hover-background: var(--default-theme-background-2);
  --default-sidebar-item-active-background: var(
    --default-theme-background-accent
  );
  --default-sidebar-border-color: var(--default-theme-border-color);
  --default-sidebar-color-1: var(--default-theme-color-1);
  --default-sidebar-color-2: var(--default-theme-color-2);
  --default-sidebar-color-active: var(--default-theme-color-accent);
  --default-sidebar-search-background: transparent;
  --default-sidebar-search-border: var(--default-theme-border-color);
  --default-sidebar-search--color: var(--default-theme-color-3);
}

.dark-mode .sidebar {
  --default-sidebar-background-1: var(--default-theme-background-1);
  --default-sidebar-item-hover-color: currentColor;
  --default-sidebar-item-hover-background: var(--default-theme-background-2);
  --default-sidebar-item-active-background: var(
    --default-theme-background-accent
  );
  --default-sidebar-border-color: var(--default-theme-border-color);
  --default-sidebar-color-1: var(--default-theme-color-1);
  --default-sidebar-color-2: var(--default-theme-color-2);
  --default-sidebar-color-active: var(--default-theme-color-accent);
  --default-sidebar-search-background: transparent;
  --default-sidebar-search-border: var(--default-theme-border-color);
  --default-sidebar-search--color: var(--default-theme-color-3);
}
