/* basic theme */
.light-mode {
  --default-theme-background-1: #f9f6f0;
  --default-theme-background-2: #f2efe8;
  --default-theme-background-3: #e9e7e2;
  --default-theme-border-color: rgba(203, 165, 156, 0.6);

  --default-theme-color-1: #c75549;
  --default-theme-color-2: #c75549;
  --default-theme-color-3: #c75549;

  --default-theme-color-accent: #c75549;
  --default-theme-background-accent: #dcbfa81f;

  --default-theme-code-language-color-supersede: var(--default-theme-color-1);
}
.dark-mode {
  --default-theme-background-1: #140507;
  --default-theme-background-2: #20090c;
  --default-theme-background-3: #321116;
  --default-theme-border-color: rgba(255, 255, 255, 0.1);

  --default-theme-color-1: rgba(255, 255, 255, 0.9);
  --default-theme-color-2: rgba(255, 255, 255, 0.62);
  --default-theme-color-3: rgba(255, 255, 255, 0.44);

  --default-theme-color-accent: rgba(255, 255, 255, 0.9);
  --default-theme-background-accent: #441313;

  --default-theme-code-language-color-supersede: var(--default-theme-color-1);
}

/* Document Sidebar */
.light-mode .t-doc__sidebar,
.dark-mode .t-doc__sidebar {
  --default-sidebar-background-1: var(--default-theme-background-1);
  --default-sidebar-color-1: var(--default-theme-color-1);
  --default-sidebar-color-2: var(--default-theme-color-2);
  --default-sidebar-border-color: var(--default-theme-border-color);

  --default-sidebar-item-hover-color: currentColor;
  --default-sidebar-item-hover-background: var(--default-theme-background-2);

  --default-sidebar-item-active-background: var(--default-theme-background-3);
  --default-sidebar-color-active: var(--default-theme-color-accent);

  --default-sidebar-search-background: rgba(255, 255, 255, 0.1);
  --default-sidebar-search-color: var(--default-theme-color-3);
  --default-sidebar-search-border-color: var(--default-theme-border-color);
  z-index: 1;

  --default-sidebar-indent-border: transparent;
  --default-sidebar-indent-border-active: transparent;
}
/* advanced */
.light-mode {
  --default-theme-color-green: #09533a;
  --default-theme-color-red: #aa181d;
  --default-theme-color-yellow: #ab8d2b;
  --default-theme-color-blue: #19689a;
  --default-theme-color-orange: #b26c34;
  --default-theme-color-purple: #4c2191;

  --default-theme-button-1: rgba(0, 0, 0, 1);
  --default-theme-button-1-hover: rgba(0, 0, 0, 0.8);
  --default-theme-button-1-color: rgba(255, 255, 255, 0.9);
}
.dark-mode {
  --default-theme-color-green: rgba(69, 255, 165, 0.823);
  --default-theme-color-red: #ff8589;
  --default-theme-color-yellow: #ffcc4d;
  --default-theme-color-blue: #6bc1fe;
  --default-theme-color-orange: #f98943;
  --default-theme-color-purple: #b191f9;

  --default-theme-button-1: rgba(255, 255, 255, 1);
  --default-theme-button-1-hover: rgba(255, 255, 255, 0.9);
  --default-theme-button-1-color: black;
}
/* Custom Theme */
.dark-mode h2.t-editor__heading,
.dark-mode .t-editor__page-title h1,
.dark-mode h1.section-header,
.dark-mode .markdown h1,
.dark-mode .markdown h2,
.dark-mode .markdown h3,
.dark-mode .markdown h4,
.dark-mode .markdown h5,
.dark-mode .markdown h6 {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right bottom,
    rgb(255, 255, 255) 30%,
    rgba(255, 255, 255, 0.38)
  );
  -webkit-background-clip: text;
  background-clip: text;
}
.light-mode .t-doc__sidebar {
  --default-sidebar-search-background: white;
}
.examples .scalar-card-footer {
  --default-theme-background-3: transparent;
  padding-top: 0;
}
.show-api-client-button:before {
  background: white !important;
}
.show-api-client-button span,
.show-api-client-button svg {
  color: black !important;
}
.code-languages-background {
  background: var(--default-theme-background-1) !important;
}
.code-languages-background:before {
  box-shadow: inset 0 0 0 2px var(--default-theme-border-color);
  background: linear-gradient(
    to right top,
    rgb(211 225 249 / 12%),
    rgb(209 223 247 / 11%),
    rgb(223 233 251 / 29%)
  ) !important;
}
.light-mode .code-languages-background:before {
  background: linear-gradient(
    to right top,
    rgb(0 0 0 / 8%),
    rgb(0 0 0 / 7%),
    rgb(0 0 0 / 19%)
  ) !important;
}
.code-languages__active .code-languages-background:before {
  background: var(--default-theme-background-1) !important;
}

.code-languages span {
  margin-top: 5px !important;
}
/* Hero section flare */
.section-flare-item:nth-of-type(1) {
  background: #d25019;
  width: 80vw;
  height: 500px;
  margin-top: -150px;
  border-radius: 50%;
  filter: blur(100px);
  z-index: 0;
}
.light-mode .section-flare {
  display: none;
}
.section-flare {
  top: -150px !important;
  height: 100vh;
  right: -400px !important;
  left: initial;
}
.download-cta a,
.section .markdown a {
  text-decoration: underline !important;
}
