.light-mode {
  color-scheme: light;
  --default-scalar-color-1: #000000;
  --default-scalar-color-2: #000000;
  --default-scalar-color-3: #000000;
  --default-scalar-color-accent: #645b0f;
  --default-scalar-background-1: #ccc9b3;
  --default-scalar-background-2: #c2bfaa;
  --default-scalar-background-3: #b8b5a1;
  --default-scalar-background-accent: #000000;

  --default-scalar-border-color: rgba(0, 0, 0, 0.2);
  --default-scalar-scrollbar-color: rgba(0, 0, 0, 0.18);
  --default-scalar-scrollbar-color-active: rgba(0, 0, 0, 0.36);
  --default-scalar-lifted-brightness: 1;
  --default-scalar-backdrop-brightness: 1;

  --default-scalar-shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.11);
  --default-scalar-shadow-2: rgba(0, 0, 0, 0.08) 0px 13px 20px 0px,
    rgba(0, 0, 0, 0.08) 0px 3px 8px 0px,
    var(--default-scalar-border-color) 0px 0 0 1px;

  --default-scalar-button-1: rgb(49 53 56);
  --default-scalar-button-1-color: #fff;
  --default-scalar-button-1-hover: rgb(28 31 33);

  --default-scalar-color-red: #b91c1c;
  --default-scalar-color-orange: #a16207;
  --default-scalar-color-green: #047857;
  --default-scalar-color-blue: #1d4ed8;
  --default-scalar-color-orange: #c2410c;
  --default-scalar-color-purple: #6d28d9;

  --default-scalar-code-languages-background-supersede: var(
    --default-scalar-background-3
  );
  --default-scalar-code-language-color-supersede: var(--default-scalar-color-1);
}

.dark-mode {
  color-scheme: dark;
  --default-scalar-color-1: #fffef3;
  --default-scalar-color-2: #fffef3;
  --default-scalar-color-3: #fffef3;
  --default-scalar-color-accent: #c3b531;
  --default-scalar-background-1: #313332;
  --default-scalar-background-2: #393b3a;
  --default-scalar-background-3: #414342;
  --default-scalar-background-accent: #fffef3;

  --default-scalar-border-color: rgba(255, 255, 255, 0.1);
  --default-scalar-scrollbar-color: rgba(255, 255, 255, 0.24);
  --default-scalar-scrollbar-color-active: rgba(255, 255, 255, 0.48);
  --default-scalar-lifted-brightness: 1.45;
  --default-scalar-backdrop-brightness: 0.5;

  --default-scalar-shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.11);
  --default-scalar-shadow-2: rgba(15, 15, 15, 0.2) 0px 3px 6px,
    rgba(15, 15, 15, 0.4) 0px 9px 24px, 0 0 0 1px rgba(255, 255, 255, 0.1);

  --default-scalar-button-1: #f6f6f6;
  --default-scalar-button-1-color: #000;
  --default-scalar-button-1-hover: #e7e7e7;

  --default-scalar-color-green: #00b648;
  --default-scalar-color-red: #dc1b19;
  --default-scalar-color-yellow: #ffc90d;
  --default-scalar-color-blue: #4eb3ec;
  --default-scalar-color-orange: #ff8d4d;
  --default-scalar-color-purple: #b191f9;

  --default-scalar-code-languages-background-supersede: var(
    --default-scalar-background-3
  );
  --default-scalar-code-language-color-supersede: var(--default-scalar-color-1);
}

/* Sidebar */
.light-mode .t-doc__sidebar {
  --default-sidebar-background-1: var(--default-scalar-background-1);
  --default-sidebar-item-hover-color: currentColor;
  --default-sidebar-item-hover-background: var(--default-scalar-background-2);
  --default-sidebar-item-active-background: var(
    --default-scalar-background-accent
  );
  --default-sidebar-border-color: var(--default-scalar-border-color);
  --default-sidebar-color-1: var(--default-scalar-color-1);
  --default-sidebar-color-2: var(--default-scalar-color-2);
  --default-sidebar-color-active: var(--default-sidebar-background-1);
  --default-sidebar-search-background: var(--default-scalar-background-3);
  --default-sidebar-search-border-color: var(
    --default-sidebar-search-background
  );
  --default-sidebar-search--color: var(--default-scalar-color-3);
}

.dark-mode .sidebar {
  --default-sidebar-background-1: var(--default-scalar-background-1);
  --default-sidebar-item-hover-color: currentColor;
  --default-sidebar-item-hover-background: var(--default-scalar-background-2);
  --default-sidebar-item-active-background: var(
    --default-scalar-background-accent
  );
  --default-sidebar-border-color: var(--default-scalar-border-color);
  --default-sidebar-color-1: var(--default-scalar-color-1);
  --default-sidebar-color-2: var(--default-scalar-color-2);
  --default-sidebar-color-active: var(--default-sidebar-background-1);
  --default-sidebar-search-background: var(--default-scalar-background-3);
  --default-sidebar-search-border-color: var(
    --default-sidebar-search-background
  );
  --default-sidebar-search--color: var(--default-scalar-color-3);
}
