/* basic theme */
.light-mode {
  --default-theme-background-1: #fff;
  --default-theme-background-2: #f5f6f8;
  --default-theme-background-3: #eceef1;

  --default-theme-color-1: #2a2f45;
  --default-theme-color-2: #757575;
  --default-theme-color-3: #8e8e8e;

  --default-theme-color-accent: #5469d4;
  --default-theme-background-accent: #5469d41f;

  --default-theme-border-color: rgba(215, 215, 206, 0.5);
}
.dark-mode {
  --default-theme-background-1: #15171c;
  --default-theme-background-2: #1c1e24;
  --default-theme-background-3: #22252b;

  --default-theme-color-1: #fafafa;
  --default-theme-color-2: #c9ced8;
  --default-theme-color-3: #8c99ad;

  --default-theme-color-accent: #5469d4;
  --default-theme-background-accent: #5469d41f;

  --default-theme-border-color: rgba(255, 255, 255, 0.12);
}
/* Document header */
.light-mode .t-doc__header,
.dark-mode .t-doc__header {
  --header-background-1: var(--default-theme-background-1);
  --header-color-1: var(--default-theme-color-1);
  --header-color-2: var(--default-theme-color-2);
  --header-border-color: var(--default-theme-border-color);
  --header-call-to-action-color: var(--default-theme-color-accent);
}
/* Document Sidebar */
.light-mode .t-doc__sidebar,
.dark-mode .t-doc__sidebar {
  --sidebar-background-1: var(--default-theme-background-1);
  --sidebar-color-1: var(--default-theme-color-1);
  --sidebar-color-2: var(--default-theme-color-2);
  --sidebar-border-color: var(--default-theme-border-color);

  /* Sidebar item hover */
  --sidebar-item-hover-color: currentColor;
  --sidebar-item-hover-background: var(--default-theme-background-3);

  /* Sidebar Active */
  --sidebar-item-active-background: var(--default-theme-background-accent);
  --sidebar-color-active: var(--default-theme-color-accent);

  /* Sidebar Search */
  --sidebar-search-background: var(--default-theme-background-1);
  --sidebar-search-color: var(--default-theme-color-3);
  --sidebar-search-border-color: var(--default-theme-border-color);
}

/* advanced */
.light-mode {
  --default-theme-color-green: #17803d;
  --default-theme-color-red: #e10909;
  --default-theme-color-yellow: #edbe20;
  --default-theme-color-blue: #1763a6;
  --default-theme-color-orange: #e25b09;
  --default-theme-color-purple: #5c3993;
}
.dark-mode {
  --default-theme-color-green: #30a159;
  --default-theme-color-red: #dc1b19;
  --default-theme-color-yellow: #eec644;
  --default-theme-color-blue: #2b7abf;
  --default-theme-color-orange: #f07528;
  --default-theme-color-purple: #7a59b1;
}
