/* basic theme */
.light-mode {
  --default-theme-background-1: #f3f3ee;
  --default-theme-background-2: #e8e8e3;
  --default-theme-background-3: #e4e4df;
  --default-theme-border-color: rgba(215, 215, 206, 0.5);

  --default-theme-color-1: #2a2f45;
  --default-theme-color-2: #757575;
  --default-theme-color-3: #8e8e8e;

  --default-theme-color-accent: #1763a6;
  --default-theme-background-accent: #1f648e1f;

  --default-theme-code-language-color-supersede: var(--default-theme-color-1);
  --default-theme-code-languages-background-supersede: var(
    --default-theme-background-2
  );
}
.dark-mode {
  --default-theme-background-1: #09090b;
  --default-theme-background-2: #18181b;
  --default-theme-background-3: #2c2c30;
  --default-theme-border-color: rgba(255, 255, 255, 0.12);

  --default-theme-color-1: #fafafa;
  --default-theme-color-2: rgb(161, 161, 170);
  --default-theme-color-3: rgba(255, 255, 255, 0.533);

  --default-theme-color-accent: #4eb3ec;
  --default-theme-background-accent: #8ab4f81f;

  --default-theme-code-language-color-supersede: var(--default-theme-color-1);
  --default-theme-code-languages-background-supersede: var(
    --default-theme-background-2
  );
}
/* Document Sidebar */
.light-mode .t-doc__sidebar,
.dark-mode .t-doc__sidebar {
  --default-sidebar-background-1: var(--default-theme-background-1);
  --default-sidebar-color-1: var(--default-theme-color-1);
  --default-sidebar-color-2: var(--default-theme-color-2);
  --default-sidebar-border-color: var(--default-theme-border-color);

  --default-sidebar-item-hover-background: var(--default-theme-background-2);
  --default-sidebar-item-hover-color: currentColor;

  --default-sidebar-item-active-background: var(--default-theme-background-3);
  --default-sidebar-color-active: var(--default-theme-color-1);

  --default-sidebar-search-background: var(--default-theme-background-1);
  --default-sidebar-search-border-color: var(--default-theme-border-color);
  --default-sidebar-search-color: var(--default-theme-color-3);

  --default-sidebar-indent-border: transparent;
  --default-sidebar-indent-border-active: transparent;
}

/* advanced */
.light-mode {
  --default-theme-color-green: #17803d;
  --default-theme-color-red: #e10909;
  --default-theme-color-yellow: #edbe20;
  --default-theme-color-blue: #1763a6;
  --default-theme-color-orange: #e25b09;
  --default-theme-color-purple: #5c3993;

  --default-theme-button-1: rgba(0, 0, 0, 1);
  --default-theme-button-1-hover: rgba(0, 0, 0, 0.8);
  --default-theme-button-1-color: rgba(255, 255, 255, 0.9);
}
.dark-mode {
  --default-theme-color-green: #30a159;
  --default-theme-color-red: #dc1b19;
  --default-theme-color-yellow: #eec644;
  --default-theme-color-blue: #2b7abf;
  --default-theme-color-orange: #f07528;
  --default-theme-color-purple: #7a59b1;

  --default-theme-button-1: rgba(255, 255, 255, 1);
  --default-theme-button-1-hover: rgba(255, 255, 255, 0.9);
  --default-theme-button-1-color: black;
}
.dark-mode h2.t-editor__heading,
.dark-mode .t-editor__page-title h1,
.dark-mode h1.section-header,
.dark-mode .markdown h1,
.dark-mode .markdown h2,
.dark-mode .markdown h3,
.dark-mode .markdown h4,
.dark-mode .markdown h5,
.dark-mode .markdown h6 {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right bottom,
    rgb(255, 255, 255) 30%,
    rgba(255, 255, 255, 0.38)
  );
  -webkit-background-clip: text;
  background-clip: text;
}
