.light-mode {
  color-scheme: light;
  --default-theme-color-1: #584c27;
  --default-theme-color-2: #616161;
  --default-theme-color-3: #a89f84;
  --default-theme-color-accent: #b58900;
  --default-theme-background-1: #fdf6e3;
  --default-theme-background-2: #eee8d5;
  --default-theme-background-3: #ddd6c1;
  --default-theme-background-accent: #b589001f;

  --default-theme-border-color: #ded8c8;
  --default-theme-scrollbar-color: rgba(0, 0, 0, 0.18);
  --default-theme-scrollbar-color-active: rgba(0, 0, 0, 0.36);
  --default-theme-lifted-brightness: 1;
  --default-theme-backdrop-brightness: 1;

  --default-theme-shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.11);
  --default-theme-shadow-2: rgba(0, 0, 0, 0.08) 0px 13px 20px 0px,
    rgba(0, 0, 0, 0.08) 0px 3px 8px 0px, #eeeeed 0px 0 0 1px;

  --default-theme-button-1: rgb(49 53 56);
  --default-theme-button-1-color: #fff;
  --default-theme-button-1-hover: rgb(28 31 33);

  --default-theme-color-red: #ae262f;
  --default-theme-color-orange: #d89c6a;
  --default-theme-color-green: #26ae42;
}

.dark-mode {
  color-scheme: dark;
  --default-theme-color-1: #fff;
  --default-theme-color-2: #cccccc;
  --default-theme-color-3: #6d8890;
  --default-theme-color-accent: #007acc;
  --default-theme-background-1: #00212b;
  --default-theme-background-2: #012b36;
  --default-theme-background-3: #004052;
  --default-theme-background-accent: #007acc1f;

  --default-theme-border-color: rgba(255, 255, 255, 0.1);
  --default-theme-scrollbar-color: rgba(255, 255, 255, 0.24);
  --default-theme-scrollbar-color-active: rgba(255, 255, 255, 0.48);
  --default-theme-lifted-brightness: 1.45;
  --default-theme-backdrop-brightness: 0.5;

  --default-theme-shadow-1: 0 1px 3px 0 rgb(0, 0, 0, 0.1);
  --default-theme-shadow-2: rgba(15, 15, 15, 0.2) 0px 3px 6px,
    rgba(15, 15, 15, 0.4) 0px 9px 24px, 0 0 0 1px rgba(255, 255, 255, 0.1);

  --default-theme-button-1: #f6f6f6;
  --default-theme-button-1-color: #000;
  --default-theme-button-1-hover: #e7e7e7;

  --default-theme-color-green: #00b648;
  --default-theme-color-red: #dc1b19;
  --default-theme-color-yellow: #ffc90d;
  --default-theme-color-blue: #4eb3ec;
  --default-theme-color-orange: #ff8d4d;
  --default-theme-color-purple: #b191f9;
}

/* Sidebar */
.light-mode .t-doc__sidebar {
  --default-sidebar-background-1: var(--theme-background-1);
  --default-sidebar-item-hover-background: var(--theme-background-2);
  --default-sidebar-item-active-background: var(--theme-background-accent);
  --default-sidebar-border-color: var(--theme-border-color);
  --default-sidebar-color-1: var(--theme-color-1);
  --default-sidebar-color-2: var(--theme-color-2);
  --default-sidebar-color-active: var(--theme-color-accent);
  --default-sidebar-search-background: var(--theme-background-2);
  --default-sidebar-search-border: var(--sidebar-search-background);
  --default-sidebar-search--color: var(--theme-color-3);
}

.dark-mode .sidebar {
  --default-sidebar-background-1: var(--theme-background-1);
  --default-sidebar-item-hover-background: var(--theme-background-2);
  --default-sidebar-item-active-background: var(--theme-background-accent);
  --default-sidebar-border-color: var(--theme-border-color);
  --default-sidebar-color-1: var(--theme-color-1);
  --default-sidebar-color-2: var(--theme-color-2);
  --default-sidebar-color-active: var(--theme-color-accent);
  --default-sidebar-search-background: var(--theme-background-2);
  --default-sidebar-search-border: var(--sidebar-search-background);
  --default-sidebar-search--color: var(--theme-color-3);
}
