/**
 * Components Specific Tailwind Utilities
 */

@utility max-w-radix-popper {
  max-width: calc(var(--radix-popper-available-width) - 8px);
}
@utility max-h-radix-popper {
  max-height: calc(var(--radix-popper-available-height) - 8px);
}

/* For the radix context menu, this can be adjusted as long as its >= 1 */
[data-radix-popper-content-wrapper] {
  z-index: 1 !important;
}
