{
  "openapi": "3.0.0",
  "info": {
    "title": "Shopware Admin API",
    "description": "This endpoint reference contains an overview of all endpoints comprising the Shopware Admin API.\n\nFor a better overview, all CRUD-endpoints are hidden by default. If you want to show also CRUD-endpoints\nadd the query parameter `type=jsonapi`.",
    "version": "6.5.5.2"
  },
  "servers": [
    {
      "url": "http://demopalast.ecow.dev/api"
    }
  ],
  "components": {
    "schemas": {
      "success": {
        "required": [
          "data"
        ],
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/meta"
          },
          "links": {
            "description": "Link members related to the primary data.",
            "allOf": [
              {
                "$ref": "#/components/schemas/links"
              },
              {
                "$ref": "#/components/schemas/pagination"
              }
            ]
          },
          "data": {
            "$ref": "#/components/schemas/data"
          },
          "included": {
            "description": "To reduce the number of HTTP requests, servers **MAY** allow responses that include related resources along with the requested primary resources. Such responses are called \"compound documents\".",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/resource"
            },
            "uniqueItems": true
          }
        },
        "type": "object",
        "additionalProperties": false
      },
      "failure": {
        "required": [
          "errors"
        ],
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/meta"
          },
          "links": {
            "$ref": "#/components/schemas/links"
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/error"
            },
            "uniqueItems": true
          }
        },
        "type": "object",
        "additionalProperties": false
      },
      "info": {
        "required": [
          "meta"
        ],
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/meta"
          },
          "links": {
            "$ref": "#/components/schemas/links"
          },
          "jsonapi": {
            "$ref": "#/components/schemas/jsonapi"
          }
        },
        "type": "object"
      },
      "meta": {
        "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
        "type": "object",
        "additionalProperties": true
      },
      "data": {
        "description": "The document's \"primary data\" is a representation of the resource or collection of resources targeted by a request.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/resource"
          },
          {
            "description": "An array of resource objects, an array of resource identifier objects, or an empty array ([]), for requests that target resource collections.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/resource"
            },
            "uniqueItems": true
          }
        ]
      },
      "resource": {
        "description": "\"Resource objects\" appear in a JSON API document to represent resources.",
        "required": [
          "type",
          "id"
        ],
        "properties": {
          "type": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "attributes": {
            "$ref": "#/components/schemas/attributes"
          },
          "relationships": {
            "$ref": "#/components/schemas/relationships"
          },
          "links": {
            "$ref": "#/components/schemas/links"
          },
          "meta": {
            "$ref": "#/components/schemas/meta"
          }
        },
        "type": "object"
      },
      "relationshipLinks": {
        "description": "A resource object **MAY** contain references to other resource objects (\"relationships\"). Relationships may be to-one or to-many. Relationships can be specified by including a member in a resource's links object.",
        "properties": {
          "self": {
            "allOf": [
              {
                "description": "A `self` member, whose value is a URL for the relationship itself (a \"relationship URL\"). This URL allows the client to directly manipulate the relationship. For example, it would allow a client to remove an `author` from an `article` without deleting the people resource itself.",
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              {
                "$ref": "#/components/schemas/link"
              }
            ]
          },
          "related": {
            "$ref": "#/components/schemas/link"
          }
        },
        "type": "object",
        "additionalProperties": true
      },
      "links": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/link"
        }
      },
      "link": {
        "description": "A link **MUST** be represented as either: a string containing the link's URL or a link object.",
        "oneOf": [
          {
            "description": "A string containing the link's URL.",
            "type": "string",
            "format": "uri-reference"
          },
          {
            "type": "object",
            "required": [
              "href"
            ],
            "properties": {
              "href": {
                "description": "A string containing the link's URL.",
                "type": "string",
                "format": "uri-reference"
              },
              "meta": {
                "$ref": "#/components/schemas/meta"
              }
            }
          }
        ]
      },
      "attributes": {
        "description": "Members of the attributes object (\"attributes\") represent information about the resource object in which it's defined.",
        "type": "object",
        "additionalProperties": true
      },
      "relationships": {
        "description": "Members of the relationships object (\"relationships\") represent references from the resource object in which it's defined to other resource objects.",
        "type": "object",
        "anyOf": [
          {
            "required": [
              "data"
            ]
          },
          {
            "required": [
              "meta"
            ]
          },
          {
            "required": [
              "links"
            ]
          },
          {
            "type": "object",
            "properties": {
              "links": {
                "$ref": "#/components/schemas/relationshipLinks"
              },
              "data": {
                "description": "Member, whose value represents \"resource linkage\".",
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/relationshipToOne"
                  },
                  {
                    "$ref": "#/components/schemas/relationshipToMany"
                  }
                ]
              }
            }
          }
        ],
        "additionalProperties": false
      },
      "relationshipToOne": {
        "allOf": [
          {
            "description": "References to other resource objects in a to-one (\"relationship\"). Relationships can be specified by including a member in a resource's links object."
          },
          {
            "$ref": "#/components/schemas/linkage"
          }
        ]
      },
      "relationshipToMany": {
        "description": "An array of objects each containing \\\"type\\\" and \\\"id\\\" members for to-many relationships.",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/linkage"
        },
        "uniqueItems": true
      },
      "linkage": {
        "description": "The \"type\" and \"id\" to non-empty members.",
        "required": [
          "type",
          "id"
        ],
        "properties": {
          "type": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "meta": {
            "$ref": "#/components/schemas/meta"
          }
        },
        "type": "object",
        "additionalProperties": false
      },
      "pagination": {
        "properties": {
          "first": {
            "description": "The first page of data",
            "type": "string",
            "format": "uri-reference"
          },
          "last": {
            "description": "The last page of data",
            "type": "string",
            "format": "uri-reference"
          },
          "prev": {
            "description": "The previous page of data",
            "type": "string",
            "format": "uri-reference"
          },
          "next": {
            "description": "The next page of data",
            "type": "string",
            "format": "uri-reference"
          }
        },
        "type": "object"
      },
      "jsonapi": {
        "description": "An object describing the server's implementation",
        "properties": {
          "version": {
            "type": "string"
          },
          "meta": {
            "$ref": "#/components/schemas/meta"
          }
        },
        "type": "object",
        "additionalProperties": false
      },
      "error": {
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique identifier for this particular occurrence of the problem."
          },
          "links": {
            "$ref": "#/components/schemas/links"
          },
          "status": {
            "type": "string",
            "description": "The HTTP status code applicable to this problem, expressed as a string value."
          },
          "code": {
            "type": "string",
            "description": "An application-specific error code, expressed as a string value."
          },
          "title": {
            "type": "string",
            "description": "A short, human-readable summary of the problem. It **SHOULD NOT** change from occurrence to occurrence of the problem, except for purposes of localization."
          },
          "detail": {
            "type": "string",
            "description": "A human-readable explanation specific to this occurrence of the problem."
          },
          "description": {
            "type": "string",
            "description": "A human-readable description of the problem."
          },
          "source": {
            "type": "object",
            "properties": {
              "pointer": {
                "type": "string",
                "description": "A JSON Pointer [RFC6901] to the associated entity in the request document [e.g. \"/data\" for a primary data object, or \"/data/attributes/title\" for a specific attribute]."
              },
              "parameter": {
                "type": "string",
                "description": "A string indicating which query parameter caused the error."
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/meta"
          }
        },
        "type": "object",
        "additionalProperties": false
      },
      "AclRole": {
        "description": "Added since version: 6.0.0.0",
        "required": [
          "name",
          "privileges",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "privileges": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false
            }
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "users": {
            "$ref": "#/components/schemas/User"
          },
          "app": {
            "$ref": "#/components/schemas/App"
          },
          "integrations": {
            "$ref": "#/components/schemas/Integration"
          }
        },
        "type": "object"
      },
      "AclUserRole": {
        "description": "Added since version: 6.0.0.0",
        "required": [
          "userId",
          "aclRoleId",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "userId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "aclRoleId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "aclRole": {
            "$ref": "#/components/schemas/AclRole"
          }
        },
        "type": "object"
      },
      "App": {
        "description": "Added since version: 6.3.1.0",
        "required": [
          "name",
          "path",
          "active",
          "configurable",
          "version",
          "allowDisable",
          "integrationId",
          "aclRoleId",
          "createdAt",
          "label"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "name": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "copyright": {
            "type": "string"
          },
          "license": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "configurable": {
            "type": "boolean"
          },
          "privacy": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "icon": {
            "description": "Runtime field, cannot be used as part of the criteria.",
            "type": "string",
            "readOnly": true
          },
          "modules": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "mainModule": {
            "type": "object"
          },
          "cookies": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "allowDisable": {
            "type": "boolean"
          },
          "baseAppUrl": {
            "type": "string"
          },
          "allowedHosts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "templateLoadPriority": {
            "type": "integer",
            "format": "int64"
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "privacyPolicyExtensions": {
            "type": "string"
          },
          "customFields": {
            "type": "object"
          },
          "integrationId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "aclRoleId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "translated": {
            "type": "object"
          },
          "integration": {
            "$ref": "#/components/schemas/Integration"
          },
          "aclRole": {
            "$ref": "#/components/schemas/AclRole"
          },
          "customFieldSets": {
            "$ref": "#/components/schemas/CustomFieldSet"
          },
          "actionButtons": {
            "$ref": "#/components/schemas/AppActionButton"
          },
          "templates": {
            "$ref": "#/components/schemas/AppTemplate"
          },
          "webhooks": {
            "$ref": "#/components/schemas/Webhook"
          },
          "paymentMethods": {
            "$ref": "#/components/schemas/AppPaymentMethod"
          },
          "taxProviders": {
            "$ref": "#/components/schemas/TaxProvider"
          },
          "cmsBlocks": {
            "$ref": "#/components/schemas/AppCmsBlock"
          },
          "flowActions": {
            "$ref": "#/components/schemas/AppFlowAction"
          },
          "flowEvents": {
            "$ref": "#/components/schemas/AppFlowEvent"
          }
        },
        "type": "object"
      },
      "AppActionButton": {
        "description": "Added since version: 6.3.1.0",
        "required": [
          "entity",
          "view",
          "url",
          "action",
          "appId",
          "createdAt",
          "label"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "entity": {
            "type": "string"
          },
          "view": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "action": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "appId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "translated": {
            "type": "object"
          },
          "app": {
            "$ref": "#/components/schemas/App"
          }
        },
        "type": "object"
      },
      "AppAdministrationSnippet": {
        "description": "Added since version: 6.4.15.0",
        "required": [
          "value",
          "appId",
          "localeId",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "value": {
            "type": "string"
          },
          "appId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "localeId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          }
        },
        "type": "object"
      },
      "AppCmsBlock": {
        "description": "Added since version: 6.4.2.0",
        "required": [
          "name",
          "block",
          "template",
          "styles",
          "appId",
          "createdAt",
          "label"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "name": {
            "type": "string"
          },
          "block": {
            "type": "object"
          },
          "template": {
            "type": "string"
          },
          "styles": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "appId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "translated": {
            "type": "object"
          },
          "app": {
            "$ref": "#/components/schemas/App"
          }
        },
        "type": "object"
      },
      "AppFlowAction": {
        "description": "Added since version: 6.4.10.0",
        "required": [
          "appId",
          "name",
          "url",
          "createdAt",
          "label"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "appId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "name": {
            "type": "string"
          },
          "badge": {
            "type": "string"
          },
          "parameters": {
            "type": "object"
          },
          "config": {
            "type": "object"
          },
          "headers": {
            "type": "object"
          },
          "requirements": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "iconRaw": {
            "type": "string"
          },
          "icon": {
            "description": "Runtime field, cannot be used as part of the criteria.",
            "type": "string",
            "readOnly": true
          },
          "swIcon": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "delayable": {
            "type": "boolean"
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "headline": {
            "type": "string"
          },
          "customFields": {
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "translated": {
            "type": "object"
          },
          "app": {
            "$ref": "#/components/schemas/App"
          },
          "flowSequences": {
            "$ref": "#/components/schemas/FlowSequence"
          }
        },
        "type": "object"
      },
      "AppFlowEvent": {
        "description": "Added since version: 6.5.2.0",
        "required": [
          "appId",
          "name",
          "aware",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "appId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "name": {
            "type": "string"
          },
          "aware": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "customFields": {
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "app": {
            "$ref": "#/components/schemas/App"
          },
          "flows": {
            "$ref": "#/components/schemas/Flow"
          }
        },
        "type": "object"
      },
      "AppPaymentMethod": {
        "description": "Added since version: 6.4.1.0",
        "required": [
          "appName",
          "identifier",
          "paymentMethodId",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "appName": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          },
          "payUrl": {
            "type": "string"
          },
          "finalizeUrl": {
            "type": "string"
          },
          "validateUrl": {
            "type": "string"
          },
          "captureUrl": {
            "type": "string"
          },
          "refundUrl": {
            "type": "string"
          },
          "recurringUrl": {
            "type": "string"
          },
          "appId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "originalMediaId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "paymentMethodId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "app": {
            "$ref": "#/components/schemas/App"
          },
          "originalMedia": {
            "$ref": "#/components/schemas/Media"
          },
          "paymentMethod": {
            "$ref": "#/components/schemas/PaymentMethod"
          }
        },
        "type": "object"
      },
      "AppScriptCondition": {
        "description": "Added since version: 6.4.10.3",
        "required": [
          "identifier",
          "active",
          "appId",
          "createdAt",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "identifier": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "group": {
            "type": "string"
          },
          "script": {
            "type": "string"
          },
          "config": {
            "type": "object"
          },
          "appId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "translated": {
            "type": "object"
          },
          "app": {
            "$ref": "#/components/schemas/App"
          },
          "ruleConditions": {
            "$ref": "#/components/schemas/RuleCondition"
          }
        },
        "type": "object"
      },
      "AppTemplate": {
        "description": "Added since version: 6.3.1.0",
        "required": [
          "template",
          "path",
          "active",
          "appId",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "template": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "appId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "app": {
            "$ref": "#/components/schemas/App"
          }
        },
        "type": "object"
      },
      "Category": {
        "description": "Added since version: 6.0.0.0",
        "required": [
          "displayNestedProducts",
          "type",
          "productAssignmentType",
          "createdAt",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "versionId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "parentId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "parentVersionId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "afterCategoryId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "afterCategoryVersionId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "mediaId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "displayNestedProducts": {
            "type": "boolean"
          },
          "autoIncrement": {
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "breadcrumb": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false
            },
            "readOnly": true
          },
          "level": {
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "path": {
            "type": "string",
            "readOnly": true
          },
          "childCount": {
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "type": {
            "type": "string"
          },
          "productAssignmentType": {
            "type": "string"
          },
          "visible": {
            "type": "boolean"
          },
          "active": {
            "type": "boolean"
          },
          "cmsPageIdSwitched": {
            "description": "Runtime field, cannot be used as part of the criteria.",
            "type": "boolean"
          },
          "visibleChildCount": {
            "description": "Runtime field, cannot be used as part of the criteria.",
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "customFields": {
            "type": "object"
          },
          "slotConfig": {
            "type": "object"
          },
          "linkType": {
            "type": "string"
          },
          "internalLink": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "externalLink": {
            "type": "string"
          },
          "linkNewTab": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "metaTitle": {
            "type": "string"
          },
          "metaDescription": {
            "type": "string"
          },
          "keywords": {
            "type": "string"
          },
          "cmsPageId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "cmsPageVersionId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "productStreamId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "customEntityTypeId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "translated": {
            "type": "object"
          },
          "parent": {
            "$ref": "#/components/schemas/Category"
          },
          "children": {
            "$ref": "#/components/schemas/Category"
          },
          "media": {
            "$ref": "#/components/schemas/Media"
          },
          "products": {
            "$ref": "#/components/schemas/Product"
          },
          "nestedProducts": {
            "$ref": "#/components/schemas/Product"
          },
          "tags": {
            "$ref": "#/components/schemas/Tag"
          },
          "cmsPage": {
            "$ref": "#/components/schemas/CmsPage"
          },
          "productStream": {
            "$ref": "#/components/schemas/ProductStream"
          },
          "navigationSalesChannels": {
            "$ref": "#/components/schemas/SalesChannel"
          },
          "footerSalesChannels": {
            "$ref": "#/components/schemas/SalesChannel"
          },
          "serviceSalesChannels": {
            "$ref": "#/components/schemas/SalesChannel"
          },
          "mainCategories": {
            "$ref": "#/components/schemas/MainCategory"
          },
          "seoUrls": {
            "$ref": "#/components/schemas/SeoUrl"
          }
        },
        "type": "object"
      },
      "CategoryTag": {
        "description": "Added since version: 6.0.0.0",
        "required": [
          "categoryId",
          "tagId"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "categoryId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "categoryVersionId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "tagId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "category": {
            "$ref": "#/components/schemas/Category"
          },
          "tag": {
            "$ref": "#/components/schemas/Tag"
          }
        },
        "type": "object"
      },
      "CmsBlock": {
        "description": "Added since version: 6.0.0.0",
        "required": [
          "position",
          "type",
          "sectionId",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "position": {
            "type": "integer",
            "format": "int64"
          },
          "type": {
            "type": "string"
          },
          "locked": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "sectionPosition": {
            "type": "string"
          },
          "marginTop": {
            "type": "string"
          },
          "marginBottom": {
            "type": "string"
          },
          "marginLeft": {
            "type": "string"
          },
          "marginRight": {
            "type": "string"
          },
          "backgroundColor": {
            "type": "string"
          },
          "backgroundMediaId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "backgroundMediaMode": {
            "type": "string"
          },
          "cssClass": {
            "type": "string"
          },
          "visibility": {
            "properties": {
              "mobile": {
                "type": "boolean"
              },
              "desktop": {
                "type": "boolean"
              },
              "tablet": {
                "type": "boolean"
              }
            },
            "type": "object"
          },
          "sectionId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "customFields": {
            "type": "object"
          },
          "versionId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "cmsSectionVersionId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "section": {
            "$ref": "#/components/schemas/CmsSection"
          },
          "backgroundMedia": {
            "$ref": "#/components/schemas/Media"
          },
          "slots": {
            "$ref": "#/components/schemas/CmsSlot"
          }
        },
        "type": "object"
      },
      "CmsPage": {
        "description": "Added since version: 6.0.0.0",
        "required": [
          "type",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "versionId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "entity": {
            "type": "string"
          },
          "cssClass": {
            "type": "string"
          },
          "config": {
            "properties": {
              "backgroundColor": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "previewMediaId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "customFields": {
            "type": "object"
          },
          "locked": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "translated": {
            "type": "object"
          },
          "sections": {
            "$ref": "#/components/schemas/CmsSection"
          },
          "previewMedia": {
            "$ref": "#/components/schemas/Media"
          },
          "categories": {
            "$ref": "#/components/schemas/Category"
          },
          "landingPages": {
            "$ref": "#/components/schemas/LandingPage"
          },
          "homeSalesChannels": {
            "$ref": "#/components/schemas/SalesChannel"
          },
          "products": {
            "$ref": "#/components/schemas/Product"
          }
        },
        "type": "object"
      },
      "CmsSection": {
        "description": "Added since version: 6.0.0.0",
        "required": [
          "position",
          "type",
          "pageId",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "position": {
            "type": "integer",
            "format": "int64"
          },
          "type": {
            "type": "string"
          },
          "locked": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "sizingMode": {
            "type": "string"
          },
          "mobileBehavior": {
            "type": "string"
          },
          "backgroundColor": {
            "type": "string"
          },
          "backgroundMediaId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "backgroundMediaMode": {
            "type": "string"
          },
          "cssClass": {
            "type": "string"
          },
          "pageId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "visibility": {
            "properties": {
              "mobile": {
                "type": "boolean"
              },
              "desktop": {
                "type": "boolean"
              },
              "tablet": {
                "type": "boolean"
              }
            },
            "type": "object"
          },
          "customFields": {
            "type": "object"
          },
          "versionId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "cmsPageVersionId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "page": {
            "$ref": "#/components/schemas/CmsPage"
          },
          "backgroundMedia": {
            "$ref": "#/components/schemas/Media"
          },
          "blocks": {
            "$ref": "#/components/schemas/CmsBlock"
          }
        },
        "type": "object"
      },
      "CmsSlot": {
        "description": "Added since version: 6.0.0.0",
        "required": [
          "type",
          "slot",
          "blockId",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "versionId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "type": {
            "type": "string"
          },
          "slot": {
            "type": "string"
          },
          "locked": {
            "type": "boolean"
          },
          "config": {
            "type": "object"
          },
          "customFields": {
            "type": "object"
          },
          "data": {
            "type": "object",
            "readOnly": true
          },
          "blockId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "fieldConfig": {
            "type": "object"
          },
          "cmsBlockVersionId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "translated": {
            "type": "object"
          },
          "block": {
            "$ref": "#/components/schemas/CmsBlock"
          }
        },
        "type": "object"
      },
      "Country": {
        "description": "Added since version: 6.0.0.0",
        "required": [
          "createdAt",
          "name",
          "addressFormat"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "name": {
            "type": "string"
          },
          "iso": {
            "type": "string"
          },
          "position": {
            "type": "integer",
            "format": "int64"
          },
          "active": {
            "type": "boolean"
          },
          "shippingAvailable": {
            "type": "boolean"
          },
          "iso3": {
            "type": "string"
          },
          "displayStateInRegistration": {
            "type": "boolean"
          },
          "forceStateInRegistration": {
            "type": "boolean"
          },
          "checkVatIdPattern": {
            "type": "boolean"
          },
          "vatIdRequired": {
            "type": "boolean"
          },
          "vatIdPattern": {
            "type": "string"
          },
          "customFields": {
            "type": "object"
          },
          "customerTax": {
            "required": [
              "enabled",
              "currencyId",
              "amount"
            ],
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "currencyId": {
                "type": "string"
              },
              "amount": {
                "type": "number",
                "format": "float"
              }
            },
            "type": "object"
          },
          "companyTax": {
            "required": [
              "enabled",
              "currencyId",
              "amount"
            ],
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "currencyId": {
                "type": "string"
              },
              "amount": {
                "type": "number",
                "format": "float"
              }
            },
            "type": "object"
          },
          "postalCodeRequired": {
            "type": "boolean"
          },
          "checkPostalCodePattern": {
            "type": "boolean"
          },
          "checkAdvancedPostalCodePattern": {
            "type": "boolean"
          },
          "advancedPostalCodePattern": {
            "type": "string"
          },
          "addressFormat": {
            "type": "object"
          },
          "defaultPostalCodePattern": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "translated": {
            "type": "object"
          },
          "states": {
            "$ref": "#/components/schemas/CountryState"
          },
          "customerAddresses": {
            "$ref": "#/components/schemas/CustomerAddress"
          },
          "orderAddresses": {
            "$ref": "#/components/schemas/OrderAddress"
          },
          "salesChannelDefaultAssignments": {
            "$ref": "#/components/schemas/SalesChannel"
          },
          "salesChannels": {
            "$ref": "#/components/schemas/SalesChannel"
          },
          "taxRules": {
            "$ref": "#/components/schemas/TaxRule"
          },
          "currencyCountryRoundings": {
            "$ref": "#/components/schemas/CurrencyCountryRounding"
          }
        },
        "type": "object"
      },
      "CountryState": {
        "description": "Added since version: 6.0.0.0",
        "required": [
          "countryId",
          "shortCode",
          "createdAt",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "countryId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "shortCode": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "position": {
            "type": "integer",
            "format": "int64"
          },
          "active": {
            "type": "boolean"
          },
          "customFields": {
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "translated": {
            "type": "object"
          },
          "country": {
            "$ref": "#/components/schemas/Country"
          },
          "customerAddresses": {
            "$ref": "#/components/schemas/CustomerAddress"
          },
          "orderAddresses": {
            "$ref": "#/components/schemas/OrderAddress"
          }
        },
        "type": "object"
      },
      "Currency": {
        "description": "Added since version: 6.0.0.0",
        "required": [
          "factor",
          "symbol",
          "isoCode",
          "itemRounding",
          "totalRounding",
          "createdAt",
          "shortName",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "factor": {
            "type": "number",
            "format": "float"
          },
          "symbol": {
            "type": "string"
          },
          "isoCode": {
            "type": "string"
          },
          "shortName": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "position": {
            "type": "integer",
            "format": "int64"
          },
          "isSystemDefault": {
            "description": "Runtime field, cannot be used as part of the criteria.",
            "type": "boolean"
          },
          "taxFreeFrom": {
            "type": "number",
            "format": "float"
          },
          "customFields": {
            "type": "object"
          },
          "itemRounding": {
            "properties": {
              "decimals": {
                "type": "integer",
                "format": "int64"
              },
              "interval": {
                "type": "number",
                "format": "float"
              },
              "roundForNet": {
                "type": "boolean"
              }
            },
            "type": "object"
          },
          "totalRounding": {
            "properties": {
              "decimals": {
                "type": "integer",
                "format": "int64"
              },
              "interval": {
                "type": "number",
                "format": "float"
              },
              "roundForNet": {
                "type": "boolean"
              }
            },
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "translated": {
            "type": "object"
          },
          "salesChannelDefaultAssignments": {
            "$ref": "#/components/schemas/SalesChannel"
          },
          "orders": {
            "$ref": "#/components/schemas/Order"
          },
          "salesChannels": {
            "$ref": "#/components/schemas/SalesChannel"
          },
          "salesChannelDomains": {
            "$ref": "#/components/schemas/SalesChannelDomain"
          },
          "promotionDiscountPrices": {
            "$ref": "#/components/schemas/PromotionDiscountPrices"
          },
          "productExports": {
            "$ref": "#/components/schemas/ProductExport"
          },
          "countryRoundings": {
            "$ref": "#/components/schemas/CurrencyCountryRounding"
          }
        },
        "type": "object"
      },
      "CurrencyCountryRounding": {
        "description": "Added since version: 6.4.0.0",
        "required": [
          "currencyId",
          "countryId",
          "itemRounding",
          "totalRounding",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "currencyId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "countryId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "itemRounding": {
            "properties": {
              "decimals": {
                "type": "integer",
                "format": "int64"
              },
              "interval": {
                "type": "number",
                "format": "float"
              },
              "roundForNet": {
                "type": "boolean"
              }
            },
            "type": "object"
          },
          "totalRounding": {
            "properties": {
              "decimals": {
                "type": "integer",
                "format": "int64"
              },
              "interval": {
                "type": "number",
                "format": "float"
              },
              "roundForNet": {
                "type": "boolean"
              }
            },
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "country": {
            "$ref": "#/components/schemas/Country"
          }
        },
        "type": "object"
      },
      "CustomEntity": {
        "description": "Added since version: 6.4.9.0",
        "required": [
          "name",
          "fields",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "name": {
            "type": "string"
          },
          "fields": {
            "type": "object"
          },
          "flags": {
            "type": "object"
          },
          "appId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "pluginId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "cmsAware": {
            "description": "Runtime field, cannot be used as part of the criteria.",
            "type": "boolean"
          },
          "storeApiAware": {
            "description": "Runtime field, cannot be used as part of the criteria.",
            "type": "boolean"
          },
          "customFieldsAware": {
            "type": "boolean"
          },
          "labelProperty": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          }
        },
        "type": "object"
      },
      "CustomField": {
        "description": "Added since version: 6.0.0.0",
        "required": [
          "name",
          "type",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "config": {
            "type": "object"
          },
          "active": {
            "type": "boolean"
          },
          "customFieldSetId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "allowCustomerWrite": {
            "type": "boolean"
          },
          "allowCartExpose": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "customFieldSet": {
            "$ref": "#/components/schemas/CustomFieldSet"
          },
          "productSearchConfigFields": {
            "$ref": "#/components/schemas/ProductSearchConfigField"
          }
        },
        "type": "object"
      },
      "CustomFieldSet": {
        "description": "Added since version: 6.0.0.0",
        "required": [
          "name",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "name": {
            "type": "string"
          },
          "config": {
            "type": "object"
          },
          "active": {
            "type": "boolean"
          },
          "global": {
            "type": "boolean"
          },
          "position": {
            "type": "integer",
            "format": "int64"
          },
          "appId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "customFields": {
            "$ref": "#/components/schemas/CustomField"
          },
          "relations": {
            "$ref": "#/components/schemas/CustomFieldSetRelation"
          },
          "products": {
            "$ref": "#/components/schemas/Product"
          },
          "app": {
            "$ref": "#/components/schemas/App"
          }
        },
        "type": "object"
      },
      "CustomFieldSetRelation": {
        "description": "Added since version: 6.0.0.0",
        "required": [
          "customFieldSetId",
          "entityName",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "customFieldSetId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "entityName": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "customFieldSet": {
            "$ref": "#/components/schemas/CustomFieldSet"
          }
        },
        "type": "object"
      },
      "Customer": {
        "description": "Added since version: 6.0.0.0",
        "required": [
          "groupId",
          "defaultPaymentMethodId",
          "salesChannelId",
          "languageId",
          "defaultBillingAddressId",
          "defaultShippingAddressId",
          "customerNumber",
          "firstName",
          "lastName",
          "email",
          "accountType",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "groupId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "defaultPaymentMethodId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "salesChannelId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "languageId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "lastPaymentMethodId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "defaultBillingAddressId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "defaultShippingAddressId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "autoIncrement": {
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "customerNumber": {
            "type": "string"
          },
          "salutationId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "vatIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "affiliateCode": {
            "type": "string"
          },
          "campaignCode": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "doubleOptInRegistration": {
            "type": "boolean"
          },
          "doubleOptInEmailSentDate": {
            "type": "string",
            "format": "date-time"
          },
          "doubleOptInConfirmDate": {
            "type": "string",
            "format": "date-time"
          },
          "hash": {
            "type": "string"
          },
          "guest": {
            "type": "boolean"
          },
          "firstLogin": {
            "type": "string",
            "format": "date-time"
          },
          "lastLogin": {
            "type": "string",
            "format": "date-time"
          },
          "birthday": {
            "type": "string"
          },
          "lastOrderDate": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "orderCount": {
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "orderTotalAmount": {
            "type": "number",
            "format": "float",
            "readOnly": true
          },
          "reviewCount": {
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "customFields": {
            "type": "object"
          },
          "remoteAddress": {
            "type": "string"
          },
          "tagIds": {
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^[0-9a-f]{32}$"
            },
            "readOnly": true
          },
          "requestedGroupId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "boundSalesChannelId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "accountType": {
            "type": "string"
          },
          "createdById": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "updatedById": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "group": {
            "$ref": "#/components/schemas/CustomerGroup"
          },
          "defaultPaymentMethod": {
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "salesChannel": {
            "$ref": "#/components/schemas/SalesChannel"
          },
          "language": {
            "$ref": "#/components/schemas/Language"
          },
          "lastPaymentMethod": {
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "defaultBillingAddress": {
            "$ref": "#/components/schemas/CustomerAddress"
          },
          "defaultShippingAddress": {
            "$ref": "#/components/schemas/CustomerAddress"
          },
          "salutation": {
            "$ref": "#/components/schemas/Salutation"
          },
          "addresses": {
            "$ref": "#/components/schemas/CustomerAddress"
          },
          "orderCustomers": {
            "$ref": "#/components/schemas/OrderCustomer"
          },
          "tags": {
            "$ref": "#/components/schemas/Tag"
          },
          "promotions": {
            "$ref": "#/components/schemas/Promotion"
          },
          "productReviews": {
            "$ref": "#/components/schemas/ProductReview"
          },
          "recoveryCustomer": {
            "$ref": "#/components/schemas/CustomerRecovery"
          },
          "requestedGroup": {
            "$ref": "#/components/schemas/CustomerGroup"
          },
          "boundSalesChannel": {
            "$ref": "#/components/schemas/SalesChannel"
          },
          "wishlists": {
            "$ref": "#/components/schemas/CustomerWishlist"
          },
          "createdBy": {
            "$ref": "#/components/schemas/User"
          },
          "updatedBy": {
            "$ref": "#/components/schemas/User"
          }
        },
        "type": "object"
      },
      "CustomerAddress": {
        "description": "Added since version: 6.0.0.0",
        "required": [
          "customerId",
          "countryId",
          "firstName",
          "lastName",
          "city",
          "street",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "customerId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "countryId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "countryStateId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "salutationId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "zipcode": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "street": {
            "type": "string"
          },
          "department": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "additionalAddressLine1": {
            "type": "string"
          },
          "additionalAddressLine2": {
            "type": "string"
          },
          "customFields": {
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "country": {
            "$ref": "#/components/schemas/Country"
          },
          "countryState": {
            "$ref": "#/components/schemas/CountryState"
          },
          "salutation": {
            "$ref": "#/components/schemas/Salutation"
          }
        },
        "type": "object"
      },
      "CustomerGroup": {
        "description": "Added since version: 6.0.0.0",
        "required": [
          "createdAt",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "name": {
            "type": "string"
          },
          "displayGross": {
            "type": "boolean"
          },
          "customFields": {
            "type": "object"
          },
          "registrationActive": {
            "type": "boolean"
          },
          "registrationTitle": {
            "type": "string"
          },
          "registrationIntroduction": {
            "type": "string"
          },
          "registrationOnlyCompanyRegistration": {
            "type": "boolean"
          },
          "registrationSeoMetaDescription": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "translated": {
            "type": "object"
          },
          "customers": {
            "$ref": "#/components/schemas/Customer"
          },
          "salesChannels": {
            "$ref": "#/components/schemas/SalesChannel"
          },
          "registrationSalesChannels": {
            "$ref": "#/components/schemas/SalesChannel"
          }
        },
        "type": "object"
      },
      "CustomerGroupRegistrationSalesChannels": {
        "description": "Added since version: 6.3.1.0",
        "required": [
          "customerGroupId",
          "salesChannelId",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "customerGroupId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "salesChannelId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "customerGroup": {
            "$ref": "#/components/schemas/CustomerGroup"
          },
          "salesChannel": {
            "$ref": "#/components/schemas/SalesChannel"
          }
        },
        "type": "object"
      },
      "CustomerRecovery": {
        "description": "Added since version: 6.1.0.0",
        "required": [
          "hash",
          "customerId",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "hash": {
            "type": "string"
          },
          "customerId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          }
        },
        "type": "object"
      },
      "CustomerTag": {
        "description": "Added since version: 6.0.0.0",
        "required": [
          "customerId",
          "tagId"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "customerId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "tagId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "tag": {
            "$ref": "#/components/schemas/Tag"
          }
        },
        "type": "object"
      },
      "CustomerWishlist": {
        "description": "Added since version: 6.3.4.0",
        "required": [
          "customerId",
          "salesChannelId",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "customerId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "salesChannelId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "customFields": {
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "products": {
            "$ref": "#/components/schemas/CustomerWishlistProduct"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "salesChannel": {
            "$ref": "#/components/schemas/SalesChannel"
          }
        },
        "type": "object"
      },
      "CustomerWishlistProduct": {
        "description": "Added since version: 6.3.4.0",
        "required": [
          "productId",
          "wishlistId",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "productId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "productVersionId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "wishlistId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "wishlist": {
            "$ref": "#/components/schemas/CustomerWishlist"
          },
          "product": {
            "$ref": "#/components/schemas/Product"
          }
        },
        "type": "object"
      },
      "DeliveryTime": {
        "description": "Added since version: 6.0.0.0",
        "required": [
          "name",
          "min",
          "max",
          "unit",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "name": {
            "type": "string"
          },
          "min": {
            "type": "integer",
            "format": "int64"
          },
          "max": {
            "type": "integer",
            "format": "int64"
          },
          "unit": {
            "type": "string"
          },
          "customFields": {
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "translated": {
            "type": "object"
          },
          "shippingMethods": {
            "$ref": "#/components/schemas/ShippingMethod"
          },
          "products": {
            "$ref": "#/components/schemas/Product"
          }
        },
        "type": "object"
      },
      "Document": {
        "description": "Added since version: 6.0.0.0",
        "required": [
          "documentTypeId",
          "fileType",
          "orderId",
          "config",
          "deepLinkCode",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "documentTypeId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "fileType": {
            "type": "string"
          },
          "referencedDocumentId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "orderId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "documentMediaFileId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "orderVersionId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "config": {
            "type": "object"
          },
          "sent": {
            "type": "boolean"
          },
          "static": {
            "type": "boolean"
          },
          "deepLinkCode": {
            "type": "string"
          },
          "customFields": {
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "documentType": {
            "$ref": "#/components/schemas/DocumentType"
          },
          "order": {
            "$ref": "#/components/schemas/Order"
          },
          "referencedDocument": {
            "$ref": "#/components/schemas/Document"
          },
          "dependentDocuments": {
            "$ref": "#/components/schemas/Document"
          },
          "documentMediaFile": {
            "$ref": "#/components/schemas/Media"
          }
        },
        "type": "object"
      },
      "DocumentBaseConfig": {
        "description": "Added since version: 6.0.0.0",
        "required": [
          "documentTypeId",
          "name",
          "global",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "documentTypeId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "logoId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "name": {
            "type": "string"
          },
          "filenamePrefix": {
            "type": "string"
          },
          "filenameSuffix": {
            "type": "string"
          },
          "global": {
            "type": "boolean"
          },
          "documentNumber": {
            "type": "string"
          },
          "config": {
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "customFields": {
            "type": "object"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "documentType": {
            "$ref": "#/components/schemas/DocumentType"
          },
          "logo": {
            "$ref": "#/components/schemas/Media"
          },
          "salesChannels": {
            "$ref": "#/components/schemas/DocumentBaseConfigSalesChannel"
          }
        },
        "type": "object"
      },
      "DocumentBaseConfigSalesChannel": {
        "description": "Added since version: 6.0.0.0",
        "required": [
          "documentBaseConfigId",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "documentBaseConfigId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "salesChannelId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "documentTypeId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "documentType": {
            "$ref": "#/components/schemas/DocumentType"
          },
          "documentBaseConfig": {
            "$ref": "#/components/schemas/DocumentBaseConfig"
          },
          "salesChannel": {
            "$ref": "#/components/schemas/SalesChannel"
          }
        },
        "type": "object"
      },
      "DocumentType": {
        "description": "Added since version: 6.0.0.0",
        "required": [
          "technicalName",
          "createdAt",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "name": {
            "type": "string"
          },
          "technicalName": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "customFields": {
            "type": "object"
          },
          "translated": {
            "type": "object"
          },
          "documents": {
            "$ref": "#/components/schemas/Document"
          },
          "documentBaseConfigs": {
            "$ref": "#/components/schemas/DocumentBaseConfig"
          },
          "documentBaseConfigSalesChannels": {
            "$ref": "#/components/schemas/DocumentBaseConfigSalesChannel"
          }
        },
        "type": "object"
      },
      "Flow": {
        "description": "Added since version: 6.4.6.0",
        "required": [
          "name",
          "eventName",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "name": {
            "type": "string"
          },
          "eventName": {
            "type": "string"
          },
          "priority": {
            "type": "integer",
            "format": "int64"
          },
          "invalid": {
            "type": "boolean",
            "readOnly": true
          },
          "active": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "customFields": {
            "type": "object"
          },
          "appFlowEventId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "sequences": {
            "$ref": "#/components/schemas/FlowSequence"
          },
          "appFlowEvent": {
            "$ref": "#/components/schemas/AppFlowEvent"
          }
        },
        "type": "object"
      },
      "FlowSequence": {
        "description": "Added since version: 6.4.6.0",
        "required": [
          "flowId",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "flowId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "ruleId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "actionName": {
            "type": "string"
          },
          "config": {
            "type": "object"
          },
          "position": {
            "type": "integer",
            "format": "int64"
          },
          "displayGroup": {
            "type": "integer",
            "format": "int64"
          },
          "trueCase": {
            "type": "boolean"
          },
          "parentId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "customFields": {
            "type": "object"
          },
          "appFlowActionId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "flow": {
            "$ref": "#/components/schemas/Flow"
          },
          "rule": {
            "$ref": "#/components/schemas/Rule"
          },
          "parent": {
            "$ref": "#/components/schemas/FlowSequence"
          },
          "children": {
            "$ref": "#/components/schemas/FlowSequence"
          },
          "appFlowAction": {
            "$ref": "#/components/schemas/AppFlowAction"
          }
        },
        "type": "object"
      },
      "FlowTemplate": {
        "description": "Added since version: 6.4.18.0",
        "required": [
          "name",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "name": {
            "type": "string"
          },
          "config": {
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          }
        },
        "type": "object"
      },
      "ImportExportFile": {
        "description": "Added since version: 6.0.0.0",
        "required": [
          "originalName",
          "path",
          "expireDate",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "originalName": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "expireDate": {
            "type": "string",
            "format": "date-time"
          },
          "size": {
            "type": "integer",
            "format": "int64"
          },
          "accessToken": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "log": {
            "$ref": "#/components/schemas/ImportExportLog"
          }
        },
        "type": "object"
      },
      "ImportExportLog": {
        "description": "Added since version: 6.0.0.0",
        "required": [
          "activity",
          "state",
          "records",
          "config",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "activity": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "records": {
            "type": "integer",
            "format": "int64"
          },
          "userId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "profileId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "fileId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "invalidRecordsLogId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "username": {
            "type": "string"
          },
          "profileName": {
            "type": "string"
          },
          "config": {
            "type": "object"
          },
          "result": {
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "profile": {
            "$ref": "#/components/schemas/ImportExportProfile"
          },
          "file": {
            "$ref": "#/components/schemas/ImportExportFile"
          },
          "invalidRecordsLog": {
            "$ref": "#/components/schemas/ImportExportLog"
          },
          "failedImportLog": {
            "$ref": "#/components/schemas/ImportExportLog"
          }
        },
        "type": "object"
      },
      "ImportExportProfile": {
        "description": "Added since version: 6.0.0.0",
        "required": [
          "label",
          "sourceEntity",
          "fileType",
          "delimiter",
          "enclosure",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "name": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "systemDefault": {
            "type": "boolean"
          },
          "sourceEntity": {
            "type": "string"
          },
          "fileType": {
            "type": "string"
          },
          "delimiter": {
            "type": "string"
          },
          "enclosure": {
            "type": "string"
          },
          "mapping": {
            "type": "object"
          },
          "updateBy": {
            "type": "object"
          },
          "config": {
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "translated": {
            "type": "object"
          },
          "importExportLogs": {
            "$ref": "#/components/schemas/ImportExportLog"
          }
        },
        "type": "object"
      },
      "Integration": {
        "description": "Added since version: 6.0.0.0",
        "required": [
          "label",
          "accessKey",
          "secretAccessKey",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "label": {
            "type": "string"
          },
          "accessKey": {
            "type": "string"
          },
          "secretAccessKey": {
            "type": "string"
          },
          "lastUsageAt": {
            "type": "string",
            "format": "date-time"
          },
          "admin": {
            "type": "boolean"
          },
          "customFields": {
            "type": "object"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time"
          },
          "writeAccess": {
            "type": "boolean",
            "deprecated": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "extensions": {
            "properties": {
              "createdNotifications": {
                "properties": {
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "format": "uri-reference",
                        "example": "/integration/018b38133f4472c28cc464c5110c99b6/createdNotifications"
                      }
                    }
                  },
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "notification"
                        },
                        "id": {
                          "type": "string",
                          "example": "018b38133f4472c28cc464c512bdfd11"
                        }
                      }
                    }
                  }
                },
                "type": "object"
              }
            },
            "type": "object"
          },
          "app": {
            "$ref": "#/components/schemas/App"
          },
          "aclRoles": {
            "$ref": "#/components/schemas/AclRole"
          }
        },
        "type": "object"
      },
      "IntegrationRole": {
        "description": "Added since version: 6.3.3.0",
        "required": [
          "integrationId",
          "aclRoleId"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "integrationId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "aclRoleId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "integration": {
            "$ref": "#/components/schemas/Integration"
          },
          "role": {
            "$ref": "#/components/schemas/AclRole"
          }
        },
        "type": "object"
      },
      "LandingPage": {
        "description": "Added since version: 6.4.0.0",
        "required": [
          "createdAt",
          "name",
          "url"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "versionId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "active": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "customFields": {
            "type": "object"
          },
          "slotConfig": {
            "type": "object"
          },
          "metaTitle": {
            "type": "string"
          },
          "metaDescription": {
            "type": "string"
          },
          "keywords": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "cmsPageId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "cmsPageVersionId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "translated": {
            "type": "object"
          },
          "tags": {
            "$ref": "#/components/schemas/Tag"
          },
          "cmsPage": {
            "$ref": "#/components/schemas/CmsPage"
          },
          "salesChannels": {
            "$ref": "#/components/schemas/SalesChannel"
          },
          "seoUrls": {
            "$ref": "#/components/schemas/SeoUrl"
          }
        },
        "type": "object"
      },
      "LandingPageSalesChannel": {
        "description": "Added since version: 6.4.0.0",
        "required": [
          "landingPageId",
          "salesChannelId"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "landingPageId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "landingPageVersionId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "salesChannelId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "landingPage": {
            "$ref": "#/components/schemas/LandingPage"
          },
          "salesChannel": {
            "$ref": "#/components/schemas/SalesChannel"
          }
        },
        "type": "object"
      },
      "LandingPageTag": {
        "description": "Added since version: 6.4.0.0",
        "required": [
          "landingPageId",
          "tagId"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "landingPageId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "landingPageVersionId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "tagId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "landingPage": {
            "$ref": "#/components/schemas/LandingPage"
          },
          "tag": {
            "$ref": "#/components/schemas/Tag"
          }
        },
        "type": "object"
      },
      "Language": {
        "description": "Added since version: 6.0.0.0",
        "required": [
          "localeId",
          "name",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "parentId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "localeId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "translationCodeId": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "name": {
            "type": "string"
          },
          "customFields": {
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "extensions": {
            "properties": {
              "swagLanguagePackLanguage": {
                "properties": {
                  "links": {
                    "type": "object",
                    "properties": {
                      "related": {
                        "type": "string",
                        "format": "uri-reference",
                        "example": "/language/018b38133f45703eacd2538846f50a4d/swagLanguagePackLanguage"
                      }
                    }
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "example": "swag_language_pack_language"
                      },
                      "id": {
                        "type": "string",
                        "pattern": "^[0-9a-f]{32}$",
                        "example": "018b38133f4672df92f469de91e7b929"
                      }
                    }
                  }
                },
                "type": "object"
              }
            },
            "type": "object"
          },
          "parent": {
            "$ref": "#/components/schemas/Language"
          },
          "locale": {
            "$ref": "#/components/schemas/Locale"
          },
          "translationCode": {
            "$ref": "#/components/schemas/Locale"
          },
          "children": {
            "$ref": "#/components/schemas/Language"
          },
          "salesChannels": {
[...]
