@tailwind base;
@tailwind components;
@tailwind utilities;

/** 
 * Custom Reset - copied over from the tailwind reset
 * Auto-magically scoped by postcss (in postcss.config.js)
 *
 * @link https://tailwindcss.com/docs/preflight 
 */
@layer base {
  * {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: var(--scalar-border-color);

    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: unset;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: unset;
    padding: unset;
  }
}

@layer utilities {
  .row {
    @apply flex flex-row;
  }
  .col {
    @apply flex flex-col;
  }
}
