body.sb-show-main,
#storybook-docs .sbdocs-wrapper {
  background: var(--scalar-background-1);
  font-family: var(--scalar-font);
}

#storybook-docs tbody {
  border-radius: var(--scalar-radius);
}

#storybook-docs tbody tr > * {
  background: var(--scalar-background-2);
  border-color: var(--scalar-border-color) !important;
}

#storybook-docs th {
  color: var(--scalar-color-2);
}

#storybook-docs .docblock-argstable {
  color: var(--scalar-color-1);
}
#storybook-docs tr[title] > *,
#storybook-docs tr[title] svg {
  background: var(--scalar-background-3) !important;
  color: var(--scalar-color-2);
}

#storybook-docs tr [title='Required'] {
  color: var(--scalar-text-color-1);
}

#storybook-docs h1 {
  color: var(--scalar-color-1);
}
#storybook-docs h2 {
  color: var(--scalar-color-1);
}

#storybook-docs h3 {
  color: var(--scalar-color-3);
}

#storybook-docs p,
#storybook-docs li {
  color: var(--scalar-color-2);
}

#storybook-docs .sbdocs-preview {
  color: var(--scalar-color-2);
  border-color: var(--scalar-border-color);
  background: var(--scalar-background-2);
}
#storybook-docs .sbdocs-preview > div:first-of-type:not(.docs-story) {
  background: var(--scalar-background-3);
}

#storybook-docs td > div > div > span {
  background: var(--scalar-background-3);
  color: var(--scalar-color-2);
  border-color: var(--scalar-border-color);
}
