{
  "openapi": "3.1.0",
  "info": {
    "title": "Scalar Universe",
    "description": "The Scalar Universe is an example OpenAPI specification to test OpenAPI tools and libraries. It’s a fictional universe with fictional planets and fictional data. Get all the data for all planets.\n\n## Resources\n\n* https://github.com/scalar/scalar\n* https://github.com/OAI/OpenAPI-Specification\n* https://scalar.com",
    "version": "1.0.0",
    "contact": {
      "name": "Marc from Scalar",
      "url": "https://scalar.com",
      "email": "marc@scalar.com"
    }
  },
  "servers": [
    {
      "url": "https://universe.scalar.com"
    }
  ],
  "security": [
    {
      "bearerAuth": [],
      "basicAuth": [],
      "apiKey": []
    }
  ],
  "paths": {
    "/planets": {
      "get": {
        "tags": ["Planets"],
        "summary": "Get all planets",
        "operationId": "getAllData",
        "security": [{}],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/components/schemas/PaginatedPlanets"
            }
          }
        }
      },
      "post": {
        "tags": ["Planets"],
        "summary": "Create a planet",
        "operationId": "createPlanet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Planet"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/components/schemas/Planet"
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/BadRequest"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Forbidden"
                }
              }
            }
          }
        }
      }
    },
    "/planets/{planetId}": {
      "get": {
        "tags": ["Planets"],
        "summary": "Get a planet",
        "operationId": "getPlanet",
        "security": [{}],
        "parameters": [
          {
            "$ref": "#/components/parameters/planetId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/components/schemas/Planet"
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Planets"],
        "summary": "Update a planet",
        "operationId": "updatePlanet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Planet"
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/planetId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/components/schemas/Planet"
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/BadRequest"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Planets"],
        "summary": "Delete a planet",
        "operationId": "deletePlanet",
        "description": "This endpoint was used to delete planets. Unfortunately, that caused a lot of trouble for planets with life. So, this endpoint is now deprecated and should not be used anymore.",
        "deprecated": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/planetId"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/planets/{planetId}/image": {
      "post": {
        "tags": ["Planets"],
        "summary": "Upload an image to a planet",
        "operationId": "uploadImage",
        "parameters": [
          {
            "$ref": "#/components/parameters/planetId"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Image uploaded successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/BadRequest"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/NotFound"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      },
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "parameters": {
      "planetId": {
        "name": "planetId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "example": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "The number of items to return",
        "required": false,
        "schema": {
          "type": "integer",
          "default": 10
        }
      },
      "offset": {
        "name": "offset",
        "in": "query",
        "description": "The number of items to skip before starting to collect the result set",
        "required": false,
        "schema": {
          "type": "integer",
          "default": 0
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "NotFound",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Planet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "required": true,
            "example": 1
          },
          "name": {
            "type": "string",
            "required": true,
            "example": "Mars"
          },
          "description": {
            "type": ["string", "nullable"],
            "example": "The red planet"
          },
          "image": {
            "type": ["string", "nullable"],
            "example": "https://cdn.scalar.com/photos/mars.jpg"
          }
        }
      },
      "PaginatedPlanets": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Planet"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "integer",
                "example": 10
              },
              "offset": {
                "type": "integer",
                "example": 0
              },
              "total": {
                "type": "integer",
                "example": 100
              },
              "next": {
                "type": ["string", "nullable"],
                "example": "/planets?limit=10&offset=10"
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "description": "RFC 7807 (https://datatracker.ietf.org/doc/html/rfc7807)",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://example.com/probs/out-of-credit"
          },
          "title": {
            "type": "string",
            "example": "You do not have enough credit."
          },
          "status": {
            "type": "integer",
            "example": 403
          },
          "detail": {
            "type": "string",
            "example": "Your current balance is 30, but that costs 50."
          }
        }
      }
    }
  }
}
