---
import { ScalarComponent } from '@scalar/astro'
---

<p><a href="/client">Client mode example</a></p>

<ScalarComponent configuration={{
	url: 'https://registry.scalar.com/@scalar/apis/galaxy?format=json',
}} />
