{
	auto_https off
	admin off
}

:8080 {
	root /usr/share/caddy
	templates
	file_server {
		precompressed gzip
	}
	header -Server
	header Cache-Control "no-cache"

	# Serve mounted OpenAPI documents
	handle_path /docs/* {
		root * /mounted-docs
		file_server
	}

	# API endpoint to get dynamic configuration
	handle /scalar-config.json {
		root * /tmp
		file_server
	}

	handle /health {
		respond "OK" 200
	}
}
