
/* References Tailwind Theme Extensions */
@theme inline {
  /*
   * References Spacing Variables
   * @see components/ApiReference.vue
   */

  /* The header height */
  --spacing-header: var(--refs-header-height);
  /* The offset of visible references content (minus headers) */
  --spacing-viewport-offset: var(--refs-viewport-offset);
  /* The calculated height of visible references content (minus headers) */
  --spacing-viewport-height: var(--refs-viewport-height);
  /* The width of the sidebar */
  --spacing-w-sidebar: var(--refs-sidebar-width);
  /* The height of the sidebar */
  --spacing-h-sidebar: var(--refs-sidebar-height);
  /* The maximum width of the content column */
  --spacing-content-max-width: var(--refs-content-max-width);
}