@import "@scalar/themes/style.css"; /* Theme Base Styles and Reset */
@import "@scalar/themes/tailwind.css"; /* Tailwind Theme + Config */

/* Dependency Vue SFC styles */
@import "@scalar/api-client/vue-styles.css";
@import "@scalar/components/vue-styles.css";
@import "@scalar/sidebar/vue-styles.css";

/* Dependency Tailwind Configurations */
@import "@scalar/api-client/tailwind.config.css";
@import "@scalar/components/tailwind.config.css";
@import "@scalar/sidebar/tailwind.config.css";

.scalar-app {
  /** Base Styles */
  @apply text-base leading-normal;

  /* Generate the Tailwind Utilities (scoped) */
  @import "tailwindcss/utilities.css";
}

body {
  @apply bg-b-1 text-c-1 overflow-hidden;
}

/* TODO: Remove this once we update the reset */
:where(a) {
  text-decoration: inherit;
}

/* Search for Tailwind classes in the source files */
@source "./";
@source "../entrypoints/";

body > img[src*="fathom"] {
  display: none;
}

.t-app__top-nav {
  border-bottom: 1px solid var(--scalar-border-color);
}
