/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The editor uses some browser defaults so it needs to be excluded from the reset (DOC-466)
 */
*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(
        svg *,
        symbol *,
        .editor *,
        .reference *
      )
  ) {
  all: unset;
  display: revert;
}

/* Optional future support for reverting on >Chrome 90 */
/* @supports (-webkit-user-modify: revert-layer) {
  * {
    -moz-user-modify: revert-layer;
    -webkit-user-modify: revert-layer;
    overflow-wrap: revert-layer;
    -webkit-line-break: revert-layer;
    -webkit-user-select: revert-layer;
  }
} */

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Strip the padding from editor elements */
.editor *,
.reference * {
  padding: 0;
  margin: 0;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Reapply outlines on keyboard focus */
a[href]:focus-visible,
button:focus-visible,
[tabindex]:focus-visible {
  outline: 1px dashed var(--scalar-api-reference-theme-color-2);
  outline-offset: 2px;
}

/* Revert the font-size for selects
  Ideally we would remove this once we style our selects better (DOC-466) */
select {
  font-size: revert;
}

/* Revert the line-height for buttons and inputs
  Ideally we would remove this once we style our inputs and buttons better (DOC-466) */
input,
button {
  line-height: revert;
}

/* Remove list styles (bullets/numbers) */
/* It would be good to include this again (DOC-466) */
/* ol,
ul,
menu {
  list-style: none;
} */

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
/* Align our input text to the left */
input,
textarea {
  -webkit-user-select: auto;
  text-align: left;
  font-weight: initial;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
/* :where(pre) {
  all: revert;
} */

/* reset default text opacity of input placeholder */
::placeholder {
  color: revert;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: revert-layer, read-write;
  -webkit-user-modify: revert-layer, read-write;
  overflow-wrap: revert-layer, break-word;
  -webkit-line-break: revert-layer, after-white-space;
  -webkit-user-select: revert-layer, auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}
