.scalar-api-reference,
#headlessui-portal-root,
.dark-mode {
  --scalar-api-reference-font-sans: sans-serif;
  --scalar-api-reference-font-mono: mono;

  --scalar-api-reference-sidebar-border-color: #000;
  --scalar-api-reference-theme-background-1: #fff;
  --scalar-api-reference-theme-background-2: #ccc;
  --scalar-api-reference-theme-border-color: #000;
  --scalar-api-reference-theme-border: 1px solid
    var(--scalar-api-reference-theme-border-color);
  --scalar-api-reference-theme-button-1-color: #fff;
  --scalar-api-reference-theme-button-1-hover: #ccc;
  --scalar-api-reference-theme-button-1: red;
  --scalar-api-reference-theme-color-1: #000;
  --scalar-api-reference-theme-color-2: #ccc;
  --scalar-api-reference-theme-color-3: #666;
  --scalar-api-reference-theme-color-ghost: #eee;
  --scalar-api-reference-theme-error-color: red;
  --scalar-api-reference-theme-font-size-4: 16px;
  --scalar-api-reference-theme-header-height: 0;
  --scalar-api-reference-theme-radius: 4px;
  --scalar-api-reference-theme-semibold: 600;
  --scalar-api-reference-theme-shadow-1: 0 0 4px rgba(0, 0, 0, 0.1);
  --scalar-api-reference-theme-sidebar-width: 300px;
  --scalar-api-reference-theme-small: 12px;
  --scalar-api-reference-app-header-height: 100px;
  --scalar-api-reference-col-width-1: 300px;
  --scalar-api-reference-col-width-2: calc(50% - 150px);
  --scalar-api-reference-col-width-3: calc(50% - 150px);
  --scalar-api-reference-document-height: 100vh;
  --scalar-api-reference-font-color: #000;
  --scalar-api-reference-full-height: 100%;
  --scalar-api-reference-sidebar-background-1: white;
  --scalar-api-reference-sidebar-color-1: #000;
  --scalar-api-reference-sidebar-color-2: #ccc;
  --scalar-api-reference-sidebar-color-active: blue;
  --scalar-api-reference-sidebar-item-hover-background: var(#ccc);
  --scalar-api-reference-theme-background-3: #ccc;
  --scalar-api-reference-theme-bold: 700;
  --scalar-api-reference-theme-border-width: 1px;
  --scalar-api-reference-theme-color-accent: blue;
  --scalar-api-reference-theme-delete-color: red;
  --scalar-api-reference-theme-font-code: mono;
  --scalar-api-reference-theme-get-color: green;
  --scalar-api-reference-theme-heading-2: 24px;
  --scalar-api-reference-theme-heading-4: 16px;
  --scalar-api-reference-theme-micro: 10px;
  --scalar-api-reference-theme-mini: 12px;
  --scalar-api-reference-theme-paragraph: 16px;
  --scalar-api-reference-theme-patch-color: orange;
  --scalar-api-reference-theme-post-color: blue;
  --scalar-api-reference-theme-put-color: purple;
  --scalar-api-reference-theme-radius-lg: 8px;
  --scalar-api-reference-theme-regular: 14px;
  --scalar-api-reference-theme-toc-width: 300px;
  --scalar-api-reference-theme-post-color: blue;
  --scalar-api-reference-theme-patch-color: orange;
  --scalar-api-reference-theme-delete-color: red;
  --scalar-api-reference-theme-get-color: green;
  --scalar-api-reference-theme-put-color: purple;
}

/*
.scalar-api-reference,
#headlessui-portal-root,
.dark-mode {
  --scalar-api-reference-font-sans: var(--theme-font);
  --scalar-api-reference-font-mono: var(--theme-font-code);

  --scalar-api-reference-sidebar-border-color: var(--theme-border-color);
  --scalar-api-reference-theme-background-1: var(--theme-background-1);
  --scalar-api-reference-theme-background-2: var(--theme-background-2);
  --scalar-api-reference-theme-border-color: var(--theme-border-color);
  --scalar-api-reference-theme-border: var(--theme-border);
  --scalar-api-reference-theme-button-1-color: var(--theme-button-1-color);
  --scalar-api-reference-theme-button-1-hover: var(--theme-button-1-hover);
  --scalar-api-reference-theme-button-1: var(--theme-button-1);
  --scalar-api-reference-theme-color-1: var(--theme-color-1);
  --scalar-api-reference-theme-color-2: var(--theme-color-2);
  --scalar-api-reference-theme-color-3: var(--theme-color-3);
  --scalar-api-reference-theme-color-ghost: var(--theme-color-ghost);
  --scalar-api-reference-theme-error-color: var(--theme-error-color);
  --scalar-api-reference-theme-font-size-4: var(--theme-font-size-4);
  --scalar-api-reference-theme-header-height: var(--theme-header-height);
  --scalar-api-reference-theme-radius: var(--theme-radius);
  --scalar-api-reference-theme-semibold: var(--theme-semibold);
  --scalar-api-reference-theme-shadow-1: var(--theme-shadow-1);
  --scalar-api-reference-theme-sidebar-width: var(--theme-sidebar-width);
  --scalar-api-reference-theme-small: var(--theme-small);
  --scalar-api-reference-app-header-height: var(--app-header-height);
  --scalar-api-reference-col-width-1: var(--col-width-1);
  --scalar-api-reference-col-width-2: var(--col-width-2);
  --scalar-api-reference-col-width-3: var(--col-width-3);
  --scalar-api-reference-document-height: var(--document-height);
  --scalar-api-reference-font-color: var(--theme-color-1);
  --scalar-api-reference-full-height: var(--full-height);
  --scalar-api-reference-sidebar-background-1: var(--theme-background-1);
  --scalar-api-reference-sidebar-color-1: var(--theme-color-1);
  --scalar-api-reference-sidebar-color-2: var(--theme-color-2);
  --scalar-api-reference-sidebar-color-active: var(--theme-color-accent);
  --scalar-api-reference-sidebar-item-hover-background: var(
    --theme-background-2
  );
  --scalar-api-reference-theme-background-3: var(--theme-background-3);
  --scalar-api-reference-theme-bold: var(--theme-bold);
  --scalar-api-reference-theme-border-width: var(--theme-border-width);
  --scalar-api-reference-theme-color-accent: var(--theme-color-accent);
  --scalar-api-reference-theme-delete-color: var(--theme-delete-color);
  --scalar-api-reference-theme-font-code: var(--theme-font-code);
  --scalar-api-reference-theme-get-color: var(--theme-get-color);
  --scalar-api-reference-theme-heading-2: var(--theme-heading-2);
  --scalar-api-reference-theme-heading-4: var(--theme-heading-4);
  --scalar-api-reference-theme-micro: var(--theme-micro);
  --scalar-api-reference-theme-mini: var(--theme-mini);
  --scalar-api-reference-theme-paragraph: var(--theme-paragraph);
  --scalar-api-reference-theme-patch-color: var(--theme-patch-color);
  --scalar-api-reference-theme-post-color: var(--theme-post-color);
  --scalar-api-reference-theme-put-color: var(--theme-put-color);
  --scalar-api-reference-theme-radius-lg: var(--theme-radius-lg);
  --scalar-api-reference-theme-regular: var(--theme-regular);
  --scalar-api-reference-theme-toc-width: var(--theme-toc-width);
  --scalar-api-reference-theme-post-color: var(--theme-post-color);
  --scalar-api-reference-theme-patch-color: var(--theme-patch-color);
  --scalar-api-reference-theme-get-color: var(--theme-get-color);
  --scalar-api-reference-theme-delete-color: var(--theme-delete-color);
  --scalar-api-reference-theme-put-color: var(--theme-put-color);
} */
