---
import { renderApiReference } from '@scalar/client-side-rendering'
import type { HtmlRenderingConfiguration } from '@scalar/types/api-reference'

export interface Props {
  configuration: Partial<HtmlRenderingConfiguration>
}

/**
 * The default configuration for the API Reference.
 */
const DEFAULT_CONFIGURATION: Partial<HtmlRenderingConfiguration> = {
  // TODO :Add the integration name to the configuration once the first release went out to allow the value
  // _integration: 'astro',
}

const { configuration } = Astro.props

const finalConfiguration = {
  ...DEFAULT_CONFIGURATION,
  ...configuration,
}
const { cdn, pageTitle, ...config } = finalConfiguration
const html = renderApiReference({
  config,
  cdn,
  pageTitle,
})
---

<div set:html={html}></div>
