:root {
  /** Colors */
  --scalar-api-client-background-primary: #fff;
  --scalar-api-client-background-secondary: #f1f3f5;
  --scalar-api-client-background-input: #fff;
  --scalar-api-client-background-muted: #f8f9fa;
  --scalar-api-client-border-color: #dee2e6;
  --scalar-api-client-fill-icon: #212529;

  /** Borders */
  --scalar-api-client-border: 1px solid #dee2e6;
  --scalar-api-client-rounded: 4px;

  /** Fonts */
  --scalar-api-client-font-sans: system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --scalar-api-client-font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  /** Font weights */
  --scalar-api-client-font-semibold: 600;
  --scalar-api-client-font-bold: 700;

  /** Font colors */
  --scalar-api-client-text-color-primary: #343a40;
  --scalar-api-client-text-color-secondary: #868e96;
  --scalar-api-client-text-color-muted: #868e96;

  /** Font sizes */
  --scalar-api-client-text-xs: 12px;
  --scalar-api-client-text-sm: 14px;
  --scalar-api-client-text-base: 16px;
  --scalar-api-client-text-lg: 18px;

  /** Request method colors */
  --scalar-api-client-post-color: #00a67d;
  --scalar-api-client-post-background: #00a67d1a;
  --scalar-api-client-delete-color: #ef0006;
  --scalar-api-client-delete-background: #ef00061a;
  --scalar-api-client-patch-color: #b2b062;
  --scalar-api-client-patch-background: #ffe6001a;
  --scalar-api-client-get-color: #0082d0;
  --scalar-api-client-get-background: #0082d01a;
  --scalar-api-client-put-color: #f3830e;
  --scalar-api-client-put-background: #f3830e1a;

  /** TODO: Go through the following variables and check what they do */
  --scalar-api-client-color2: green;
  --scalar-api-client-bg3: purple;
  --scalar-api-client-gradient: linear-gradient(180deg, black 0%, black 100%);
}
