:root {
  /** Colors */
  --scalar-api-client-background-input: #fff;
  --scalar-api-client-fill-icon: #212529;


  /** Font sizes */
  --scalar-api-client-text-base: 16px;
  --scalar-api-client-text-lg: 18px;

  /** Request method colors */

  /** TODO: Go through the following variables and check what they do */
  --scalar-api-client-color2: green;
  --scalar-api-client-bg3: purple;
  --scalar-api-client-gradient: linear-gradient(180deg, black 0%, black 100%);
}
