@layer scalar-base {
  pre * {
    font-size: var(--scalar-small) !important;
    font-family: var(--scalar-font-code) !important;
  }
  code.hljs {
    display: inline-block;
    padding: 3px 5px;
    counter-reset: linenumber;
  }
  .hljs {
    background: var(--scalar-background-4, var(--scalar-background-3));
    color: var(--scalar-color-1);
  }

  .hljs .line::before {
    display: inline-block;
    counter-increment: linenumber;
    content: counter(linenumber);
    padding-right: 1em;
    /* Variable is set on the code element by the plugin when line numbers are used */
    width: calc(var(--line-digits) * 0.6em);
    text-align: right;
  }

  .hljs-comment,
  .hljs-quote {
    color: var(--scalar-color-3);
    font-style: italic;
  }
  .hljs-addition,
  .hljs-keyword,
  .hljs-literal,
  .hljs-selector-tag,
  .hljs-type {
    color: var(--scalar-color-green);
  }
  .hljs-number,
  .hljs-selector-attr,
  .hljs-selector-pseudo {
    color: var(--scalar-color-orange);
  }
  .hljs-doctag,
  .hljs-regexp,
  .hljs-string {
    color: var(--scalar-color-blue);
  }
  .hljs-built_in,
  .hljs-name,
  .hljs-section,
  .hljs-title {
    color: var(--scalar-color-blue);
  }
  .hljs-class .hljs-title,
  .hljs-selector-id,
  .hljs-template-variable,
  .hljs-title.class_,
  .hljs-variable {
    color: var(--scalar-color-1);
  }
  .hljs-name,
  .hljs-section,
  .hljs-strong {
    font-weight: var(--scalar-semibold);
  }
  .hljs-bullet,
  .hljs-link,
  .hljs-meta,
  .hljs-subst,
  .hljs-symbol {
    color: var(--scalar-color-blue);
  }
  .hljs-deletion {
    color: var(--scalar-color-red);
  }
  .hljs-formula {
    background: var(--scalar-color-1);
  }
  .hljs-attr,
  .hljs-attribute {
    color: var(--scalar-color-1);
  }
  .hljs-emphasis {
    font-style: italic;
  }
}
