@layer scalar-base {
  code.hljs * {
    font-size: var(--scalar-small) !important;
    font-family: var(--scalar-font-code) !important;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.4;
    tab-size: 4;
  }
  code.hljs {
    display: inline-block;
    counter-reset: linenumber;
  }
  .hljs {
    background: transparent;
    color: var(--scalar-color-2);
  }

  .hljs .line::before {
    color: var(--scalar-color-3);
    display: inline-block;
    counter-increment: linenumber;
    content: counter(linenumber);
    margin-right: 0.7em;
    /* Variable is set on the code element by the plugin when line numbers are used */
    min-width: calc(var(--line-digits) * 1ch);
    text-align: right;
  }

  .hljs-comment,
  .hljs-quote {
    color: var(--scalar-color-3);
    font-style: italic;
  }
  .hljs-addition,
  .hljs-literal,
  .hljs-selector-tag,
  .hljs-type {
    color: var(--scalar-color-green);
  }

  .hljs-keyword {
    color: var(--scalar-color-purple);
  }

  .hljs-number,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-title.function_ {
    color: var(--scalar-color-orange);
  }
  .hljs-doctag,
  .hljs-regexp,
  .hljs-string {
    color: var(--scalar-color-blue);
  }
  .hljs-built_in,
  .hljs-name,
  .hljs-section,
  .hljs-title {
    color: var(--scalar-color-blue);
  }
  .hljs-class .hljs-title,
  .hljs-selector-id,
  .hljs-template-variable,
  .hljs-title.class_,
  .hljs-variable {
    color: var(--scalar-color-1);
  }
  .hljs-name,
  .hljs-section,
  .hljs-strong {
    font-weight: var(--scalar-semibold);
  }
  .hljs-bullet,
  .hljs-link,
  .hljs-meta,
  .hljs-subst,
  .hljs-symbol {
    color: var(--scalar-color-blue);
  }
  .hljs-deletion {
    color: var(--scalar-color-red);
  }
  .hljs-formula {
    background: var(--scalar-color-1);
  }
  .hljs-attr,
  .hljs-attribute {
    color: var(--scalar-color-1);
  }
  .hljs-emphasis {
    font-style: italic;
  }

  /** Hide credentials */
  .credentials {
    font-size: 0 !important;
    color: transparent;
  }

  /** Show a few dots instead */
  .credentials::after {
    content: '·····';
    font-size: var(--scalar-small);
    color: var(--scalar-color-3);
    user-select: none;
  }
}
