@import url("./code.css");

.scalar-app {
  /* Base container and variables */
  .markdown {
    --scalar-refs-heading-spacing: 24px;
    --markdown-border: var(--scalar-border-width) solid var(--scalar-border-color);
    --markdown-spacing-sm: 12px;
    --markdown-spacing-md: 16px;
    --markdown-line-height: 1.625;

    font-family: var(--scalar-font);
    word-break: break-word;
  }

  .markdown > * {
    margin-bottom: var(--markdown-spacing-md);
  }

  /* margin gets doubled between heading + non heading elements if we don't do this*/
  .markdown > *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):last-child {
    margin-bottom: 0;
  }
  /* Headings (h1-h6) */
  .markdown h1 {
    --font-size: 1.5rem;
    --markdown-line-height: 32px;
  }

  .markdown h2,
  .markdown h3 {
    --font-size: 1.25rem;
    --markdown-line-height: 1.3;
  }

  .markdown h4,
  .markdown h5,
  .markdown h6 {
    --font-size: 1rem;
  }

  .markdown h1,
  .markdown h2,
  .markdown h3,
  .markdown h4,
  .markdown h5,
  .markdown h6 {
    display: block;
    font-size: var(--font-size);
    font-weight: var(--scalar-bold);
    margin-top: var(--scalar-refs-heading-spacing);
    margin-bottom: var(--markdown-spacing-sm);
    scroll-margin-top: 1rem;
  }

  /* Text formatting and paragraphs */
  .markdown b,
  .markdown strong {
    font-weight: var(--scalar-bold);
  }

  .markdown p {
    color: inherit;
    line-height: var(--markdown-line-height);
    display: block;
  }

  /* Images */
  .markdown img {
    overflow: hidden;
    border-radius: var(--scalar-radius);
    max-width: 100%;
  }

  /* Lists */
  .markdown ul:not(.contains-task-list),
  .markdown ol {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .markdown ul:not(.contains-task-list) {
    list-style-position: inside;
  }

  .markdown ul {
    list-style-type: disc;
  }

  .markdown li {
    line-height: var(--markdown-line-height);
    position: relative;
  }

  .markdown ul li {
    padding-left: var(--markdown-spacing-md);
  }

  .markdown ol {
    counter-reset: item;
    padding-left: 37.5px;
  }

  .markdown ol li::before {
    content: counter(item) "\002E";
    counter-increment: item;
    font: var(--scalar-font);
    font-weight: var(--scalar-semibold);
    position: absolute;
    top: 0;
    left: -24px;
    line-height: var(--markdown-line-height);
    margin-right: var(--markdown-spacing-sm);
  }

  .markdown ol li::before,
  .markdown ol ol ol li::before,
  .markdown ol ol ol ol ol ol li::before {
    content: counter(item, decimal) "\002E";
  }

  .markdown ol ol li::before,
  .markdown ol ol ol ol li::before,
  .markdown ol ol ol ol ol ol ol li::before {
    content: counter(item, lower-alpha) "\002E";
  }

  .markdown ol ol li::before,
  .markdown ol ol ol ol ol li::before,
  .markdown ol ol ol ol ol ol ol ol li::before {
    content: counter(item, lower-roman) "\002E";
  }

  .markdown ul:first-of-type li:first-of-type {
    margin-top: 0;
  }

  /* Tables */
  .markdown table {
    display: table;
    table-layout: fixed;
    overflow-x: auto;
    position: relative;
    border-collapse: collapse;
    width: 100%;
    margin: 1em 0;
    box-shadow: 0 0 0 var(--scalar-border-width) var(--scalar-border-color);
    border-radius: var(--scalar-radius);
  }

  .markdown tbody,
  .markdown thead {
    vertical-align: middle;
  }

  .markdown tbody {
    display: table-row-group;
  }

  .markdown thead {
    display: table-header-group;
  }

  .markdown tr {
    display: table-row;
    border-color: inherit;
    vertical-align: inherit;
  }

  .markdown td,
  .markdown th {
    display: table-cell;
    vertical-align: top;
    min-width: 1em;
    padding: 8.5px 16px;
    line-height: var(--markdown-line-height);
    position: relative;
    word-break: initial;
    font-size: var(--scalar-small);
    color: var(--scalar-color-1);
    border-right: var(--markdown-border);
    border-bottom: var(--markdown-border);
  }

  .markdown td > *,
  .markdown th > * {
    margin-bottom: 0;
  }

  .markdown th:empty {
    display: none;
  }

  .markdown td:first-of-type,
  .markdown th:first-of-type {
    border-left: none;
  }

  .markdown td:last-of-type,
  .markdown th:last-of-type {
    border-right: none;
  }

  .markdown tr:last-of-type td {
    border-bottom: none;
  }

  .markdown th {
    font-weight: var(--scalar-bold);
    text-align: left;
    border-left-color: transparent;
    background: var(--scalar-background-2);
  }

  .markdown th:first-of-type {
    border-top-left-radius: var(--scalar-radius);
  }

  .markdown th:last-of-type {
    border-top-right-radius: var(--scalar-radius);
  }

  .markdown tr > [align="left"] {
    text-align: left;
  }

  .markdown tr > [align="right"] {
    text-align: right;
  }

  .markdown tr > [align="center"] {
    text-align: center;
  }

  /* Details */
  .markdown details {
    border: var(--markdown-border);
    border-radius: var(--scalar-radius);
    color: var(--scalar-color-1);
  }

  .markdown details > :not(summary) {
    margin: var(--markdown-spacing-md);
    margin-bottom: 0;
  }

  .markdown details > p:has(> strong):not(:has(:not(strong))) {
    margin-bottom: 8px;
  }

  .markdown details > p:has(> strong):not(:has(:not(strong))) + * {
    margin-top: 0;
  }

  .markdown details > table {
    width: calc(100% - calc(var(--markdown-spacing-md) * 2));
  }

  .markdown summary {
    background-color: var(--scalar-background-2);
    border-radius: var(--scalar-radius);
    display: flex;
    align-items: top;
    height: 40px;
    padding: 11px 0px 11px 37px;
    position: relative;
    font-weight: var(--scalar-semibold);
    cursor: pointer;
    user-select: none;
  }

  .markdown details[open] {
    padding-bottom: var(--markdown-spacing-md);
  }

  .markdown details[open] summary {
    border-bottom: var(--markdown-border);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .markdown summary::after {
    display: block;
    content: "";
    position: absolute;
    top: calc(var(--markdown-spacing-sm) + 1px);
    left: 10px;
    width: var(--markdown-spacing-md);
    height: var(--markdown-spacing-md);
    background-color: var(--scalar-color-3);
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 256 256"><path d="M184.49,136.49l-80,80a12,12,0,0,1-17-17L159,128,87.51,56.49a12,12,0,1,1,17-17l80,80A12,12,0,0,1,184.49,136.49Z"></path></svg>');
  }

  .markdown summary:hover::after {
    background-color: var(--scalar-color-1);
  }

  .markdown details[open] summary::after {
    transform: rotate(90deg);
  }

  /* Links */
  .markdown a {
    --font-color: var(--scalar-link-color, var(--scalar-color-accent));
    --font-visited: var(--scalar-link-color-visited, var(--scalar-color-2));
    text-decoration: var(--scalar-text-decoration);

    color: var(--font-color);
    font-weight: var(--scalar-link-font-weight, var(--scalar-semibold));
    text-underline-offset: 0.25rem;
    text-decoration-thickness: 1px;
    text-decoration-color: color-mix(in srgb, var(--font-color) 30%, transparent);
  }

  .markdown a:hover {
    text-decoration-color: var(currentColor, var(--scalar-color-1));
    color: var(--scalar-link-color-hover, var(--scalar-color-accent));
    -webkit-text-decoration: var(--scalar-text-decoration-hover);
    text-decoration: var(--scalar-text-decoration-hover);
  }

  .markdown a:visited {
    color: var(--font-visited);
  }

  /* Text effects and formatting */
  .markdown em {
    font-style: italic;
  }

  .markdown sup,
  .markdown sub {
    font-size: var(--scalar-micro);
    font-weight: 450;
  }

  .markdown sup {
    vertical-align: super;
  }

  .markdown sub {
    vertical-align: sub;
  }

  .markdown del {
    text-decoration: line-through;
  }

  /* Code blocks and inline code */
  .markdown code {
    font-family: var(--scalar-font-code);
    background-color: var(--scalar-background-2);
    box-shadow: 0 0 0 var(--scalar-border-width) var(--scalar-border-color);
    font-size: var(--scalar-micro);
    border-radius: 2px;
    padding: 0 3px;
  }

  .markdown .hljs {
    font-size: var(--scalar-small);
  }

  .markdown pre code {
    display: block;
    white-space: pre;
    padding: var(--markdown-spacing-sm);
    line-height: 1.5;
    margin: var(--markdown-spacing-sm) 0;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    max-width: 100%;
    min-width: 100px;
  }

  /* Horizontal rules */
  .markdown hr {
    border: none;
    border-bottom: var(--markdown-border);
  }

  /* Blockquotes */
  .markdown blockquote {
    border-left: 1px solid var(--scalar-color-1);
    padding-left: var(--markdown-spacing-md);
    margin: 0;
    display: block;
    font-weight: var(--scalar-bold);
    font-size: var(--scalar-heading-2);
  }

  /* Markdown Checklist */
  .markdown .contains-task-list {
    display: flex;
    flex-direction: column;
    gap: 2px;
    list-style: none;
  }

  .markdown .contains-task-list li {
    align-items: center;
    display: flex;
    gap: 10.5px;
    padding-left: 10.5px;
  }

  .markdown .contains-task-list input {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    width: var(--markdown-spacing-md);
    height: var(--markdown-spacing-md);
    align-content: center;
    justify-content: center;
    border: 1px solid var(--scalar-color-3);
    border-radius: var(--scalar-radius);
  }

  .markdown .contains-task-list input:checked {
    background-color: var(--scalar-color-1);
    border-color: var(--scalar-color-1);
  }

  .markdown .contains-task-list input[type="checkbox"]::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid var(--scalar-background-1);
    border-width: 0 1.5px 1.5px 0;
    transform: rotate(45deg);
    opacity: 0;
  }

  .markdown .contains-task-list input[type="checkbox"]:checked::before {
    opacity: 1;
  }

  /* Markdown Alert */
  .markdown .markdown-alert {
    align-items: stretch;
    border-radius: var(--scalar-radius-lg);
    background-color: color-mix(in srgb, var(--scalar-background-2), transparent);
    border: var(--markdown-border);
    display: flex;
    font-size: var(--scalar-small);
    gap: var(--markdown-spacing-sm);
    padding: calc(var(--markdown-spacing-sm) - 0.5px);
    padding-left: 42px;
    position: relative;
  }

  .markdown .markdown-alert::before {
    content: "";
    position: absolute;
    left: var(--markdown-spacing-sm);
    top: calc(var(--markdown-spacing-sm) + 0.5px);
    width: 16px;
    height: 16px;
    background-color: currentColor;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
  }

  .markdown .markdown-alert.markdown-alert-note::before,
  .markdown .markdown-alert.markdown-alert-tip::before {
    mask-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 17v-6a.5.5 0 0 0-.5-.5l-.5.001h-1M12 17h-2m2 0h2m-2 5c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M10.75 7.5a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z" fill="currentColor"/></svg>');
  }

  .markdown .markdown-alert.markdown-alert-important::before,
  .markdown .markdown-alert.markdown-alert-warning::before {
    mask-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 8v4m10 0c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M11 16a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z" fill="currentColor"/></svg>');
  }

  .markdown .markdown-alert.markdown-alert-caution::before {
    mask-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 8v4m3.312-10a2 2 0 0 1 1.414.586l4.688 4.688A2 2 0 0 1 22 8.688v6.624a2 2 0 0 1-.586 1.414l-4.688 4.688a2 2 0 0 1-1.414.586H8.688a2 2 0 0 1-1.414-.586l-4.688-4.688A2 2 0 0 1 2 15.312V8.688a2 2 0 0 1 .586-1.414l4.688-4.688A2 2 0 0 1 8.688 2h6.624Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M11 16a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z" fill="currentColor"/></svg>');
    color: var(--scalar-color-red);
  }

  .markdown .markdown-alert.markdown-alert-success::before {
    mask-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16 9.5 10.5 15 8 12.5m14-.5c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    color: var(--scalar-color-green);
  }

  .markdown .markdown-alert.markdown-alert-note::before {
    color: var(--scalar-color-blue);
  }

  .markdown .markdown-alert.markdown-alert-tip::before {
    color: var(--scalar-color-2);
  }

  .markdown .markdown-alert.markdown-alert-important::before {
    color: var(--scalar-color-purple);
  }

  .markdown .markdown-alert.markdown-alert-warning::before {
    color: var(--scalar-color-orange);
  }

  .markdown .markdown-alert .markdown-alert-content {
    margin: 0;
    line-height: 20px;
  }
}
