{
  "openapi": "3.0.0",
  "info": {
    "title": "AuthBasic",
    "description": "Collection to test authorization global",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.io"
    }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/users": {
      "post": {
        "tags": ["default"],
        "summary": "Create new User Copy",
        "description": "Create a new user into your amazing API",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "example": "field",
                  "other": {
                    "data1": "yes",
                    "data2": "no"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "get": {
        "tags": ["default"],
        "summary": "Get list of users",
        "description": "Obtain a list of users that fullfill the conditions of the filters",
        "parameters": [
          {
            "name": "age",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by age",
            "example": "45"
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by name",
            "example": "Jhon"
          },
          {
            "name": "review",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Indicate if should be reviewed or not",
            "example": "true"
          },
          {
            "name": "number",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "This is a number",
            "example": "23.56"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  }
}
