{
  "openapi": "3.0.0",
  "info": {
    "title": "Postman to OpenAPI",
    "description": "Mi super test collection from postman",
    "version": "1.1.0"
  },
  "servers": [
    {
      "url": "https://api.io"
    }
  ],
  "paths": {
    "/users": {
      "post": {
        "tags": ["default"],
        "summary": "Create new User",
        "description": "Create a new user into your amazing API",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"example\\\": \\\"field\\\",\\n    \\\"other\\\": {\\n        \\\"data1\\\": \\\"yes\\\",\\n        \\\"data2\\\": \\\"no\\\"\\n    }\\n}\""
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/posts": {
      "post": {
        "tags": ["default"],
        "summary": "Create a post",
        "requestBody": {
          "content": {
            "text/plain": {}
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/note": {
      "post": {
        "tags": ["default"],
        "summary": "Create a note",
        "description": "Just an example of text raw body",
        "requestBody": {
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "example": "This is an example Note"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  }
}
