{
  "openapi": "3.0.0",
  "info": {
    "title": "Get Methods",
    "description": "API to manage GET methods",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.io"
    }
  ],
  "paths": {
    "/users": {
      "get": {
        "tags": ["default"],
        "summary": "Get list of users",
        "description": "Obtain a list of users that fullfill the conditions of the filters",
        "parameters": [
          {
            "name": "age",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "Filter by age",
            "example": "45"
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Filter by name",
            "example": "Jhon"
          },
          {
            "name": "review",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Indicate if should be reviewed or not",
            "example": "true"
          },
          {
            "name": "number",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "This is a number",
            "example": "23.56"
          },
          {
            "name": "required",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "mandatory paraemeter",
            "example": "my value"
          },
          {
            "name": "number1",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Should be parsed as number",
            "example": "0.4565876"
          },
          {
            "name": "number2",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Should be parsed as number",
            "example": "123.45"
          },
          {
            "name": "fake-number",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Should be parsed as string",
            "example": "1.23.45"
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Should be parsed as string",
            "example": "2022-06-23T10:00:00.000+01:00"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  }
}
