{
  "openapi": "3.0.0",
  "info": {
    "title": "Headers",
    "description": "API with headers",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.io"
    }
  ],
  "paths": {
    "/users": {
      "get": {
        "tags": ["default"],
        "summary": "Get list of users",
        "description": "Obtain a list of users that fullfill the conditions of the filters",
        "parameters": [
          {
            "name": "X-My-Header",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Custom header",
            "example": "hudjilksns78jsijns090"
          },
          {
            "name": "X-Other",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Another header",
            "example": "other"
          },
          {
            "name": "No-description",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "header without description"
          },
          {
            "name": "No-value",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "header without value"
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by name",
            "example": "Jhon"
          },
          {
            "name": "review",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Indicate if should be reviewed or not",
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "post": {
        "tags": ["default"],
        "summary": "Create new User",
        "description": "Create a new user into your amazing API",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "example": "field",
                  "other": {
                    "data1": "yes",
                    "data2": "no"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Indicate the type of body sent by client",
            "example": "application/json"
          },
          {
            "name": "X-My-Header",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Custom header",
            "example": "hudjilksns78jsijns090"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  }
}
