{
  "openapi": "3.0.0",
  "info": {
    "title": "License and Contact",
    "description": "Collection to test license as variable",
    "version": "1.0.0",
    "contact": {
      "name": "API Support",
      "url": "http://www.example.com/support",
      "email": "support@example.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.io"
    }
  ],
  "paths": {
    "/users": {
      "get": {
        "tags": ["default"],
        "summary": "Get list of users",
        "description": "Obtain a list of users that fullfill the conditions of the filters",
        "parameters": [
          {
            "name": "age",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by age",
            "example": "45"
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by name",
            "example": "Jhon"
          },
          {
            "name": "review",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Indicate if should be reviewed or not",
            "example": "true"
          },
          {
            "name": "number",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "This is a number",
            "example": "23.56"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  }
}
