{
  "openapi": "3.0.0",
  "info": {
    "title": "Parse Status Code",
    "description": "Just a simple collection for test status parsing",
    "version": "2.3.0"
  },
  "servers": [
    {
      "url": "https://api.io"
    }
  ],
  "paths": {
    "/users": {
      "post": {
        "tags": ["default"],
        "summary": "Create new User 201",
        "description": "Example of a 201 response",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "example": "field",
                  "other": {
                    "data1": "yes",
                    "data2": "no"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/users/active": {
      "post": {
        "tags": ["default"],
        "summary": "Create new User 202",
        "description": "Example of a 202 response",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "example": "field",
                  "other": {
                    "data1": "yes",
                    "data2": "no"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/users/group": {
      "post": {
        "tags": ["default"],
        "summary": "Deafult 200",
        "description": "Example of a 202 response",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "example": "field",
                  "other": {
                    "data1": "yes",
                    "data2": "no"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  }
}
