/** Scalar Tailwind Custom Variants */

/**
 * Dark Mode Variant
 *
 * Uses our dark mode class to determine if the variant should be applied.
 *
 * https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually
 */
@custom-variant dark (&:where(.dark-mode, .dark-mode *));

/**
 * Custom breakpoint variant for zoomed in screens (should trigger at about 200% zoom)
 */
@custom-variant zoomed {
  @media (max-width: 720px) and (max-height: 480px) {
    @slot;
  }
}

/**
 * Custom hover and focus visible variant
 *
 * Use when you want to apply styles to both hover and focus states.
 *
 * @see https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/:focus-visible
 * @see https://stackoverflow.com/a/74565470
 */
@custom-variant hocus (&:hover, &:focus-visible);
@custom-variant hocus-within (&:hover, &:focus-within);
