name: Blacksmith Cleanup
permissions:
  contents: read
on:
  workflow_dispatch: null
  schedule:
    - cron: '0 5 * * *'
jobs:
  cleanup-turbo-cache:
    runs-on: blacksmith-2vcpu-ubuntu-2204
    strategy:
      matrix:
        node-version: [22]
    timeout-minutes: 10
    steps:
      - name: Attach sticky disk
        uses: useblacksmith/stickydisk@a652394bf1bf95399f406e648482b41fbd25c51f # v1
        with:
          key: ${{ github.repository }}-${{ matrix.node-version }}-turbo-cache
          path: /
      - name: Check
        run: echo Removing on ${{ matrix.node-version }}
      - name: Cleanup Turbo Cache
        run: rm -rf *
