name: Blacksmith Cleanup
permissions:
  contents: read
on:
  workflow_dispatch: null
  schedule:
    - cron: '0 5 * * *'
jobs:
  cleanup-turbo-cache:
    runs-on: blacksmith-2vcpu-ubuntu-2204
    strategy:
      matrix:
        node-version: [22]
    timeout-minutes: 5
    steps:
      - name: Attach sticky disk
        uses: useblacksmith/stickydisk-delete@b41313d28b8647d72114c9ba3c96bb04061562b6 # v1
        with:
          delete-key: ${{ github.repository }}-${{ matrix.node-version }}-turbo-cache
