name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  # Always use Node 20
  # Add Node 18 to the matrix if we’re in the release PR
  define-matrix:
    runs-on: ubuntu-latest

    outputs:
      node-versions: ${{ steps.node-versions.outputs.node-versions }}

    steps:
      - name: Node version matrix
        id: node-versions
        run: |
          if [ "${{ github.head_ref }}" == "changeset-release/main" ]; then
            echo 'node-versions=[18, 20]' >> "$GITHUB_OUTPUT"
          else
            echo 'node-versions=[20]' >> "$GITHUB_OUTPUT"
          fi
      - name: Print Node version matrix
        run: echo "node-versions=${{ steps.node-versions.outputs.node-versions }}"
      - name: Check Node version matrix
        run: |
          if [ "${{ steps.node-versions.outputs.node-versions }}" != "[18, 20]" ] && [ "${{ steps.node-versions.outputs.node-versions }}" != "[20]" ]; then
            echo "Node version matrix is not [18, 20] or [20]"
            exit 1
          fi

  build:
    runs-on: ubuntu-20.04
    needs: define-matrix
    strategy:
      matrix:
        node-version: ${{ fromJSON(needs.define-matrix.outputs.node-versions) }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Build
        uses: ./.github/actions/build
        with:
          node-version: ${{ matrix.node-version }}
      - name: Update Turborepo cache
        uses: actions/cache/save@v4
        with:
          path: .turbo
          key: turbo-${{ runner.os }}-node-${{ matrix.node-version }}

  format:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [20]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Install dev dependencies
        run: pnpm install --dev
      - name: Check code style
        run: pnpm format:check

  types:
    runs-on: ubuntu-20.04
    needs: [define-matrix, build]
    strategy:
      matrix:
        node-version: ${{ fromJSON(needs.define-matrix.outputs.node-versions) }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Build
        uses: ./.github/actions/build
        with:
          node-version: ${{ matrix.node-version }}
      - name: Check types
        run: pnpm turbo types:check

  test:
    runs-on: ubuntu-20.04
    needs: [define-matrix, build]
    strategy:
      matrix:
        node-version: ${{ fromJSON(needs.define-matrix.outputs.node-versions) }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Build packages
        uses: ./.github/actions/build
        with:
          node-version: ${{ matrix.node-version }}
          packages-only: 'true'
      - name: Run tests
        run: pnpm test:ci

  stats:
    runs-on: ubuntu-20.04
    needs: build
    strategy:
      matrix:
        node-version: [20]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Build @scalar/api-reference
        uses: ./.github/actions/build
        with:
          node-version: ${{ matrix.node-version }}
          packages-only: 'api-reference'
      - name: Send bundle stats and build information to RelativeCI
        uses: relative-ci/agent-action@v2
        with:
          key: ${{ secrets.RELATIVE_CI_KEY }}
          token: ${{ secrets.GITHUB_TOKEN }}
          webpackStatsFile: ./packages/api-reference/dist/browser/webpack-stats.json

  stackblitz:
    if: github.head_ref == 'changeset-release/main'
    runs-on: ubuntu-20.04
    needs: [build]
    strategy:
      matrix:
        node-version: [20]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Build packages
        uses: ./.github/actions/build
        with:
          node-version: ${{ matrix.node-version }}
          packages-only: 'true'
      - name: Publish on Stackblitz
        # We can’t use npx pkg-pr-new publish ./packages/* here.
        # We want to explicitly publish the packages we want to save some time.
        run: npx pkg-pr-new publish
          ./packages/api-client
          ./packages/api-reference
          ./packages/api-reference-editor
          ./packages/api-reference-react
          ./packages/build-tooling
          ./packages/cli
          ./packages/code-highlight
          ./packages/components
          ./packages/docusaurus
          ./packages/draggable
          ./packages/express-api-reference
          ./packages/fastify-api-reference
          ./packages/galaxy
          ./packages/hono-api-reference
          ./packages/mock-server
          ./packages/nestjs-api-reference
          ./packages/nextjs-api-reference
          ./packages/nuxt
          ./packages/oas-utils
          ./packages/object-utils
          ./packages/play-button
          ./packages/themes
          ./packages/use-codemirror
          ./packages/use-toasts
          ./packages/use-tooltip
          ./packages/void-server

  # Only in main branch, run GitHub CLI to trigger release.yml workflow
  trigger-release:
    # TODO: Eventually, this is only going to run on the main branch.
    # if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-20.04
    needs: [build, format, types, test]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Trigger Release workflow
        run: gh workflow run release.yml -f message="${{ github.event.head_commit.message }}"

  deploy:
    runs-on: ubuntu-20.04
    needs: [build]
    strategy:
      matrix:
        node-version: [20]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Check which files were touched
        id: changed-files
        uses: tj-actions/changed-files@v44
        with:
          files_yaml: |
            api_client:
              - examples/api-client/**
              - packages/api-client/**
      - if: steps.changed-files.outputs.api_client_any_changed == 'true'
        name: Build
        uses: ./.github/actions/build
        with:
          node-version: ${{ matrix.node-version }}
      - if: steps.changed-files.outputs.api_client_any_changed == 'true'
        name: Deploy to client.scalar.com
        id: deploy-client
        uses: cloudflare/wrangler-action@v3
        with:
          command: pages deploy dist --project-name=client
          workingDirectory: examples/api-client
          # 1) Log in to the Cloudflare dashboard.
          # 2) Select Workers & Pages.
          # 3) See the Account ID in the right sidebar.
          # Read more: https://developers.cloudflare.com/fundamentals/setup/find-account-and-zone-ids/
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          # 1) Go to https://dash.cloudflare.com/profile/api-tokens
          # 2) Create a token with the following permissions:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
      - if: github.ref != 'refs/heads/main' && steps.deploy-client.outputs.deployment-url
        name: Add Cloudflare Preview URL to the PR
        uses: thollander/actions-comment-pull-request@v2
        with:
          message: |
            **Cloudflare Preview for the API Client**

            ${{ steps.deploy-client.outputs.deployment-url }}
          comment_tag: 'cloudflare-preview'
