name: Lint SVG Icons

on:
  pull_request:
    branches:
      - main
    paths:
      - 'packages/components/src/components/ScalarIcon/**'
      - 'packages/icons/src/icons/**'

jobs:
  ci:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [20]

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Lint Component Library Icons
        run: pnpm --filter components lint:icons
      - name: Lint Icon Library Icons
        run: pnpm --filter icons lint:icons
