name: Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20]

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Turborepo cache
        uses: dtinth/setup-github-actions-caching-for-turbo@v1
      - name: Build
        run: pnpm turbo build
      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          # The pull request title.
          title: 'chore: release'
          # The command to update version, edit CHANGELOG, read and delete changesets.
          version: 'pnpm run bump'
          # The commit message to use.
          commit: 'chore: version packages'
          # The command to use to build and publish packages
          publish: 'pnpm -r publish --access public'
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Tag `latest` (as the pre-release)
        id: tag
        uses: rickstaa/action-create-tag@v1
        with:
          tag: 'latest'
          force_push_tag: true
      - name: Pack packages for a pre-release on GitHub
        id: pack
        if: steps.changesets.outputs.published == 'false'
        run: pnpm pack:packages
      - name: Create a pre-release on GitHub
        id: pre-release
        if: steps.changesets.outputs.published == 'false'
        uses: ncipollo/release-action@v1
        with:
          name: 'Latest (Pre-Release)'
          omitBody: true,
          artifacts: 'scalar-*.tgz'
          removeArtifacts: true
          prerelease: true
          allowUpdates: true
          tag: latest
