name: Test api reference

on:
  push:
    paths:
      - 'packages/**'
      - '.github/workflows/test-api-reference-local.yml'
      - 'playwright/tests/**'

jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [20]

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Install fastify api reference dependencies
        run: pnpm --filter "@scalar-examples/fastify-api-reference..." install
      - name: Install CDN api reference dependencies
        run: pnpm --filter cdn-api-reference install
      - name: Turborepo cache
        uses: dtinth/setup-github-actions-caching-for-turbo@v1
      - name: Start local api-reference server
        run: pnpm --filter @scalar-examples/fastify-api-reference dev &
      - name: Start static html server
        run: pnpm --filter cdn-api-reference dev &
      - name: Get installed Playwright version
        id: playwright-version
        run: echo "PLAYWRIGHT_VERSION=$(node -e "console.log(require('./package.json').devDependencies['@playwright/test'])")" >> $GITHUB_ENV
      - name: Cache playwright binaries
        uses: actions/cache@v4
        id: playwright-cache
        with:
          path: '~/.cache/ms-playwright'
          key: '${{ runner.os }}-playwright-${{ env.PLAYWRIGHT_VERSION }}'
          restore-keys: ${{ runner.os }}-playwright-
      - name: Install Playwright browser binaries & OS dependencies
        run: pnpm exec playwright install --with-deps
      - name: Run e2e tests
        run: CI=1 pnpm -r --parallel test:e2e:local
