name: Test CDN Build (jsdelivr)

on:
  schedule:
    # every hour
    - cron: '0 * * * *'
  push:
    paths:
      - 'packages/cdn-api-reference/**'
      - '.github/workflows/test-cdn-jsdelivr.yml'

jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [20]

    steps:
      - uses: actions/checkout@v4
      - name: Send Slack Notification
        if: success() || failure()
        uses: slackapi/slack-github-action@v1.26.0
        with:
          # Slack channel id, channel name, or user id to post message.
          # See also: https://api.slack.com/methods/chat.postMessage#channels
          channel-id: 'U04R4E8R53P'
          slack-message: "GitHub Test Result: ${{ job.status }}\nGitHub Action Workflow Run: https://github.com/scalar/scalar/actions/runs/${{ github.run_id }}"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
      - uses: pnpm/action-setup@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Turborepo cache
        uses: dtinth/setup-github-actions-caching-for-turbo@v1
      - name: Build Packages
        run: pnpm build:packages
      - name: Start HTML Server
        run: pnpm --filter @scalar-examples/cdn-api-reference dev &
      - name: Get installed Playwright version
        id: playwright-version
        run: echo "PLAYWRIGHT_VERSION=$(node -e "console.log(require('./package.json').devDependencies['@playwright/test'])")" >> $GITHUB_ENV
      # TODO doesn't work
      - name: Cache playwright binaries
        uses: actions/cache@v4
        id: playwright-cache
        with:
          path: '~/.cache/ms-playwright'
          key: '${{ runner.os }}-playwright-${{ env.PLAYWRIGHT_VERSION }}'
          restore-keys: ${{ runner.os }}-playwright-
      - name: Install Playwright browser binaries & OS dependencies
        run: pnpm exec playwright install --with-deps
      - name: Run e2e tests (jsdelivr)
        run: CI=1 pnpm test:e2e:jsdelivr
