name: Test CDN Build (Local Bundle)

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [20]

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Turborepo cache
        uses: dtinth/setup-github-actions-caching-for-turbo@v1
      - name: Build
        run: pnpm turbo build
      - name: Start HTML Server
        run: pnpm --filter @scalar-examples/cdn-api-reference dev &
      - name: Get installed Playwright version
        id: playwright-version
        run: echo "PLAYWRIGHT_VERSION=$(node -e "console.log(require('./package.json').devDependencies['@playwright/test'])")" >> $GITHUB_ENV
      # TODO doesn't work
      - name: Cache playwright binaries
        uses: actions/cache@v4
        id: playwright-cache
        with:
          path: '~/.cache/ms-playwright'
          key: '${{ runner.os }}-playwright-${{ env.PLAYWRIGHT_VERSION }}'
          restore-keys: ${{ runner.os }}-playwright-
      - name: Install Playwright browser binaries & OS dependencies
        run: pnpm exec playwright install --with-deps
      - name: Run e2e tests (local)
        run: CI=1 pnpm test:e2e:local
