name: Test CDN Build (jsdelivr)

on:
  schedule:
    # every hour
    - cron: '0 * * * *'
  push:
    paths:
      - 'playwright/tests/**'
      - 'examples/cdn-api-reference/**'
      - '.github/workflows/test-cdn-jsdelivr.yml'

jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [20]

    steps:
      - name: Checkout code
        uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f
      - uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Turborepo cache
        uses: actions/cache/restore@3624ceb22c1c5a301c8db4169662070a689d9ea8
        with:
          path: .turbo
          key: turbo-${{ runner.os }}-node-${{ matrix.node-version }}
      - name: Build packages
        run: pnpm build:packages
      - name: Get Playwright version
        id: playwright-version
        run: echo "PLAYWRIGHT_VERSION=$(npx playwright --version | cut -d' ' -f2)" >> "$GITHUB_OUTPUT"
      - name: Playwright binary cache
        uses: actions/cache@3624ceb22c1c5a301c8db4169662070a689d9ea8
        id: playwright-cache
        with:
          path: |
            ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ steps.playwright-version.outputs.PLAYWRIGHT_VERSION }}
      - name: Install Playwright browsers
        run: npx playwright install
        if: steps.playwright-cache.outputs.cache-hit != 'true'
      - name: Install Playwright dependencies
        run: npx playwright install-deps
      - name: Start HTML server
        run: pnpm --filter @scalar-examples/cdn-api-reference dev &
      - name: Run E2E tests (jsdelivr)
        run: CI=1 pnpm test:e2e:jsdelivr
