name: Test CDN Build (jsdelivr)

on:
  schedule:
    # every hour
    - cron: '0 * * * *'
  pull_request:
    paths:
      - 'playwright/tests/**'
      - 'examples/cdn-api-reference/**'
      - '.github/workflows/test-cdn-jsdelivr.yml'

jobs:
  test:
    runs-on: ubuntu-22.04
    timeout-minutes: 15
    strategy:
      matrix:
        node-version: [20]
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2
      - name: Build packages
        uses: ./.github/actions/build
        with:
          packages-only: true
          node-version: ${{ matrix.node-version }}
      # Caching browser binaries is not recommended, since the amount of time it takes to restore the cache is comparable to the time it takes to download the binaries.
      - name: Install Playwright browsers
        run: npx playwright install
      - name: Install Playwright dependencies
        run: npx playwright install-deps
      - name: Start HTML server
        run: pnpm --filter @scalar-examples/cdn-api-reference dev &
      - name: Run E2E tests (jsdelivr)
        run: |
          CI=1 pnpm test:e2e:jsdelivr
      - uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08
        id: artifact-upload
        if: ${{ failure() }}
        with:
          name: playwright-report
          path: ./playwright/test-results/
          retention-days: 5
      - name: Update snapshot files
        if: ${{ failure() && github.event_name != 'pull_request'}}
        run: pnpm vite-node scripts/update-snapshots.ts
      - name: Create Pull Request
        if: ${{ failure() && github.event_name != 'pull_request' }}
        uses: peter-evans/create-pull-request@67ccf781d68cd99b580ae25a5c18a1cc84ffff1f
        with:
          commit-message: 'test: update CDN API Reference snapshots'
          body: |
            This PR was automatically created to update the snapshots for the CDN build hosted on jsdelivr.

            Please look at the screenshots to review the changes.
          title: 'test(api-reference): update CDN snapshots'
          branch: update-cdn-snapshots
          base: main
          delete-branch: true
          reviewers: amritk, antlio, cameronrohani, geoffgscott, hanspagel, marclave
      - name: Comment on PR with report link
        uses: thollander/actions-comment-pull-request@fabd468d3a1a0b97feee5f6b9e499eab0dd903f6
        if: ${{ failure() && github.event_name == 'pull_request'}}
        with:
          message: |
            ### Playwright visual snapshot differences were detected.
            View the [Playwright report](${{ steps.artifact-upload.outputs.artifact-url }}) to review the visual differences.
            Inspect the changes and commit the updated snapshots if they are satisfactory.
            If a **snapshot-diff.png** is not provided, the snapshots are different sizes.
          comment-tag: playwright-report
          mode: upsert
          create-if-not-exists: true
