name: Validate OpenAPI File

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  validate:
    runs-on: ubuntu-22.04
    timeout-minutes: 15
    strategy:
      matrix:
        node-version: [20]

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Restore Turborepo cache
        uses: actions/cache/restore@1bd1e32a3bdc45362d1e726936510720a7c30a57
        with:
          path: .turbo
          key: turbo-${{ runner.os }}-node-${{ matrix.node-version }}
      - name: Build packages
        run: pnpm build:packages
      - name: Format OpenAPI File
        run: pnpm @scalar/cli format ../../packages/galaxy/src/specifications/3.1.yaml
      - name: Validate OpenAPI File
        run: pnpm @scalar/cli validate ../../packages/galaxy/src/specifications/3.1.yaml
      - name: Update Scalar Sandbox (https://sandbox.scalar.com/e/MeCHQ)
        if: github.ref == 'refs/heads/main'
        run: pnpm @scalar/cli share ../../packages/galaxy/src/specifications/3.1.yaml --token=${{ secrets.SANDBOX_TOKEN }}
        env:
          SANDBOX_TOKEN: ${{ secrets.SANDBOX_TOKEN }}
